<!-- wp:template-part {"slug":"header-transparent","tagName":"header","className":"site-header","layout":{"inherit":false}} /-->

<!-- wp:group {"tagName":"main","className":"is-style-no-spacing","layout":{"inherit":false}} -->
<main class="wp-block-group is-style-no-spacing">
	<!-- wp:pattern {"slug":"ona/general-hero-creative"} /-->

	<!-- wp:pattern {"slug":"ona/general-promo-boxes-minimal"} /-->

	<!-- wp:pattern {"slug":"ona/posts-list-creative"} /-->

	<!-- wp:pattern {"slug":"ona/general-testimonials"} /-->

	<!-- wp:pattern {"slug":"ona/forms-newsletter-book"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":false}} /-->
