<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-about-hero"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-about-section-1"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-about-section-2"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-about-section-3"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-about-section-4"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-about-section-5"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->