<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-destination-hero"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-destination-section-1"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-destination-section-2"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-destination-section-3"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-destination-section-4"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-destination-section-5"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-destination-section-6"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->