<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-packages-hero"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-packages-section-1"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-packages-section-2"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-packages-section-3"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-packages-section-4"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-packages-section-5"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-packages-section-6"} /-->

<!-- wp:pattern {"slug":"travey/gutenverse-packages-section-7"} /-->

<!-- wp:template-part {"slug":"footer"} /-->