/* --- > Media Queries
-------------------------------------------------------- */

/* --- > 480px
-------------------------------------------------------- */

@media screen and (min-width: 30em) {
  .wp-site-blocks .site-header-buttons.header-with-searchbar {
    width: auto;
    border-top: none;
    height: auto;
  }

  .header-with-searchbar {
    border-left: 1px solid;
  }
}

/* --- > 600px
-------------------------------------------------------- */

@media screen and (min-width: 37.5em) {
  .team-section .navigation-wrap {
    display: block;
  }
  .post-navigation-link-next {
    margin-top: 0;
  }
  .wp-block-site-logo + .main-site-title,
  .wp-block-site-logo + .wp-block-site-title {
    display: block;
    margin: 0;
  }
  .main-site-header .site-logo {
    display: flex;
    flex-wrap: wrap;
  }
  .main-site-header .site-logo .wp-block-site-logo {
    margin-inline-end: 21px;
    width: 100%;
    margin-bottom: 14px;
  }
  .wp-block-contact-form-7-contact-form-selector .two-col {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .promotional-video iframe.player {
    height: 420px;
  }

  .main-site-header .site-navigation-row {
    flex-wrap: wrap;
  }

  .contact-section .two-col .wp-block-col + .wp-block-col {
    margin-top: 0;
  }

  .wp-block-contact-form-7-contact-form-selector .two-col .wp-block-col {
    width: 48%;
  }
  .site-logo .wp-block-site-logo + .wp-block-site-title a {
    padding-left: 14px;
  }

  .portfolio-section .wp-block-fse-pro-tabs .container--tabs .nav-tabs {
    justify-content: flex-end;
  }

  .portfolio-section .wp-block-fse-pro-tabs .container--tabs .nav-tabs li {
    margin-right: 0;
    margin-left: 28px;
  }

  .site-logo {
    padding: 21px;
  }
  header .wp-block-buttons .wp-block-button__link {
    padding: 14px 28px;
  }

  .wp-group-author figure.wp-block-image {
    margin-bottom: 0;
  }

  .is-stacked-on-mobile .wp-block-media-text__media {
    margin-bottom: 0;
  }

  header
    .wp-block-navigation
    :where(.wp-block-navigation__submenu-container)
    .wp-block-navigation-item__content {
    padding: 0.7em 2.5em 0.7em 1.5em;
  }

  header
    .wp-block-navigation
    .wp-block-navigation__submenu-container
    .wp-block-navigation-item__content::before {
    display: none;
  }

  .wp-block-navigation
    .wp-block-page-list
    li.has-child:hover
    > .wp-block-navigation__submenu-icon
    .minus,
  .wp-block-navigation
    .wp-block-navigation__container
    li.wp-block-navigation-submenu:hover
    > .wp-block-navigation__submenu-icon
    .minus {
    display: block;
  }
  .wp-block-navigation
    .wp-block-page-list
    li.has-child:hover
    > .wp-block-navigation__submenu-icon
    .plus,
  .wp-block-navigation
    .wp-block-navigation__container
    li.wp-block-navigation-submenu:hover
    > .wp-block-navigation__submenu-icon
    .plus {
    display: none;
  }
  .site-navigation.search-bar-navigation.wp-block-navigation {
    padding-right: 0;
  }
  .search-bar-navigation .wp-block-search {
    margin-left: auto;
    width: auto;
  }

  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: block;
  }
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none;
    position: fixed;
  }

  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li,
  .wp-block-query-loop.is-flex-container.is-flex-container.columns-3 > li {
    width: 100%;
  }
}

/* --- > 601px
-------------------------------------------------------- */

@media screen and (min-width: 37.5625em) {
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    padding: 0 15%;
  }
  .hero-content
    .wp-block-media-text.is-stacked-on-mobile
    .wp-block-media-text__media {
    padding: 0 10%;
  }
  .hero-content
    .wp-block-media-text.is-stacked-on-mobile
    .wp-block-media-text__content {
    padding-left: 8%;
    padding-right: 0;
  }

  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right
    .wp-block-media-text__content {
    padding-left: 0;
  }

  .service-section
    .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right
    .wp-block-media-text__content {
    max-width: 700px;
  }
  .contact-section input[type="submit"] {
    float: right;
  }
}

/* --- > 782px
-------------------------------------------------------- */

@media screen and (min-width: 48.875em) {
  .promotional-video iframe.player {
    height: 480px;
  }
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li,
  .wp-block-query-loop.is-flex-container.is-flex-container.columns-3 > li {
    width: calc((100% / 3) - 1.25em + (1.25em / 3));
  }
  .header-media .wp-header-search-social {
    right: 28px;
  }
  .wp-block-post-template.is-flex-container,
  .wp-block-query-loop.is-flex-container {
    flex-wrap: nowrap;
  }
  .site-header-buttons.header-with-searchbar .wp-block-search__button {
    padding: 8px 21px;
  }
  .wp-block-sidebar-on-right .wp-block-column-sidebar {
    padding-left: calc(0.67 * var(--wp--custom--spacing--wp-block-sidebar));
  }

  .wp-block-sidebar-on-left .wp-block-column-sidebar {
    padding-right: calc(0.67 * var(--wp--custom--spacing--wp-block-sidebar));
  }

  .wp-block-footer .wp-block-widget,
  .wp-block-footer .wp-block-widget:not(:last-child),
  .wp-block-columns > .wp-block-column {
    margin-bottom: 0;
  }

  .wp-block-footer
    .wp-block-navigation
    .has-child
    :where(.wp-block-navigation__submenu-container) {
    bottom: 0%;
    top: unset;
    left: 100%;
  }

  .wp-block-footer
    .wp-block-navigation
    .wp-block-navigation__submenu-container
    .wp-block-navigation__submenu-container {
    bottom: 0;
  }

  .wp-block-footer .wp-block-navigation .wp-block-navigation__submenu-icon svg {
    margin-bottom: 3px;
    transform: rotate(180deg);
  }
  header.alignfull .wp-block-fse-pro-header-social .social-container,
  header.alignfull .wp-block-fse-pro-header-search .search-container,
  header .wp-block-fse-pro-header-social .social-container,
  header .wp-block-fse-pro-header-search .search-container {
    width: 320px;
    left: auto;
    right: 0;
    border: 1px solid;
  }

  .wp-block-navigation
    .has-child
    :where(.wp-block-navigation__submenu-container)
    .wp-block-navigation__submenu-icon {
    margin-right: 14px;
  }
  .wp-block-navigation
    .has-child
    :where(.wp-block-navigation__submenu-container)
    .wp-block-navigation__submenu-icon
    svg {
    transform: none;
  }

  .featured-content-columns .wp-block-buttons,
  .wp-block-post-excerpt__more-text {
    margin-top: 35px;
    padding-top: 28px;
  }
  .wp-service-block-columns > * + * {
    padding-left: 21px;
  }
  .testimonial-slider .fse-slider-wrapper .swiper-button {
    display: block;
  }
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3
    > li:not(:first-child),
  .wp-block-columns.featured-content-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:not(:first-child) {
    margin-left: var(--wp--style--block-gap, 2em);
  }
  .admin-bar .wp-block-navigation__responsive-close {
    margin-top: 30px;
  }
}

/* --- > 1024px
-------------------------------------------------------- */

@media screen and (min-width: 64em) {
  .content > .video-play > span {
    padding-left: 14px;
  }
  .promotional-video iframe.player {
    height: 600px;
  }
  .team-section .fse-slider-wrapper {
    margin-top: -100px;
    padding-top: 100px;
  }
  .portfolio-section .wp-block-fse-pro-tabs .container--tabs .nav-tabs {
    position: absolute;
    right: 0;
    top: -80px;
  }
  .header-media .wp-header-search-social {
    right: 42px;
    top: 35px;
  }
  .is-stacked-on-mobile .wp-block-media-text__media {
    padding-left: 0;
  }
  header .wp-block-buttons .wp-block-button__link {
    border: none;
    border-left: 1px solid;
  }
  .header-light .wp-block-buttons .is-style-outline .wp-block-button__link,
  .header-dark .wp-block-buttons .is-style-outline .wp-block-button__link,
  .header-dark .wp-block-buttonsm .is-style-outline .wp-block-button__link,
  .header-light .wp-block-buttons .is-style-outline.wp-block-button__link,
  .header-with-horizontal-nav
    .wp-block-buttons
    .is-style-outline
    .wp-block-button__link {
    border: 1px solid;
  }
  .site-header-buttons .wp-block-search__button {
    padding: 10px 35px;
  }
  .site-header-buttons .search-container .wp-block-search__button {
    padding: 10px 14px;
  }

  .wp-block-social-links.is-style-logos-only
    .wp-social-link
    .wp-social-link-anchor {
    padding: 12px;
  }

  .header-light
    .wp-block-buttons
    .is-style-lensation-button
    .wp-block-button__link,
  .header-dark
    .wp-block-buttons
    .is-style-lensation-button
    .wp-block-button__link,
  .header-with-horizontal-nav
    .wp-block-buttons
    .is-style-lensation-button
    .wp-block-button__link {
    padding: 0;
  }

  .site-header-buttons
    .is-style-outline
    > .wp-block-button__link:not(.has-background):hover {
    border-right: none;
  }
  .wp-block-buttons > .wp-block-button + .wp-block-button {
    margin-left: 14px;
  }
  .site-header-buttons .wp-block-buttons > .wp-block-button + .wp-block-button {
    margin-left: 0px;
  }
  .header-dark .wp-block-buttons .wp-block-button__link,
  .header-light .wp-block-buttons .wp-block-button__link,
  .header-with-horizontal-nav .wp-block-buttons .wp-block-button__link {
    padding: 14px 28px;
  }
  .site-header-buttons .wp-block-search__inside-wrapper input {
    padding: 0 21px;
    font-size: 20px;
    font-size: 1.25rem;
  }

  .site-header-buttons
    .wp-block-fse-pro-header-search
    .wp-block-search__inside-wrapper
    input {
    min-width: auto;
  }

  .wp-block-post-template .wp-block-columns {
    align-items: center;
  }

  .contact-section .wp-block-column + .wp-block-column {
    margin-top: 0;
    padding-left: var(--wp--custom--spacing--outer);
  }
}

/* --- > 1200px
-------------------------------------------------------- */

@media screen and (min-width: 75em) {

  .wp-block-navigation .wp-block-navigation-item__content:hover,
  .wp-block-navigation .wp-block-navigation-item__content:focus {
    color: var(--wp--preset--color--color-light);
  }
  .portfolio-section .wp-block-fse-pro-tabs .container--tabs .nav-tabs {
    top: -90px;
  }
  .header-media .wp-header-search-social .wp-block-fse-pro-header-search {
    display: block;
  }
  .team-section .fse-slider-wrapper {
    margin-top: -110px;
    padding-top: 110px;
  }
  .header-media .wp-header-search-social {
    display: flex;
  }
  .has-vertical-header
    .wp-block-navigation
    .has-child
    :where(.wp-block-navigation__submenu-container) {
    left: 100%;
    top: -10px;
    border: 1px solid #474747;
  }

  .has-vertical-header
    .wp-block-navigation
    .has-child
    :where(.wp-block-navigation__submenu-container)
    .wp-block-navigation__submenu-container {
    top: -12px;
  }

  header .wp-block-group.alignfull {
    padding: 0;
  }

  .has-vertical-header .main-site-header {
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 140px 0;
  }
  .has-vertical-header .wp-block-navigation .wp-block-page-list,
  .has-vertical-header ul.wp-block-navigation__container {
    gap: 0;
    max-height: calc(100vh - 330px);
  }
  .has-vertical-header .wp-block-page-list .wp-block-pages-list__item {
    margin-bottom: 0;
  }
  .main-site-header .site-navigation-row {
    flex-wrap: nowrap;
  }
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none;
  }
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: block;
    position: relative;
  }
  .main-site-header .wp-block-navigation {
    width: 100%;
  }

  .wp-block-navigation .wp-block-navigation-item__content {
    padding: 12px 35px;
    position: relative;
    background: linear-gradient(
      to right,
      #fff,
      #fff 50%,
      var(--wp--preset--color--secondary-link) 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.6s ease;
    text-decoration: none;
  }

  .promotional-video .content > .video-play svg {
    width: 70px;
    height: 70px;
  }
  .wp-block-navigation
    .wp-block-navigation-item:hover
    > .wp-block-navigation-item__content,
  .wp-block-navigation .current-menu-item > .wp-block-navigation-item__content,
  .wp-block-navigation .wp-block-navigation-item__content:hover {
    background-position: 0 100%;
  }
  header
    .wp-block-navigation
    .current-menu-item
    .wp-block-navigation-item__content::before,
  header .wp-block-navigation .wp-block-navigation-item__content:hover::before {
    opacity: 1;
    width: 25px;
  }
  header .wp-block-navigation .wp-block-navigation-item__content::before {
    position: absolute;
    left: 0%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    background: var(--wp--preset--color--text-link);
    height: 1px;
    width: 0;
    opacity: 0;
    transition: all 0.4s;
  }
  footer.wp-block-template-part,
  body .wp-site-blocks main {
    position: relative;
    margin-left: 250px;
  }
  .wp-site-blocks .wp-inner-post-header {
    margin-left: 250px !important;
    padding-left: 0;
  }
  .wp-site-blocks .has-vertical-header {
    border-right: 1px solid #474747;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

  .wp-site-blocks header .alignfull {
    margin: 0 !important;
  }
  .header-media-full-height .wp-block-cover {
    position: relative;
  }
  .header-media-full-height .wp-block-cover::after,
  .header-media-full-height .wp-block-cover::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    content: "";
    z-index: 3;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
  }
  .header-media-full-height .wp-block-cover::after {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      140deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(25, 24, 24, 0.9) 58%,
      rgba(0, 212, 255, 0) 100%
    );
  }
  .header-media-full-height
    .wp-block-cover
    .has-background-dim:not([class*="-background-color"]) {
    background-color: transparent;
  }
  .header-media-full-height .wp-block-cover .wp-block-cover__inner-container {
    width: 40%;
    z-index: 5;
  }
  .header-media-full-height .wp-block-cover {
    height: 100vh;
  }
  .has-vertical-header .site-logo {
    position: absolute;
    top: 42px;
    left: 35px;
    right: 35px;
  }
  .has-vertical-header .wp-block-navigation .wp-block-navigation-item__label,
  .has-vertical-header .wp-block-navigation .wp-block-navigation-item {
    display: block;
    width: 100%;
  }

  .wp-header-search-social.search-social-on-mobile {
    display: none;
  }
  ul.wp-block-navigation__submenu-container
    .wp-block-navigation-link
    .wp-block-navigation-item__content {
    margin: 0;
  }
  #catch-breadcrumb nav {
    left: 250px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

/* --- > 1366px
-------------------------------------------------------- */
@media screen and (min-width: 85.375em) {
  .promotional-video .wp-block-cover.alignfull {
    min-height: 520px;
  }
  .hero-content
    .wp-block-media-text.is-stacked-on-mobile
    .wp-block-media-text__content {
    padding-right: 15%;
  }
  .contact-section .wp-block-column + .wp-block-column {
    padding-left: 0;
  }
  .contact-section.wp-block-group.wp-block-section .wp-block-group-heading {
    margin-bottom: 42px;
  }
  textarea.wpcf7-form-control.wpcf7-textarea {
    height: 180px;
  }
  .my-masonry-grid .my-masonry-grid_column img {
    margin-bottom: calc(1.35 * var(--wp--style--block-gap, 2em));
  }
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3
    > li:not(:first-child),
  .wp-block-columns.featured-content-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:not(:first-child) {
    margin-left: calc(1.35 * var(--wp--style--block-gap, 2em));
  }
  .wp-inner-post-header .wp-block-cover {
    min-height: 400px;
  }
}

/* --- > 1600px
-------------------------------------------------------- */

@media screen and (min-width: 100em) {
  #catch-breadcrumb nav {
    left: 300px;
  }
  .wp-block-sidebar-on-right .wp-block-column-sidebar {
    padding-left: var(--wp--custom--spacing--wp-block-sidebar);
  }

  .wp-block-sidebar-on-left .wp-block-column-sidebar {
    padding-right: var(--wp--custom--spacing--wp-block-sidebar);
  }

  .site-header-buttons.header-with-searchbar .wp-block-search__button,
  .site-header-buttons .wp-block-search__button,
  .site-logo {
    padding: 28px 42px;
  }
  .my-masonry-grid {
    gap: 40px;
  }
  .my-masonry-grid .my-masonry-grid_column img {
    margin-bottom: calc(1.67 * var(--wp--style--block-gap, 2em));
  }
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3
    > li:not(:first-child),
  .wp-block-columns.featured-content-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:not(:first-child) {
    margin-left: calc(1.67 * var(--wp--style--block-gap, 2em));
  }
  .has-vertical-header .site-logo {
    left: 42px;
    right: 42px;
  }
  .has-vertical-header .wp-block-navigation .wp-block-navigation__submenu-icon {
    right: 21px;
  }
  .wp-block-navigation .wp-block-navigation-item__content {
    padding: 12px 42px;
  }
  .team-section .fse-slider-wrapper {
    margin-top: -120px;
    padding-top: 120px;
  }
  .wp-block-columns.wp-service-block-columns {
    padding-top: 35px;
    margin-top: 35px;
    margin-right: 25%;
  }
  .header-media h2,
  .hero-content.wp-block-group.wp-block-section .wp-block-group-heading,
  .wp-block-section.promotional-video .wp-block-group-heading {
    margin-bottom: 28px;
  }
  .portfolio-section .wp-block-fse-pro-tabs .container--tabs .nav-tabs {
    top: -100px;
  }
  .site-header-buttons .wp-block-search__inside-wrapper input {
    min-width: 300px;
    padding: 12px 28px;
  }

  .portfolio-section .wp-block-fse-pro-tabs .container--tabs .nav-tabs li {
    margin-left: 35px;
  }
  .wp-site-blocks .wp-block-top-header,
  footer.wp-block-template-part,
  body .wp-site-blocks main {
    margin-left: 300px;
  }
  .wp-site-blocks .wp-inner-post-header {
    margin-left: 300px !important;
  }
  .wp-site-blocks .has-vertical-header {
    width: 300px;
  }
  .promotional-video .wp-block-cover.alignfull {
    min-height: 640px;
  }
  .wp-block-footer .wp-block-footer-widget-area-columns {
    gap: var(--wp--custom--spacing--wp-block-heading-margin);
  }
}

@media (min-width: 600px) and (max-width: 781px) {
  .what-we-do-section
    .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:not(:only-child),
  .wp-block-columns.wp-block-custom-column:not(.is-not-stacked-on-mobile)
    > .wp-block-column:not(:only-child),
  .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column.wp-block-column-wrap:not(:only-child) {
    flex-basis: 100% !important;
    flex-grow: 0;
  }
  .wp-block-heading-wrap {
    max-width: 480px;
  }
  .wp-block-column.wp-block-empty-container {
    display: none;
  }
  .what-we-do-section
    .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:nth-child(even),
  .our-studio-section
    .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:nth-child(even) {
    margin-left: 0;
  }
}

@media (min-width: 782px) {
  // .wp-block-columns:not(.is-not-stacked-on-mobile)
  //   > .wp-block-column:not(:first-child) {
  //   margin-left: calc(1.67 * var(--wp--style--block-gap, 2em));
  // }
  // .wp-block-post-template
  //   .wp-block-columns:not(.is-not-stacked-on-mobile)
  //   > .wp-block-column:not(:first-child) {
  //   margin-left: var(--wp--style--block-gap, 2em);
  // }
}

@media (max-width: 1024px) {
  .service-section .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }
  .service-section
    .wp-block-media-text.is-stacked-on-mobile
    .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
    max-width: 400px;
  }
  .service-section
    .wp-block-media-text.is-stacked-on-mobile
    .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 2;
  }
  .contact-section
    .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column {
    flex-basis: 100% !important;
  }
  .contact-section .wp-block-columns {
    flex-wrap: wrap !important;
  }
}
@media (max-width: 781px) {
  .wp-block-columns.stats-four-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column {
    flex-basis: 50% !important;
  }
  .wp-block-columns > .wp-block-column > .wp-block-buttons {
    justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  .wp-block-columns.stats-four-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column {
    flex-basis: 100% !important;
  }
}
