<!-- wp:template-part {"slug":"header-with-logo-center","tagName":"header"} /-->

<!-- wp:pattern {"slug":"blockmag/404-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

<!-- wp:group {"tagName":"div"} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
<!-- wp:pattern {"slug":"blockmag/hidden-404"} /-->
</div>
<!-- /wp:group --></div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
