<!-- wp:template-part {"slug":"header-with-logo-center" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">

    <!-- wp:pattern {"slug":"blockmag/featured-news"} /-->
    <!-- wp:pattern {"slug":"blockmag/latest-news"} /-->
    <!-- wp:pattern {"slug":"blockmag/cover-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
