/* --- Block Portfolio
-------------------------------------------------------- */

.portfolio-section .wp-block-fse-pro-tabs {
  position: relative;
  max-width: 100%;

  .container--tabs .nav-tabs {
    width: auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 21px;

    li {
      margin-right: 21px;
      margin-bottom: 14px;

      &.active a {
        border-bottom: 1px solid;
        background: transparent;
      }
    }

    a {
      padding: 0 0 5px;
      border: none;
      font-size: 16px;
      font-size: 1rem;
      font-weight: var(--wp--custom--typography--font-weight--medium);

      &:hover,
      &:focus {
        border: none;
      }
    }
  }
}

.wp-block-fse-pro-tabs .wp-block-image {
  position: relative;
  overflow: hidden;
}
.wp-block-fse-pro-tabs .wp-block-image figcaption {
  position: absolute;
  left: 0;
  bottom: -50px;
  margin: 0;
  padding: 14px;
  font-size: 20px;
  font-weight: bold;
  right: 0;
  opacity: 0;
  transition: all 0.4s;
}
.wp-block-fse-pro-tabs .wp-block-image:hover figcaption {
  bottom: 0;
  opacity: 1;
}

.wp-block-fse-pro-tab .wp-block-column > * + * {
  margin-block-start: calc(1.67 * var(--wp--style--block-gap, 2em));
}

.portfolio-section .my-masonry-grid.layout-three .my-masonry-grid_column,
.portfolio-section .my-masonry-grid.layout-four .my-masonry-grid_column,
.portfolio-section .my-masonry-grid.layout-two .my-masonry-grid_column {
  padding: 0;
}
