<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main", "layout":{"inherit":true}} -->
<main class="wp-block-group blockcontainer">
    <!-- wp:template-part {"slug":"searchbar","tagName":"div"} /-->
   
<!-- wp:heading -->
<h2>Page Not Found</h2>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>This page cannot be found. You may use the search box above.</p>
<!-- /wp:paragraph -->
<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
