<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"blockcontainer","layout":{"inherit":true}} -->
<div class="wp-block-group blockcontainer"><!-- wp:template-part {"slug":"searchbar","tagName":"div"} /-->

  <!-- wp:spacer {"height":"2rem"} -->
  <div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  
  <!-- wp:post-title /-->
  
  <!-- wp:post-content /-->
  
  <!-- wp:group -->
  <div class="wp-block-group">
  <!-- wp:heading {"level":4} -->
  <h4>Category</h4>
  <!-- /wp:heading -->
  
  <!-- wp:post-terms {"term":"category"} /-->
  
  <!-- wp:heading {"level":4} -->
  <h4>Tags</h4>
  <!-- /wp:heading -->
  
  <!-- wp:post-terms {"term":"post_tag"} /--></div>
  <!-- /wp:group -->
    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:post-comments /-->
  
  <!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></div>
  <!-- /wp:group -->