/* --- Block Testimonial Style
-------------------------------------------------------- */

.wp-block-kelsey-testimonial {
    padding: var(--wp--custom--spacing--testimonial-inner-gap);
    position: relative;
    border: 10px solid var(--wp--preset--color--border-color-next);
}

.wp-block-kelsey-testimonial .wp-group-author figure img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 10px solid var(--wp--preset--color--secondary);
}

.wp-block-kelsey-testimonial .wp-group-author h6 + p {
    margin-top: 7px;
}

.wp-group-author figure.wp-block-image {
    margin-top: -100px;
}

.testimonial-columns > .wp-block-column {
    padding-top: 75px;
}

/* Testimonial Quote */
.wp-block-kelsey-testimonial:before {
    content: "\201D";
    font-size: 144px;
    font-size: 8rem;
    font-family: Arial;
    position: absolute;
    top: 28px;
    line-height: 1;
    right: 35px;
    color: var(--wp--preset--color--text-link);
}

.wp-block-columns:not(.testimonial-two-columns):not(.testimonial-three-columns) .wp-block-kelsey-testimonial {
    max-width: none;
}


/* --- Block Testimonial Slider
-------------------------------------------------------- */

.testimonial-slider-wrap .testimonial-slider .swiper-slide {
    padding: 85px 0 0;
}

.testimonial-slider-wrap .tns-nav {
    text-align: center;
    margin-top: var(--wp--custom--spacing--wp-comment-horizontal);
}

.testimonial-section {
    
    .kelsey-slider-wrapper .wp-block-image {
        text-align: left;
    }

    .wp-block-kelsey-testimonial .wp-group-content {
        padding-top: 0;
        &:before {
            content: none;
        }
    }

    .kelsey-slider-wrapper .swiper-pagination {
        position: static;
        padding-top: var(--wp--custom--spacing--wp-comment-horizontal);
    }
}