<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"40px","bottom":"80px"}}},"className":"site-content"} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-top:40px;padding-bottom:80px">
<!-- wp:pattern {"slug":"astory/general-hero"} /-->
<!-- wp:pattern {"slug":"astory/general-boxes-three"} /-->
<!-- wp:pattern {"slug":"astory/general-pricing-three-columns"} /-->
<!-- wp:pattern {"slug":"astory/general-testimonials"} /-->
<!-- wp:pattern {"slug":"astory/general-cta-stacked"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->