<!-- wp:columns {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background-secondary"} -->
<div
  class="wp-block-columns has-background-secondary-background-color has-background"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
  <!-- wp:column {"width":"400px","layout":{"wideSize":""}} -->
  <div class="wp-block-column" style="flex-basis: 400px">
    <!-- wp:template-part {"slug":"header","theme":"gutenify-photoshot"} /-->
  </div>
  <!-- /wp:column -->

  <!-- wp:column {"width":"","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
  <div
    class="wp-block-column has-background-background-color has-background"
    style="
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    "
  >
 <!-- wp:pattern {"slug":"gutenify-photoshot/hidden-404"} /-->
    <!-- wp:template-part {"slug":"footer","theme":"gutenify-photoshot","tagName":"footer"} /-->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
