<!-- wp:columns {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background-secondary"} -->
<div
  class="wp-block-columns has-background-secondary-background-color has-background"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
  <!-- wp:column {"width":"400px","layout":{"wideSize":""}} -->
  <div class="wp-block-column" style="flex-basis: 400px">
    <!-- wp:template-part {"slug":"header","theme":"gutenify-photoshot"} /-->
  </div>
  <!-- /wp:column -->

  <!-- wp:column {"width":"","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
  <div
    class="wp-block-column has-background-background-color has-background"
    style="
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    "
  >
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background","layout":{"inherit":true}} -->
    <div
      class="wp-block-group has-background-background-color has-background"
      style="
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
      "
    >
      <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}},"color":{"background":"#0a0b0d"}},"layout":{"inherit":true}} -->
      <div
        class="wp-block-group alignfull has-background"
        style="
          background-color: #0a0b0d;
          padding-top: 40px;
          padding-right: 40px;
          padding-bottom: 40px;
          padding-left: 40px;
        "
      >
        <!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"},"fontSize":"content-heading"} -->
        <div class="wp-block-group alignfull has-content-heading-font-size">
          <!-- wp:post-title {"textColor":"foreground","fontSize":"extra-large"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"align":"full"} -->
      <div class="wp-block-group alignfull">
       <!-- wp:pattern {"slug":"gutenify-photoshot/search"} /-->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}},"layout":{"inherit":true}} -->
        <div
          class="wp-block-group"
          style="padding-top: 80px; padding-bottom: 80px"
        >
          <!-- wp:query {"queryId":1,"query":{"perPage":"6","pages":"","offset":"","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","displayLayout":{"type":"flex","columns":2},"align":"wide","layout":{"inherit":true}} -->
          <main class="wp-block-query alignwide">
            <!-- wp:post-template {"align":"wide"} -->
            <!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"className":"has-shadow-dark animated animated-fadeInUp","layout":{"inherit":true}} -->
            <div
              class="wp-block-group has-shadow-dark animated animated-fadeInUp"
              style="
                padding-top: 0px;
                padding-right: 0px;
                padding-bottom: 0px;
                padding-left: 0px;
              "
            >
              <!-- wp:post-featured-image {"isLink":true,"align":"wide","className":"no-padding"} /-->

              <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"margin":{"top":"0px"},"blockGap":"10px"}},"backgroundColor":"background-secondary"} -->
              <div
                class="wp-block-group alignwide has-background-secondary-background-color has-background"
                style="
                  margin-top: 0px;
                  padding-top: 40px;
                  padding-right: 40px;
                  padding-bottom: 40px;
                  padding-left: 40px;
                "
              >
                <!-- wp:post-title {"level":3,"isLink":true,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.4","fontSize":"1.3rem"}}} /-->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group">
                  <!-- wp:post-date {"format":"M j, Y","isLink":true,"fontSize":"small"} /-->
                </div>
                <!-- /wp:group -->

             <!-- wp:post-excerpt {"moreText":"Know More","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /-->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:spacer {"height":"20px"} -->
            <div
              style="height: 20px"
              aria-hidden="true"
              class="wp-block-spacer"
            ></div>
            <!-- /wp:spacer -->
            <!-- /wp:post-template -->

            <!-- wp:query-pagination {"paginationArrow":"arrow","align":"center","layout":{"type":"flex","justifyContent":"space-between"}} -->
            <!-- wp:query-pagination-previous {"fontSize":"small"} /-->

            <!-- wp:query-pagination-numbers /-->

            <!-- wp:query-pagination-next {"fontSize":"small"} /-->
            <!-- /wp:query-pagination -->
          </main>
          <!-- /wp:query -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"gutenify-photoshot","tagName":"footer"} /-->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
