<!-- wp:template-part {"slug":"header-with-social-and-cart-dark" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">
    <!-- wp:pattern {"slug":"laventa/header-media"} /-->
    <!-- wp:pattern {"slug":"laventa/products-recent"} /-->
    <!-- wp:pattern {"slug":"laventa/cta"} /-->
    <!-- wp:pattern {"slug":"laventa/featured-content"} /-->
    <!-- wp:pattern {"slug":"laventa/hero-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns-dark","tagName":"footer"} /-->
