<!-- wp:template-part {"slug":"header-with-social-and-cart-dark","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:group {"className":"wp-block-inner-page-title","layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group wp-block-inner-page-title">
        <!-- wp:group -->
        <div class="wp-block-group">
            <!-- wp:post-title {"textAlign":"center"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"inherit":"true"}} -->
    <div class="wp-block-group">
        <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--wp-comment-vertical)"}}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"inherit":"true"}} /-->

    <!-- wp:spacer {"height":30} -->
    <div style="height: 30px;" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"layout":{"inherit":"true"}} -->
    <div class="wp-block-group">
        <!-- wp:post-comments {"className":"is-style-post-comments"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns-dark","tagName":"footer"} /-->
