.wc-block-cart-item__wrap{padding: 10px 20px}
.wc-block-components-product-low-stock-badge{border:1px solid #69c469;color: #69c469;font-size: .5em;}
table.wc-block-mini-cart-items tbody td{border-top:1px solid #0000001c}
.wc-block-components-product-name{text-decoration:none}.wp-block-woocommerce-mini-cart-contents h2.wc-block-mini-cart__title{text-align: center;}