/* --- Block Base (from 2022 wordpress default)
-------------------------------------------------------- */

/*
 * Font smoothing.
 * This is a niche setting that will not be available via Global Styles.
 * https://github.com/WordPress/gutenberg/issues/35934
 */

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*
 * Text and navigation link styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25ch;
}

a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.wp-block-navigation:where(:not([class*="has-text-decoration"])) a {
  text-decoration: none;
}

/*
 * Search and File Block button styles.
 * Necessary until the following issues are resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/36444
 * https://github.com/WordPress/gutenberg/issues/27760
 */

.wp-block-search__button,
.wp-block-file .wp-block-file__button {
  background-color: var(--wp--preset--color--primary);
  border-radius: 0;
  border: none;
  color: var(--wp--preset--color--background);
  font-size: var(--wp--preset--font-size--medium);
  padding: 16px;
}

.wp-block-sidebar .wp-block-widget {
  padding: 30px;
  background: var(--wp--preset--color--alternate-secondary-bg-color);
}

/*
 * Button hover styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */
/*
 * Alignment styles.
 * These rules are temporary, and should not be relied on or
 * modified too heavily by themes or plugins that build on
 * VisionArt. These are meant to be a precursor to
 * a global solution provided by the Block Editor.
 *
 * Relevant issues:
 * https://github.com/WordPress/gutenberg/issues/35607
 * https://github.com/WordPress/gutenberg/issues/35884
 */

.wp-site-blocks,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-group.alignfull,
.banner .wp-block-cover__inner-container,
.slider .wp-block-cover,
.wp-block-group.has-background,
.wp-block-cover.alignfull,
.is-root-container .wp-block[data-align="full"]>.wp-block-group,
.is-root-container .wp-block[data-align="full"]>.wp-block-cover {
  padding-left: var(--wp--custom--spacing--outer);
  padding-right: var(--wp--custom--spacing--outer);
}

.wp-site-blocks .alignfull,
.wp-site-blocks>.wp-block-group.has-background,
.wp-site-blocks>.wp-block-cover,
.wp-site-blocks>.wp-block-template-part>.wp-block-group.has-background,
.wp-site-blocks>.wp-block-template-part>.wp-block-cover,
body>.is-root-container>.wp-block-group.has-background,
body>.is-root-container>.wp-block-cover,
body>.is-root-container>.wp-block-template-part>.wp-block-group.has-background,
body>.is-root-container>.wp-block-template-part>.wp-block-cover,
.is-root-container .wp-block[data-align="full"] {
  margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  width: unset;
}

/* Blocks inside columns don't have negative margins. */
.wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
.is-root-container .wp-block-columns .wp-block-column .wp-block[data-align="full"],
/* We also want to avoid stacking negative margins. */
.wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
.is-root-container .wp-block[data-align="full"]>*:not(.wp-block-group) .wp-block[data-align="full"] {
  margin-left: auto !important;
  margin-right: auto !important;
  width: inherit;
}

/*
 * Responsive menu container padding.
 * This ensures the responsive container inherits the same
 * spacing defined above. This behavior may be built into
 * the Block Editor in the future.
 */

.wp-block-navigation__responsive-container.is-menu-open {
  padding: 20px 35px;
}

.wp-block-sidebar>* h2 {
  font-family: var(--wp--preset--font-family--poppins);
}

.wp-block-post-meta>*,
.wp-block-post-meta .wp-block-post-author__name {
  font-size: var(--wp--preset--font-size--extra-small);
}

.wp-block-post-template .wp-block-post-featured-image {
  margin: 0;
}

.wp-block-post-author__content .wp-block-post-author__name {
  font-weight: var(--wp--custom--typography--font-weight--normal);
}

[class*="wp-container-"] .wp-block-columns {
  gap: var(--wp--custom--spacing--section-heading);

  +.wp-block-columns {
    margin-top: var(--wp--custom--spacing--section-heading);
  }
}

.feature-content-section .wp-block-post-template.is-flex-container,
.wp-block-query-loop.is-flex-container {
  gap: var(--wp--custom--spacing--section-heading);
}

pre {
  white-space: pre-wrap;
  padding: 25px;
  box-sizing: border-box;
}