/* --- Theme Style
-------------------------------------------------------- */

a,
.content>.video-play:hover span,
.content>.video-play svg,
a svg.icon,
#myBtn:after,
ins,
.woocommerce #respond input#submit.alt,
.woocommerce a.button,
.woocommerce button,
.swiper-pagination-bullet,
.wc-block-mini-cart__button,
svg,
.team-section .wp-block-column,
.wp-block-button__link,
.woocommerce ul.products li.product .button,
.wp-block-query-pagination-previous,
.wp-block-query-pagination-next,
.wp-block-post-excerpt__more-link,
.tnp.tnp-subscription .tnp-field input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-fse-pro-header-search svg,
header svg,
.wp-block-social-links a,
.header svg,
.wp-block-search__button,
.wc-block-product-search .wc-block-product-search__button,
.wc-block-components-button:not(.is-link).outlined,
.woocommerce ul.products li.product a h2,
.wp-block-navigation__responsive-container,
.services .wp-block-columns .wp-block-column:not(.section-heading),
.servicess .wp-block-columns .wp-block-column:not(.section-heading),
.wc-block-components-pagination__page,
.wp-block-query-pagination-previous,
.wp-block-query-pagination-next,
.wp-block-post-excerpt__more-link,
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.fse-slider-wrapper .wp-block-image figcaption,
.post-navigation-link__label,
.swiper-pagination span,
.slider-content *,
.wp-block-navigation .wp-block-navigation__submenu-container,
.wp-block-button.is-style-VisionArt-button .wp-block-button__link:before,
.wp-block-navigation .wp-block-navigation-item,
.service-section .wp-block-column,
.team-section .wp-block-column figure:before,
.team-section .plus-icon,
.social-lists,
.gallery-section .container--tabs .nav-tabs li a:before,
.wp-block-navigation .has-child .wp-block-navigation__submenu-container,
.featured-content .wp-block-post-excerpt__more-link:before,
.wp-block-navigation .wp-block-navigation__submenu-container li a:before,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor,
.wp-block-post-featured-image img {
  @include transition(0.5s ease-in-out);
}

pre {
  background-color: var(--wp--preset--color--secondary);
}

.wp-block-image {
  margin-bottom: 1.5em;
  margin-top: var(--wp--style--block-gap, 2em);
}

.wp-block-columns>.wp-block-column:last-child {
  margin-bottom: 0;
}

body:not(.home) .wp-site-blocks main {
  padding-bottom: var(--wp--custom--spacing--main-block-gap);
  padding-top: var(--wp--custom--spacing--main-block-gap);
}

.wp-block-table,
.wp-block-audio,
.wp-block-pullquote {
  margin-top: var(--wp--style--block-gap);
}

.wp-block-latest-posts li a {
  text-decoration: none;
}

.wp-block-latest-posts.is-grid li {
  margin-bottom: 0;
}

.wp-block-categories__list a,
.wp-block-categories-list a,
.wp-block-archives-list a {
  text-decoration: none;
}

.wp-block-section .wp-block-columns .wp-block-columns {
  margin-bottom: 0;
}

.is-stacked-on-mobile .wp-block-media-text__media {
  margin-bottom: 28px;
}

.wp-block-media-text .wp-block-media-text__content {
  padding: 0;
}

body.page-template-blank .wp-site-blocks main {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

/* --- WP Block Site title Style
-------------------------------------------------------- */

.wp-block-site-title {

  a {
    text-decoration: none;
  }
}


/* --- WP Block Navigation Main
-------------------------------------------------------- */

.wp-block-navigation .wp-block-navigation-item a:hover,
.wp-block-navigation .wp-block-navigation-item a:focus {
  text-decoration: none;
}

.wp-block-buttons-header .wp-block-buttons .wp-block-button .wp-block-button__link {
  margin-top: 0;
}

.wp-block-navigation .wp-block-navigation__submenu-container {
  padding: 7px 0;

  li a {
    position: relative;

    &:before {
      content: "";
      height: 1px;
      width: 0;
      position: absolute;
      left: 0;
      top: 50%;
      @include transform(translateY(-50%));
      width: 0;
    }

    &:hover {
      @include transform(translateX(10px));

      &:before {
        width: 9px;
      }
    }
  }
}

.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item.current-menu-item a:before {
  width: 9px;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item.current-menu-item .wp-block-navigation-item__content {
  transform: translateX(10px);
  -webki-ttransform: translateX(10px);
  -moz-transform: translateX(10px);
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
  border: 0;
}

.wp-block-navigation .wp-block-navigation__submenu-container a {
  font-size: var(--wp--preset--font-size--extra-small);
  font-weight: var(--wp--custom--typography--font-weight--normal);
  text-transform: capitalize;
}

.wp-block-centered-menu .wp-block-navigation {
  text-align: center;
}

/* --- WP Block Button
-------------------------------------------------------- */

.comment-reply-title {
  font-family: var(--wp--preset--font-family--pt-serif);
  font-size: var(--wp--custom--typography--font-size--heading-two);
  font-weight: var(--wp--custom--typography--font-weight--normal);
  margin-top: 0;
}

.comment-content,
.comment-metadata,
.reply {
  padding-left: clamp(82px, 8vw, 128px);
}

.comment-metadata {
  font-size: var(--wp--preset--font-size--tiny);
}

.wp-block-post-comments .commentlist .depth-1.parent {
  padding-left: 0;
}

.wp-block-post-comments {
  input[type="submit"] {
    margin-top: clamp(18px, 3.5vw, 24px);
    border: 0;

    &:focus,
    &:hover {
      outline-color: transparent;
    }
  }
}

.wp-block-tnp-minimal {
  margin: 0 !important;
  padding: 0 !important;
}

.is-style-outline>.wp-block-button__link:not(.has-text-color) {
  border-radius: 0;
  border: 2px solid;
  overflow: hidden;
  position: relative;
}

.tnp.tnp-subscription .tnp-field input[type="submit"],
.tnp.tnp-subscription-minimal form {
  border-radius: 0;
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.wp-block-button.is-style-outline>.wp-block-button__link,
.wp-block-button .wp-block-button__link.is-style-outline,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-query-pagination-previous,
.wp-block-query-pagination-next,
.wp-block-post-excerpt__more-link,
.tnp.tnp-subscription .tnp-field input[type="submit"] {
  padding-top: clamp(10px, 3vw, 21px);
  padding-right: clamp(32px, 3vw, 40px);
  padding-bottom: clamp(10px, 3vw, 21px);
  padding-left: clamp(32px, 3vw, 40px);
}

.wp-block-button:not(.is-style-VisionArt-button).is-style-outline>.wp-block-button__link:not(.has-text-color):hover,
.wp-block-button:not(.is-style-VisionArt-button).is-style-outline>.wp-block-button__link:not(.has-text-color):focus {
  border-color: transparent;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  letter-spacing: 0.88px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

.wp-block-query-pagination-previous,
.wp-block-query-pagination-next,
.wp-block-post-excerpt__more-link,
.tnp.tnp-subscription .tnp-field input[type="submit"] {
  cursor: pointer;
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--typography--font-weight--extra-bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-section.wp-block-section {
  padding-bottom: 0;
}

.wp-block-button:not(.is-style-VisionArt-button) .wp-block-button__link,
.woocommerce ul.products li.product .button,
.woocommerce button.button,
.woocommerce #respond input#submit,
form.wpcf7-form input[type="submit"],
.wp-block-post-excerpt__more-link {

  &:hover,
  &:focus {
    box-shadow: 0 29px 38px -25px var(--wp--preset--color--background);
  }
}

.header-light .wp-block-button__link:hover,
.header-light .wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:focus {
  &:after {
    outline-color: transparent;
  }
}

/* --- WP Block Query Pagination
-------------------------------------------------------- */

.wp-block-query-pagination>.wp-block-query-pagination-numbers {
  @include flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px
}

.wp-block-query-pagination-numbers .page-numbers {
  box-sizing: border-box;
  @include border(5px);
  @include flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: var(--wp--preset--font-size--upper-heading);
  height: 40px;
  text-decoration: none;
  text-align: center;
  width: 40px;
}

.wp-block-query-pagination-numbers .page-numbers:not(.dots):hover,
.wp-block-query-pagination-numbers .page-numbers:not(.dots):focus,
.wp-block-query-pagination-numbers .page-numbers:not(.dots).current {
  color: var(--wp--preset--color--foreground);
}

/* --- WP Block Post Terms( WP Block Post Meta)
-------------------------------------------------------- */

.taxonomy-category.wp-block-post-terms>a,
.taxonomy-post_tag.wp-block-post-terms>a,
.wp-block-post-date a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: var(--wp--preset--font-size--tiny);
}

.single .taxonomy-category.wp-block-post-terms>a,
.single .taxonomy-post_tag.wp-block-post-terms>a {
  color: var(--wp--preset--color--body-text);
  border: 1px solid;
  display: inline-block;
  font-size: var(--wp--preset--font-size--medium);
  margin-right: 7px;
  margin-bottom: 7px;
  padding: 4px 14px;
  text-transform: capitalize;

  &:hover,
  &:focus {
    border-color: transparent;
  }
}

.single .taxonomy-category.wp-block-post-terms>.wp-block-post-terms__separator,
.single .taxonomy-post_tag.wp-block-post-terms>.wp-block-post-terms__separator {
  display: none;
}

/* --- WP Block Post Navigation Link
-------------------------------------------------------- */

.wp-block-post-navigation-link .post-navigation-link__label {
  display: block;
  font-size: var(--wp--preset--font-size--medium);
  font-weight: var(--wp--custom--typography--font-weight--regular);
  font-family: var(--wp--preset--font-family--open-sans);
  line-height: var(--wp--custom--typography--line-height--extra-small);
  text-transform: uppercase;
  margin-bottom: clamp(10px, 3vw, 17px);

  svg {
    width: 7px;
  }
}

.post-navigation-link-next {
  margin-top: 21px;
}

.wp-block-post-navigation-link a {
  text-decoration: none;
}

/* --- WP Block Post Template(wp-block-post)
-------------------------------------------------------- */

.wp-block-post-title {
  a {
    text-decoration: none;
  }
}

.wp-block-sidebar .wp-block-widget .wp-block-categories li:before {
  background: var(--wp--preset--color--button-bg-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4px;
}

.wp-block-post-template .wp-block-post-meta>* {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

svg.icon {
  fill: var(--wp--preset--color--body-text);
  height: 14px;
  margin-right: 7px;
  width: 14px;
  position: relative;
  top: 2px;
}

.wp-block-post-navigation-link {
  svg.icon {
    display: none;
  }
}

.post-navigation-link-next svg.icon {
  padding-left: 7px;
}

.post-navigation-link-previous svg.icon {
  padding-right: 7px;
}

a svg.icon {
  fill: var(--wp--preset--color--foreground);
}

.wp-block-post-excerpt>*:last-child {
  margin-bottom: 0;
}

.wp-block-post-template>li {
  margin-bottom: var(--wp--custom--spacing--wp-comment-horizontal);
}

.wp-block-post-featured-image {
  overflow: hidden;
}

.wp-block-post-featured-image:hover img {
  transform: scale(1.05);
}

.wp-block-post-comments ul,
.wp-block-post-comments ol {
  list-style-type: none;
  padding: 0;
}

.wp-block-VisionArt-pro-featured-content .wp-block-image,
.wp-block-VisionArt-featured-content {
  .wp-block-image {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }

    &:hover:before {
      -webkit-animation: shine 0.75s;
      animation: shine 0.75s;
    }
  }
}

figure.wp-block-post-featured-image {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    filter: blur(2px);
  }

  &:hover:before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.wp-block-post-author {
  text-transform: capitalize;
}

/* --- WP Block Quote
-------------------------------------------------------- */

.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer,
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer {
  text-align: left;
}

.wp-block-quote.has-text-align-left.is-style-large cite,
.wp-block-quote.has-text-align-left.is-style-large footer,
.wp-block-quote.has-text-align-left.is-large cite,
.wp-block-quote.has-text-align-left.is-large footer {
  text-align: left;
}

.wp-block-quote.has-text-align-right.is-style-large cite,
.wp-block-quote.has-text-align-right.is-style-large footer,
.wp-block-quote.has-text-align-right.is-large cite,
.wp-block-quote.has-text-align-right.is-large footer {
  text-align: right;
}

.wp-block-quote.has-text-align-center.is-style-large cite,
.wp-block-quote.has-text-align-center.is-style-large footer,
.wp-block-quote.has-text-align-center.is-large cite,
.wp-block-quote.has-text-align-center.is-large footer {
  text-align: center;
}

.wp-block-quote.is-style-plain,
.wp-block-quote.is-style-large,
.wp-block-quote.is-large {
  padding: 0;
}

.wp-block-quote.is-style-large p,
.wp-block-quote p,
.wp-block-pullquote.is-style-solid-color blockquote p,
.wp-block-pullquote p,
.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p,
.wp-block-pullquote.has-text-align-left p,
.wp-block-pullquote.has-text-align-right p,
.wp-block-quote.is-large p {
  font-size: var(--wp--preset--font-size--content-heading);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  font-family: var(--wp--preset--font-family--open-sans);
}

.wp-block-quote cite,
.wp-block-pullquote cite,
.wp-block-quote footer,
.wp-block-quote.is-style-large cite {
  font-weight: var(--wp--custom--typography--font-weight--bold);
  font-size: var(--wp--preset--font-size--medium);
}

/* --- WP Block Table
-------------------------------------------------------- */

.wp-block-table.is-style-stripes tbody tr:nth-child(2n + 1) {
  background-color: var(--wp--preset--color--secondary-bg-color);
}

.wp-block-table.is-style-stripes {
  border-bottom: 0;
}

.wp-block-table.is-style-stripes thead {
  border: 0;
  color: var(--wp--preset--color--foreground);
}

.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
  padding: 0.5em 1.4em;
}

.wp-block-table.is-style-stripe th:not(.has-text-align-left):not(.has-text-align-right):not(.has-text-align-center) {
  text-align: left;
}

/* --- WP Block Search
-------------------------------------------------------- */

.wp-block-search {
  background-color: transparent;
  box-shadow: 0 3px 23px -18px rgba(60, 60, 60, 52%);
  border-radius: 45px;
  padding: 0;

  .wp-block-search__inside-wrapper,
  &.wp-block-search__button-inside .wp-block-search__inside-wrapper {
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 0;

    .wp-block-search__input {
      padding: 0 20px;
      height: 60px;

      &:focus {
        outline: none;
      }
    }

    .wp-block-search__button {
      cursor: pointer;
      margin: 0;
      height: auto;
      @include flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}

.wp-block-search__no-button.wp-block-search .wp-block-search__inside-wrapper .wp-block-search__input {
  border-radius: 45px;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
  border-radius: 45px 0 0 45px;
}

/* --- WP Block Form and Input Fields
-------------------------------------------------------- */

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  padding: calc(0.667em + 2px);
  font-size: var(--wp--preset--font-size--upper-heading);
  line-height: var(--wp--custom--typography--line-height--heading-six);
  font-weight: var(--wp--custom--typography--font-weight--normal);
  width: 100%;
  box-sizing: border-box;
  color: var(--wp--preset--color--body-text);
  border: 1px solid var(--wp--preset--color--alternate-border-color);
  outline: none;
}

.wp-block-post-comments input:not([type="submit"]) {
  border: 1px solid transparent;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  &:focus {
    border-color: var(--wp--preset--color--hover-color);
  }
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
  padding: 10px 20px;
}

/* --- WP Block Embed
-------------------------------------------------------- */

.wp-block-embed {
  margin-top: var(--wp--style--block-gap);
}

/* --- WP Block Image
-------------------------------------------------------- */

.wp-block-image .alignleft {
  margin-right: 2em;
}

.wp-block-image .alignright {
  margin-left: 2em;
}

/* --- Block Widget
-------------------------------------------------------- */

.wp-block-widget-area * {
  font-size: var(--wp--preset--font-size--upper-heading);
  line-height: var(--wp--custom--typography--line-height--heading-six);
  font-weight: var(--wp--custom--typography--font-weight--normal);
  font-family: var(--wp--preset--font-family--poppins);
}

.wp-block-widget-area a {
  text-decoration: none;
}

.wp-block-widget-area h2 {
  line-height: var(--wp--custom--typography--line-height--paragraph);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  text-transform: capitalize;
}

.wp-block-post-excerpt__more-text {
  margin-top: clamp(21px, 3vw, 32px);
}

.wp-block-tag-cloud>a {
  display: inline-block;
  margin-bottom: 7px;
  padding: 4px 14px;
  text-decoration: none;
}

.wp-block-widget-area ul {
  list-style: none;
  padding-left: 0;
}

.wp-block-widget-area li {
  margin-bottom: 14px;
}

.wp-block-widget-area li:before,
.wp-block-widget-area li:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.wp-block-widget-area li:after {
  clear: both;
}

.wp-block-sidebar .wp-block-archives-list>li,
.wp-block-sidebar .wp-block-categories-list>li {
  text-align: right;
  position: relative;
  padding-left: 25px;
}

.about .is-style-outline>.wp-block-button__link:not(.has-text-color) {
  @include border(8px);
}

.wp-block-archives-list>li>a,
.wp-block-categories-list>li>a {
  float: left;
}

ul.wp-block-archives,
.wp-block-categories {
  padding-left: 1em;
}

/* --- Block Widget Sidebar
-------------------------------------------------------- */

.wp-block-sidebar>*:not(:last-child) {
  margin-bottom: var(--wp--custom--spacing--wp-block-sidebar-widget);
}

.wp-block-sidebar>* h2 {
  margin-bottom: 14px;
  padding-bottom: 14px;
}

.wp-block-sidebar .wp-block-latest-posts__list>li:not(:last-child) {
  border-bottom: 1px solid;
  margin-bottom: 21px;
  padding-bottom: 21px;
}

.wp-block-widget-area .wp-block-latest-posts__list>li>a {
  font-weight: var(--wp--custom--typography--font-weight--bold);
}

.wp-block-sidebar .wp-block-latest-posts__post-excerpt {
  padding-left: 75px;
}

.wp-block-widget-area .wp-block-latest-posts__post-author,
.wp-block-widget-area .wp-block-latest-posts__post-date {
  font-size: var(--wp--preset--font-size--medium);
  line-height: 1.62;
  margin-top: 5px;
}

/* --- Block Widget Footer
-------------------------------------------------------- */

.wp-block-footer-widget-area-columns {
  margin-bottom: 0;
  padding-bottom: var(--wp--custom--spacing--wp-footer-vertical);
  padding-top: var(--wp--custom--spacing--wp-footer-vertical);
}

.wp-block-footer.wp-block-site-generator {
  font-size: var(--wp--preset--font-size--extra-small);
  margin-top: 0;
  padding-bottom: 28px;
  padding-top: 28px;
  position: relative;

  &:before {
    top: 0;
    content: "";
    background: var(--wp--preset--color--color-light);
    width: 100%;
    left: 0;
    position: absolute;
    height: 1px;
    opacity: 0.2;
  }
}

.wp-block-footer.wp-block-site-generator a {
  text-decoration: none;
}

.wp-block-footer .wp-block-widget:not(:last-child),
.wp-block-footer .wp-block-widget>*:not(:last-child),
.wp-block-footer .wp-block-latest-posts__list>li:not(:last-child) {
  margin-bottom: var(--wp--custom--spacing--extra-small);
}

.wp-block-widget-area .wp-block-widget figure {
  line-height: 0;
  margin-bottom: 0;
}

/* --- WP Block Sections
-------------------------------------------------------- */

body .wp-block-section {
  padding-bottom: var(--wp--custom--spacing--section-block-bottom);
  padding-top: var(--wp--custom--spacing--section-block-top);
  margin-block-start: 0;
}

/* --- Drop Cap
-------------------------------------------------------- */

.has-drop-cap:not(:focus)::first-letter {
  color: var(--wp--preset--color--title-color);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  margin: 0.15em 0.15em 0 -0.07em;
  font-size: 5em;
}

/* --- WP Block Image
-------------------------------------------------------- */

.wp-block-image figure.alignright,
.wp-block-image figure.alignleft,
.wp-block[data-align="left"] .wp-block-image,
.wp-block[data-align="right"] .wp-block-image,
.wp-block-cover.alignleft,
.wp-block-cover.alignright,
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright,
.wp-block[data-align="left"]>.wp-block-pullquote,
.wp-block[data-align="right"]>.wp-block-pullquote,
[data-align="left"]>.wp-block-cover,
[data-align="right"]>.wp-block-cover,
.wp-block-embed.alignleft,
.wp-block-embed.alignright,
.wp-block[data-align="left"]>.wp-block-embed,
.wp-block[data-align="right"]>.wp-block-embed {
  max-width: 390px;
  width: 100%;
}

.wp-block-cover.alignleft,
[data-align="left"]>.wp-block-cover,
.wp-block-embed.alignleft,
.wp-block[data-align="left"]>.wp-block-embed {
  margin-right: 2em !important;
  margin-bottom: 1.5em;
}

.wp-block-cover.alignright,
[data-align="right"]>.wp-block-cover,
.wp-block-embed.alignright,
.wp-block[data-align="right"]>.wp-block-embed {
  margin-left: 2em !important;
  margin-bottom: 1.5em;
}

/* --- WP Block Code
-------------------------------------------------------- */

.wp-block-code>code {
  border-color: var(--wp--preset--color--border-color);
}

/* --- WP Block Firgcaption
-------------------------------------------------------- */

.wp-site-blocks figure figcaption,
figure figcaption {
  font-size: var(--wp--preset--font-size--medium);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  font-style: italic;
}

/* --- WP Block Calendar
-------------------------------------------------------- */

.wp-block-calendar table th {
  border-color: var(--wp--preset--color--border-color);
  background-color: var(--wp--preset--color--secondary);
}

.wp-block-calendar th,
.wp-block-calendar tbody td {
  border-color: var(--wp--preset--color--border-color);
}

.wp-block-calendar tbody td#today {
  color: var(--wp--preset--color--foreground);
  font-weight: var(--wp--custom--typography--font-weight--semi-bold);
}

.wp-block-calendar table caption {
  color: var(--wp--preset--color--foreground);
  margin-bottom: 7px;
}

/* --- WP Block Slider
-------------------------------------------------------- */

.fse-slider-wrapper {
  overflow: hidden;
  position: relative;
}

.fse-slider-wrapper .wp-block-image {
  position: relative;
  text-align: center;
}

.wp-block-group.section-heading {
  margin-bottom: var(--wp--custom--spacing--section-heading-gap);
  max-width: 550px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;

  p {
    text-transform: uppercase;
    font-size: var(--wp--preset--font-size--medium);
    font-weight: var(--wp--custom--typography--font-weight--bold);
  }

  .wp-block-separator {
    background-color: var(--wp--preset--color--tertiary);
  }
}

.header .wp-block-columns {
  padding-left: var(--wp--custom--spacing--outer);
  padding-right: var(--wp--custom--spacing--outer);
}

.wp-block-categories a,
.wp-block-archives a {
  font-size: var(--wp--preset--font-size--medium);
}

.wp-site-blocks main {
  margin-top: 0;
}

header+main,
main.site-main {
  position: relative;
  z-index: 1;
}

.entry-breadcrumbs {
  span.breadcrumb {
    span {
      color: var(--wp--preset--color--body-text);
      text-decoration: none;
      font-size: var(--wp--preset--font-size--extra-small);
      color: var(--wp--preset--color--color-light);
    }

    a {
      color: var(--wp--preset--color--color-light);
      text-decoration: none;
      font-size: var(--wp--preset--font-size--extra-small);
    }
  }
}

.banner .entry-breadcrumbs span.breadcrumb a {
  color: var(--wp--preset--color--foreground);
}

.banner .wp-block-cover__inner-container {
  text-align: center;

  p {
    color: var(--wp--preset--color--color-light);
  }
}

footer.wp-block-latest-comments__comment-meta a {
  text-decoration: none;
}

.wp-block-latest-comments__comment-excerpt {
  margin-top: 14px;
}

.wp-block-post-comments.is-style-VisionArt-pro-post-comments .commentlist>li:last-child>article,
.wp-block-post-comments.is-style-VisionArt-post-comments .commentlist>li:last-child>article {
  border-bottom: 0;
}

.wp-block-group.banner-without-bg {
  padding-top: var(--wp--custom--spacing--section-block-top);
}

.nav-row .social-container .wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor svg {
  font-size: 20px;
}

[class*="wp-container-"]>.wp-block-group,
.home [class*="wp-container-"]>.wp-block-cover,
[class*="wp-container-"]>.entry-content {
  margin-top: 0;
}

.wp-block-categories-list,
.wp-block-archives-list {
  text-align: right;

  li {
    font-size: var(--wp--preset--font-size--medium);
  }
}

ins {
  text-decoration: none;
}

.contact-section .wp-block-cover__inner-container {
  text-align: center;
}

/**
========================================
  Common css for Swiper pagination
========================================
**/

.fse-slider-wrapper .swiper-button.swiper-button-prev,
.fse-slider-wrapper .swiper-button.swiper-button-next {
  &:before {
    position: absolute;
    content: "";
    box-shadow: inset 0 0 2px 25px var(--wp--preset--color--background);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transition: 0.1s ease-in-out;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    transform: scale(1.3) translate(0, -50%);
    -webkit-transform: scale(1.3) translate(0, -50%);
    -moz-transform: scale(1.3) translate(0, -50%);

    &:before {
      opacity: 1;
      height: 100%;
      width: 100%;
    }
  }
}

.swiper-pagination {
  z-index: 1;
}

.swiper-pagination {
  span {
    position: relative;
    height: 12px;
    width: 12px;
    background: var(--wp--preset--color--secondary-text-color);

    &.swiper-pagination-bullet-active {
      box-shadow: inset 0 0 1px 20px var(--wp--preset--color--tertiary);
    }
  }
}

.fse-slider-wrapper {
  .swiper-button {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .swiper-button-next {
    right: 30px;
  }

  .swiper-button-prev {
    left: 30px;
  }
}

[class*="vertical-"] {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: auto;
    top: 50%;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

[class*="vertical-left-center"] {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 30px;
  }
}

[class*="vertical-right-center"] {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    right: 30px;
    left: auto;
  }
}

[class*="vertical-right-bottom"] {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    right: 30px;
    left: auto;
    bottom: 30px;
    top: auto;
  }
}

[class*="vertical-left-bottom"] {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 30px;
    bottom: 30px;
    top: auto;
  }
}

[class*="vertical-left-top"] {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 30px;
    top: 10%;
  }
}

[class*="vertical-right-top"] {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    right: 30px;
    left: auto;
    top: 10%;
  }
}

.horizontal-outside-slider-bottom-right,
.horizontal-inside-slider-bottom-right {
  .swiper-pagination {
    text-align: right;
  }
}

.horizontal-outside-slider-bottom-right,
.horizontal-inside-slider-bottom-right {
  +.swiper-pagination {
    text-align: right;
  }
}

.horizontal-outside-slider-bottom-left,
.horizontal-inside-slider-bottom-left {
  .swiper-pagination {
    text-align: left;
  }
}

.horizontal-outside-slider-bottom-left,
.horizontal-inside-slider-bottom-left {
  +.swiper-pagination {
    text-align: left;
  }
}

.banner .wp-block-cover,
.banner .wp-block-cover-image {
  min-height: 300px;
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon svg {
  @include transform(rotate(90deg));
}

.banner .wp-block-cover__inner-container {
  padding-top: 65px;
}