<!-- wp:template-part {"slug":"header","theme":"bergify","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"page-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group page-content">

    <!-- wp:pattern {"slug":"bergify/hero"} /-->
    <!-- wp:pattern {"slug":"bergify/figures"} /-->
    <!-- wp:pattern {"slug":"bergify/services"} /-->
    <!-- wp:pattern {"slug":"bergify/features-1"} /-->
    <!-- wp:pattern {"slug":"bergify/features-2"} /-->
    <!-- wp:pattern {"slug":"bergify/customers"} /-->
    <!-- wp:pattern {"slug":"bergify/pricing"} /-->
    <!-- wp:pattern {"slug":"bergify/faq"} /-->
    <!-- wp:pattern {"slug":"bergify/feature"} /-->
        
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"bergify","tagName":"footer"} /-->
