/*
 * Editor Styles
 *
 * @package Lawson
 */

/* Font Size */
.block-editor-page .editor-styles-wrapper {
	font-size: var(--wp--custom--typography--font-size--text);
}

/* Fullwidth Template */
.lawson-fullwidth-page .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper > *,
.lawson-fullwidth-page .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > * {
	max-width: 1280px;
}

/* No Title Template */
.lawson-no-title-page.block-editor-page .edit-post-visual-editor .edit-post-visual-editor__post-title-wrapper {
	margin-top: 0;
	padding: 2rem 0;
	background-color: var(--wp--preset--color--background);
	background-image: linear-gradient(45deg, var(--wp--preset--color--background-accent) 25%, transparent 25%, transparent 75%, var(--wp--preset--color--background-accent) 75%, var(--wp--preset--color--background-accent)), linear-gradient(45deg, var(--wp--preset--color--background-accent) 25%, transparent 25%, transparent 75%, var(--wp--preset--color--background-accent) 75%, var(--wp--preset--color--background-accent));
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}

.lawson-no-title-page.block-editor-page .edit-post-visual-editor .edit-post-visual-editor__post-title-wrapper .editor-post-title__block .editor-post-title__input {
	border-bottom: none;
	padding-bottom: 1rem;
}
