<!-- wp:template-part {"slug":"header-default","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:group {"className":"is-page-header","layout":{"type":"constrained"}} -->
	<div class="wp-block-group is-page-header">
		<!-- wp:post-title {"level":1,"fontSize":"huge"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:template-part {"slug":"comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-default","tagName":"footer"} /-->