<!-- wp:template-part {"slug":"header-featured-image-title","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"0rem","bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"},"margin":{"top":"0px"}}},"layout":{"inherit":true},"fontSize":"extra-small"} -->
<main class="wp-block-group alignfull has-extra-small-font-size"
	style="margin-top:0px;padding-top:0rem;padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">

	<!-- wp:spacer {"height":"5vw"} -->
	<div style="height:5vw" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-large","theme":"blockette","tagName":"footer"} /-->