<!-- wp:template-part {"slug":"header","theme":"blockette","tagName":"header","className":"site-header is-style-blockette-sticky"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"0rem","bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"},"margin":{"top":"0px"},"blockGap":"0px"}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull"
	style="margin-top:0px;padding-top:0rem;padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">

	<!-- wp:pattern {"slug":"blockette/hero-fashion"} /-->

	<!-- wp:pattern {"slug":"blockette/section-featured-categories"} /-->

	<!-- wp:pattern {"slug":"blockette/section-discount"} /-->

	<!-- wp:pattern {"slug":"blockette/section-outlet"} /-->

	<!-- wp:pattern {"slug":"blockette/section-exotic"} /-->

	<!-- wp:pattern {"slug":"blockette/section-beauty"} /-->

	<!-- wp:pattern {"slug":"blockette/posts-query-simple"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-large","theme":"blockette","tagName":"footer"} /-->