<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-blockette-sticky"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"calc(var(--wp--custom--v-spacing, 1.25rem) *3)","bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull"
	style="padding-top:calc(var(--wp--custom--v-spacing, 1.25rem) *3);padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">

	<!-- wp:group {"align":"full","layout":{"inherit":true}} -->
	<div class="wp-block-group alignfull">
		<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"gradient":"vertical-primary-secondary"} -->
		<div class="wp-block-group has-vertical-primary-secondary-gradient-background has-background"
			style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
			<!-- wp:spacer {"height":"2px"} -->
			<div style="height:2px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->

		<!-- wp:spacer {"height":"var(--wp--custom--v-spacing, 4vw)"} -->
		<div style="height:var(--wp--custom--v-spacing, 4vw)" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:group -->
		<div class="wp-block-group">
			<!-- wp:query {"query":{"perPage":"5","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"list","columns":3},"layout":{"inherit":true}} -->
			<div class="wp-block-query">
				<!-- wp:post-template {"align":"wide"} -->
				<!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"50vw","className":"blockette-box-shadow-big blockette-rounded-corners"} /-->

				<!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"spacing":{"margin":{"bottom":"10px"}}},"textColor":"foreground","fontSize":"large"} /-->

				<!-- wp:post-date {"textAlign":"center","fontSize":"small"} /-->

				<!-- wp:post-excerpt {"moreText":"\u003cmark style=\u0022background-color:rgba(0, 0, 0, 0)\u0022 class=\u0022has-inline-color has-primary-color\u0022\u003e→\u003c/mark\u003e Read more","textColor":"foreground"} /-->

				<!-- wp:separator {"className":"is-style-dashed"} -->
				<hr class="wp-block-separator has-alpha-channel-opacity is-style-dashed" />
				<!-- /wp:separator -->

				<!-- wp:spacer {"height":"2vw"} -->
				<div style="height:2vw" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->
				<!-- /wp:post-template -->

				<!-- wp:query-pagination {"paginationArrow":"chevron","layout":{"type":"flex","justifyContent":"space-between"}} -->
				<!-- wp:query-pagination-previous {"label":"Previous"} /-->

				<!-- wp:query-pagination-numbers /-->

				<!-- wp:query-pagination-next {"label":"Next"} /-->
				<!-- /wp:query-pagination -->
			</div>
			<!-- /wp:query -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"var(--wp--custom--v-spacing, 4vw)"} -->
	<div style="height:var(--wp--custom--v-spacing, 4vw)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->