<!-- wp:template-part {"slug":"header" ,"tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"lyna/header-media"} /-->
  <!-- wp:pattern {"slug":"lyna/service"} /-->
  <!-- wp:pattern {"slug":"lyna/hero-content"} /-->
  <!-- wp:pattern {"slug":"lyna/contact"} /-->
  <!-- wp:pattern {"slug":"lyna/stats"} /-->
  <!-- wp:pattern {"slug":"lyna/team"} /-->
  <!-- wp:pattern {"slug":"lyna/featured-content"} /-->
  <!-- wp:pattern {"slug":"lyna/newsletter"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
