<!-- wp:template-part {"slug":"header-with-buttons" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">

    <!-- wp:pattern {"slug":"catch-fse/header-media"} /-->
    <!-- wp:pattern {"slug":"catch-fse/featured-content"} /-->
    <!-- wp:pattern {"slug":"catch-fse/about-us"} /-->
    <!-- wp:pattern {"slug":"catch-fse/cta"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
