<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"background-accent","layout":{"contentSize":"1360px"}} -->
<div class="wp-block-group has-background-accent-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">

	<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"4vw","left":"4vw","top":"3vw","bottom":"3vw"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"background","className":"site-content","layout":{"contentSize":"1280px"}} -->
	<main class="wp-block-group site-content has-background-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:3vw;padding-right:4vw;padding-bottom:3vw;padding-left:4vw">

		<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"0px"}}}} /-->

		<!-- wp:post-title {"level":1} /-->

		<!-- wp:post-content /-->

	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->

</div>
<!-- /wp:group -->
