<!-- wp:template-part {"slug":"header-transparent" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">

    <!-- wp:pattern {"slug":"shoplaza/header-media"} /-->
    <!-- wp:pattern {"slug":"shoplaza/product-category-four-rows"} /-->
    <!-- wp:pattern {"slug":"shoplaza/featured-product-three-columns"} /-->
    <!-- wp:pattern {"slug":"shoplaza/cta"} /-->
    <!-- wp:pattern {"slug":"shoplaza/woocommerce-features"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
