<!-- wp:template-part {"slug":"header-transparent" ,"tagName":"header"} /-->

<!-- wp:pattern {"slug":"shoplaza/blog-header"} /-->


	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:group {"tagName":"main"} -->
		<main class="wp-block-group">
			<!-- wp:group {"layout":{"inherit":true}} -->
			<div class="wp-block-group">
				<!-- wp:columns {"align":"wide"} -->
				<div class="wp-block-columns alignwide">
					<!-- wp:column {"width":""} -->
					<div class="wp-block-column">
						<!-- wp:group -->
						<div class="wp-block-group">
							<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"full","className":"alignfull","layout":{"inherit":true}} -->
							<div class="wp-block-query alignfull">
								<!-- wp:post-template {"align":"full"} -->
								<!-- wp:group {"layout":{"inherit":true}} -->
								<div class="wp-block-group">
									<!-- wp:post-featured-image {"isLink":true,"align":"full"} /-->
									<!-- wp:post-title {"isLink":true} /-->
									<!-- wp:group {"align":"full","className":"alignfull wp-block-post-container"} -->
									<div class="wp-block-group alignfull wp-block-post-container">
										<!-- wp:group {"className":"wp-block-post-meta","layout":{"type":"flex","allowOrientation":false}} -->
										<div class="wp-block-group wp-block-post-meta">
											<!-- wp:post-author {"showAvatar":false} /-->
											<!-- wp:post-date {"isLink":true} /-->
										</div>
										<!-- /wp:group -->
										<!-- wp:post-excerpt {"moreText":"Continue Reading"} /-->
									</div>
									<!-- /wp:group -->
								</div>
								<!-- /wp:group -->
								<!-- /wp:post-template -->
								<!-- wp:query-pagination {"align":"full","layout":{"type":"flex","justifyContent":"center"}} -->
								<!-- wp:query-pagination-previous {"fontSize":"small"} /-->
								<!-- wp:query-pagination-numbers /-->
								<!-- wp:query-pagination-next {"fontSize":"small"} /-->
								<!-- /wp:query-pagination -->
							</div>
							<!-- /wp:query -->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->
		</main>
		<!-- /wp:group -->
		<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
	</div>
	<!-- /wp:group -->