<!-- wp:template-part {"slug":"header-transparent" ,"tagName":"header"} /-->

<!-- wp:pattern {"slug":"shoplaza/post-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

<!-- wp:group {"layout":{"inherit":"true"}} -->
<div class="wp-block-group">
    <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--wp-comment-vertical)"}}}} /-->
</div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":"true"}} /-->

<!-- wp:group {"layout":{"inherit":"true"}} -->
<div class="wp-block-group">
    <!-- wp:post-comments {"className":"is-style-post-comments"} /-->
</div>
<!-- /wp:group -->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
