<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"20px","bottom":"80px","left":"20px"},"blockGap":"0px"}},"layout":{"inherit":true}} -->
<div
  class="wp-block-group"
  style="
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left: 20px;
  "
>
  <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"40px"}}},"className":"animated animated-fadeInUp"} -->
  <div
    class="wp-block-group alignwide animated animated-fadeInUp"
    style="padding-bottom: 40px"
  >
    <!-- wp:query-title {"type":"archive","textAlign":"left","align":"wide"} /-->
  </div>
  <!-- /wp:group -->
  <!-- wp:pattern {"slug":"gutenify-magazine/post-listing-four-column"} /-->
</div>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

