<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"80px","right":"20px","bottom":"80px","left":"20px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:80px;padding-right:20px;padding-bottom:80px;padding-left:20px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}}},"className":"has-no-hover-shadow-dark animated animated-fadeInUp","layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide has-no-hover-shadow-dark animated animated-fadeInUp" style="padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px"><!-- wp:post-title {"textAlign":"left","level":1,"align":"full","style":{"spacing":{"margin":{"bottom":"0px","top":"0px"}}},"textColor":"foreground","fontSize":"large"} /-->

	<!-- wp:group {"align":"full","layout":{"type":"flex","allowOrientation":false,"justifyContent":"left","flexWrap":"wrap"}} -->
	<div class="wp-block-group alignfull"><!-- wp:post-author {"showBio":false} /-->

	<!-- wp:post-date /--></div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"16px"} -->
	<div style="height:16px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-featured-image {"align":"full","style":{"spacing":{"margin":{"bottom":"0px","top":"0px","right":"0px","left":"0px"}}}} /-->

	<!-- wp:post-content {"align":"full","layout":{"inherit":false}} /-->

	<!-- wp:group {"align":"full","layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group alignfull"><!-- wp:group {"align":"full","layout":{"type":"flex","justifyContent":"space-between"}} -->
	<div class="wp-block-group alignfull"><!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

	<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"gutenify-magazine/comment-section-1"} /--></main>
	<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
