<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top: 80px; padding-bottom: 80px">
	<!-- wp:post-title {"textAlign":"left","level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"0px","top":"0px"}}},"textColor":"foreground","fontSize":"medium"} /-->

	<!-- wp:woocommerce/legacy-template {"template":"single-product","align":"wide"} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->
