<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":false}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"100px","top":"100px","right":"1.5rem","left":"1.5rem"}}},"className":"is-style-no-spacing","layout":{"inherit":false,"contentSize":"1170px","type":"constrained"}} -->
<main class="wp-block-group is-style-no-spacing" style="padding-top:100px;padding-right:1.5rem;padding-bottom:100px;padding-left:1.5rem">

<!-- wp:pattern {"slug":"ona/pro/page-single-project"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":false}} /-->