<!-- wp:template-part {"slug":"header","theme":"fairy-fse","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"3rem","bottom":"6rem"}}}} -->
<main class="wp-block-group" style="padding-top:3rem;padding-bottom:6rem">
    <!-- wp:cover {"dimRatio":60,"overlayColor":"background","contentPosition":"center center","isDark":false,"align":"wide","style":{"color":{"duotone":["#000000","#00a5ff"]}}} -->
    <div class="wp-block-cover alignwide is-light"><span aria-hidden="true"
            class="wp-block-cover__background has-background-background-color has-background-dim-60 has-background-dim"></span>
        <div class="wp-block-cover__inner-container">
            <!-- wp:columns -->
            <div class="wp-block-columns">
                <!-- wp:column {"verticalAlignment":"center"} -->
                <div class="wp-block-column is-vertically-aligned-center">
                    <!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"120px"}},"textColor":"primary"} -->
                    <h1 class="has-text-align-center has-primary-color has-text-color" style="font-size:120px">404<span
                            class="we-verticle-line">! </span></h1>
                    <!-- /wp:heading -->

                    <!-- wp:heading {"textAlign":"center","level":3,"fontSize":"medium"} -->
                    <h3 class="has-text-align-center has-medium-font-size">The Page You Are Looking For Was Not Found.
                    </h3>
                    <!-- /wp:heading -->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->

            <!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem"}}}} -->
            <div class="wp-block-group" style="padding-top:2rem">
                <!-- wp:search {"label":"Search Here","showLabel":false,"width":610,"widthUnit":"px","buttonText":"Search","buttonUseIcon":true,"align":"center"} /-->
            </div>
            <!-- /wp:group -->
        </div>
    </div>
    <!-- /wp:cover -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"fairy-fse","tagName":"footer"} /-->