<!-- wp:template-part {"slug":"header","theme":"fairy-fse","area":"header"} /-->

<!-- wp:group {"style":{"color":{"background":"#e5ece9"},"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group has-background" style="background-color:#e5ece9;padding-top:3rem;padding-bottom:3rem">
    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"66.66%"} -->
        <div class="wp-block-column" style="flex-basis:66.66%">
            <!-- wp:group {"tagName":"main","backgroundColor":"background"} -->
            <main class="wp-block-group has-background-background-color has-background">
                <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
                <div class="wp-block-group">
                    <!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"0","right":"0","left":"0"}}}} /-->

                    <!-- wp:post-terms {"term":"category"} /-->

                    <!-- wp:post-title {"level":1,"align":"wide"} /-->

                    <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"1.5rem"}}},"layout":{"type":"flex"}} -->
                    <div class="wp-block-group" style="margin-bottom:1.5rem">
                        <!-- wp:post-date {"format":"F j, Y"} /-->

                        <!-- wp:post-author {"showAvatar":false} /-->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-content {"layout":{"inherit":true}} /-->

                <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
                <div class="wp-block-group">
                    <!-- wp:group {"layout":{"type":"flex"}} -->
                    <div class="wp-block-group">
                        <!-- wp:post-terms {"term":"post_tag"} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:separator {"opacity":"css","className":"is-style-wide"} -->
                    <hr class="wp-block-separator has-css-opacity is-style-wide" />
                    <!-- /wp:separator -->

                    <!-- wp:comments -->
                    <div class="wp-block-comments">
                        <!-- wp:comments-title /-->

                        <!-- wp:comment-template -->
                        <!-- wp:columns -->
                        <div class="wp-block-columns">
                            <!-- wp:column {"width":"40px"} -->
                            <div class="wp-block-column" style="flex-basis:40px">
                                <!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /-->
                            </div>
                            <!-- /wp:column -->

                            <!-- wp:column -->
                            <div class="wp-block-column">
                                <!-- wp:comment-author-name {"fontSize":"small"} /-->

                                <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
                                <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
                                    <!-- wp:comment-date {"fontSize":"small"} /-->

                                    <!-- wp:comment-edit-link {"fontSize":"small"} /-->
                                </div>
                                <!-- /wp:group -->

                                <!-- wp:comment-content /-->

                                <!-- wp:comment-reply-link {"fontSize":"small"} /-->
                            </div>
                            <!-- /wp:column -->
                        </div>
                        <!-- /wp:columns -->
                        <!-- /wp:comment-template -->

                        <!-- wp:comments-pagination -->
                        <!-- wp:comments-pagination-previous /-->

                        <!-- wp:comments-pagination-numbers /-->

                        <!-- wp:comments-pagination-next /-->
                        <!-- /wp:comments-pagination -->

                        <!-- wp:post-comments-form /-->
                    </div>
                    <!-- /wp:comments -->
                </div>
                <!-- /wp:group -->
            </main>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"33.33%"} -->
        <div class="wp-block-column" style="flex-basis:33.33%">
            <!-- wp:template-part {"slug":"sidebar","theme":"fairy-fse","area":"uncategorized"} /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"fairy-fse","tagName":"footer"} /-->