<!-- wp:template-part {"slug":"header","theme":"mongoose-premium","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"10vh","bottom":"10vh","right":"4vw","left":"4vw"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-top:10vh;padding-right:4vw;padding-bottom:10vh;padding-left:4vw"><!-- wp:heading {"textAlign":"center","level":1,"fontSize":"medium"} -->
<h1 class="has-text-align-center has-medium-font-size" id="oops-that-page-can-t-be-found">Oops! That page can’t be found.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>It looks like nothing was found at this location. Maybe try a search?</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":""} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"mongoose-premium","tagName":"footer"} /-->