<!-- wp:template-part {"slug":"header","theme":"mongoose-premium","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true},"style":{"spacing":{"padding":{"right":"4vw","left":"4vw"}}}} -->
<main class="wp-block-group" style="padding-right:4vw;padding-left:4vw"><!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"inherit":true}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"mongoose-premium","tagName":"footer"} /-->