<!-- wp:template-part {"slug":"header-with-header-media-no-video-and-no-social-search" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">

    <!-- wp:pattern {"slug":"pentatonic/about-us"} /-->
    <!-- wp:pattern {"slug":"pentatonic/music-podcast"} /-->
    <!-- wp:pattern {"slug":"pentatonic/featured-content"} /-->
    <!-- wp:pattern {"slug":"pentatonic/cta"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
