<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-index-hero"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"100px","bottom":"140px","left":"10px","right":"10px"}}},"layout":{"contentSize":"1230px","inherit":false}} -->
<main class="wp-block-group" style="padding-top:100px;padding-right:10px;padding-bottom:140px;padding-left:10px"><!-- wp:query {"queryId":71,"query":{"perPage":"3","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3},"textColor":"third","className":"echelon-fse-post-template-gap","layout":{"inherit":false}} -->
<div class="wp-block-query echelon-fse-post-template-gap has-third-color has-text-color"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"height":"280px","align":"wide"} /-->

<!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"14px"}}} /-->

<!-- wp:post-title {"level":4,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontStyle":"normal","fontWeight":"700"}},"textColor":"primary","fontSize":"heading-4","fontFamily":"primary"} /-->

<!-- wp:post-date {"style":{"color":{"text":"#a2a2a2"},"typography":{"fontSize":"14px"}}} /-->

<!-- wp:post-excerpt {"style":{"typography":{"fontSize":"15px"},"spacing":{"margin":{"top":"10px"}}},"textColor":"fifth"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":71,"query":{"perPage":"3","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3},"textColor":"third","className":"echelon-fse-post-template-gap","layout":{"inherit":false}} -->
<div class="wp-block-query echelon-fse-post-template-gap has-third-color has-text-color"><!-- wp:post-template -->
<!-- wp:columns {"style":{"color":{"background":"#e6f1fc"},"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}}} -->
<div class="wp-block-columns has-background" style="background-color:#e6f1fc;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"14px"}}} /-->

<!-- wp:post-title {"level":4,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"heading-4","fontFamily":"primary"} /-->

<!-- wp:post-excerpt {"style":{"typography":{"fontSize":"15px"},"spacing":{"margin":{"top":"10px"}}},"textColor":"fifth"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->