<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-page-hero"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"100px","bottom":"120px","right":"10px","left":"10px"}}},"layout":{"contentSize":"1200px","type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:100px;padding-right:10px;padding-bottom:120px;padding-left:10px"><!-- wp:group {"layout":{"inherit":false,"contentSize":"1200px","type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-content {"layout":{"inherit":false}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->