<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"alignfull"} -->
<main class="wp-block-group alignfull">
	<!-- wp:pattern {"slug":"auto-car-dealership/home-banner"} /-->
	<!-- wp:pattern {"slug":"auto-car-dealership/services-one"} /-->
	<!-- wp:pattern {"slug":"auto-car-dealership/brand-section"} /-->
	<!-- wp:pattern {"slug":"auto-car-dealership/featured-cars"} /-->
	<!-- wp:pattern {"slug":"auto-car-dealership/blog-section"} /-->
	<!-- wp:pattern {"slug":"auto-car-dealership/gallery-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
