<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"auto-car-dealership/cover-with-post-title"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"80px","bottom":"80px","left":"100px","right":"100px"}}}} -->
<main class="wp-block-group" style="padding-top: 80px; padding-bottom: 80px; padding-left: 100px; padding-right:100px;">
	<!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
