<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-front-page-hero"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-front-page-feature"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-front-page-logo-clients"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-front-page-about"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-front-page-service"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-front-page-testimonials"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-front-page-fun-fact"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-front-page-cta"} /-->

<!-- wp:pattern {"slug":"echelon-fse/core-front-page-article"} /-->

<!-- wp:template-part {"slug":"footer"} /-->