<!-- wp:template-part {"slug":"header","theme":"choyu"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"40px","bottom":"80px","left":"40px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"30px"}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:80px;padding-right:40px;padding-bottom:80px;padding-left:40px"><!-- wp:group {"align":"wide","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group alignwide"><!-- wp:heading {"fontSize":"max-60","fontFamily":"caveat"} -->
    <h2 class="has-caveat-font-family has-max-60-font-size"><strong>That page can’t be found.</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>It looks like nothing was found at this location. Maybe try a search?</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:search {"label":"","showLabel":false,"placeholder":"Search ..","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"choyu"} /-->