<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}}} -->
<main class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--80)">
    <!-- wp:group {"align":"full","layout":{"inherit":true,"type":"constrained","contentSize":"75%"}} -->
    <div class="wp-block-group alignfull"><!-- wp:woocommerce/legacy-template {"template":"archive-product"} /--></div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->



<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->