<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"evit-fse/hero"} /-->
    <!-- wp:pattern {"slug":"evit-fse/latest-products"} /-->
    <!-- wp:pattern {"slug":"evit-fse/popular-category"} /-->
    <!-- wp:pattern {"slug":"evit-fse/top-rated-products"} /-->
    <!-- wp:pattern {"slug":"evit-fse/cta"} /-->
    <!-- wp:pattern {"slug":"evit-fse/latest-posts"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->