<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":false}} /-->

<!-- wp:group {"tagName":"main","className":"is-style-no-spacing","layout":{"inherit":false}} -->
<main class="wp-block-group is-style-no-spacing">

<!-- wp:pattern {"slug":"ona/general-hero-minimal"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"backgroundColor":"secondary","className":"is-style-no-spacing","layout":{"inherit":false,"contentSize":"1170px"}} -->
<div class="wp-block-group is-style-no-spacing has-secondary-background-color has-background" style="padding-top:100px;padding-bottom:100px"><!-- wp:columns {"style":{"spacing":{"blockGap":"6%"}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"52%"} -->
<div class="wp-block-column" style="flex-basis:52%"><!-- wp:paragraph {"textColor":"foreground","className":"ona-text-letter-spacing","fontSize":"tiny"} -->
<p class="ona-text-letter-spacing has-foreground-color has-text-color has-tiny-font-size">SUBSCRIBE NOW</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"style":{"typography":{"lineHeight":"1.5"}},"fontSize":"medium"} -->
<h2 class="has-medium-font-size" id="join-the-newsletter-to-get-the-daily-tips-latest-articles-and-free-stuffs-delivered-directly-to-your-inbox" style="line-height:1.5">Join the newsletter to get the daily tips, latest articles and free stuffs delivered directly to your inbox.</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"className":"ona-newsletter"} -->
<div class="wp-block-group ona-newsletter"><!-- wp:mailchimp-for-wp/form {"id":26} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"1.5rem"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-group" style="padding-top:1.5rem"><!-- wp:heading {"className":"is-style-ona-alt-font"} -->
<h2 class="is-style-ona-alt-font" id="follow">Follow</h2>
<!-- /wp:heading -->

<!-- wp:social-links {"iconColor":"foreground","iconColorValue":"#000000","className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"blockGap":"16px"}}} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"twitter"} /-->

<!-- wp:social-link {"url":"#","service":"facebook"} /-->

<!-- wp:social-link {"url":"#","service":"instagram"} /-->

<!-- wp:social-link {"url":"#","service":"pinterest"} /-->

<!-- wp:social-link {"url":"#","service":"youtube"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"className":"ona-container","layout":{"contentSize":"1170px"}} -->
<div class="wp-block-group ona-container" style="padding-top:100px;padding-bottom:100px"><!-- wp:columns {"style":{"spacing":{"blockGap":"5%"}}} -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"className":"ona-sticky-element"} -->
<div class="wp-block-group ona-sticky-element"><!-- wp:query {"queryId":25,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"align":"wide","className":"hover-scale"} /-->

<!-- wp:group {"className":"ona-post-body-overlap"} -->
<div class="wp-block-group ona-post-body-overlap"><!-- wp:post-terms {"term":"category","textAlign":"center","className":"ona-text-letter-spacing"} /-->

<!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"spacing":{"margin":{"top":"1rem"}}}} /-->

<!-- wp:post-date {"textAlign":"center"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:query {"queryId":25,"query":{"perPage":"6","pages":0,"offset":"1","postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":2}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"align":"wide","className":"hover-scale"} /-->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category","className":"ona-text-letter-spacing"} /-->

<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"1rem"}}},"fontSize":"normal"} /-->

<!-- wp:post-date /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"backgroundColor":"background-light","layout":{"contentSize":"1170px"}} -->
<div class="wp-block-group has-background-light-background-color has-background" style="padding-top:100px;padding-bottom:100px"><!-- wp:columns {"style":{"spacing":{"blockGap":"10%"}}} -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px"}}},"fontSize":"medium-large"} -->
<h2 class="has-medium-large-font-size" id="discover-my-latest-video" style="margin-top:0px">Discover my latest video</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>When your life appears so out of balance, ordinary comfort diminishes completely. Anxiety, stress and often depression feel more compelling to us.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link">See More Vlogs</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":40} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:embed {"url":"https://www.youtube.com/watch?v=NKhUVFJDJ-Q","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=NKhUVFJDJ-Q
</div></figure>
<!-- /wp:embed --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"ona/general-gallery-5-columns"} /-->

</main><!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":false}} /-->