<!-- wp:template-part {"slug":"header-with-logo","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","className":"not-found","layout":{"inherit":true}} -->
<main class="wp-block-group not-found"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"90px","lineHeight":"1"}},"textColor":"rich-black","className":"margin-top-30 margin-bottom-0"} -->
<h2 class="has-text-align-center margin-top-30 margin-bottom-0 has-rich-black-color has-text-color" style="font-size:90px;line-height:1">404</h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"fontSize":"45px","lineHeight":"1.4"}},"textColor":"rich-black","className":"margin-top-0"} -->
<h3 class="has-text-align-center margin-top-0 has-rich-black-color has-text-color" style="font-size:45px;line-height:1.4">Page not found</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Something's wrong. We can't find the page you're looking.</p>
<!-- /wp:paragraph --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-default","className":"margin-top-50","layout":{"inherit":true}} /-->