<!-- wp:template-part {"slug":"header-with-logo","textColor":"dark-silver","layout":{"inherit":true}} /-->

<!-- wp:query {"queryId":27,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","displayLayout":{"type":"list","columns":3},"layout":{"inherit":true}} -->
<main class="wp-block-query"><!-- wp:post-template {"className":"blog-layout-full"} -->
<!-- wp:post-featured-image {"isLink":true,"width":"","align":"center","className":"margin-top-0 margin-bottom-35"} /-->

<!-- wp:post-title {"textAlign":"left","isLink":true,"className":"margin-top-0 margin-bottom-10"} /-->

<!-- wp:group {"className":"entry-meta"} -->
<div class="wp-block-group entry-meta"><!-- wp:post-author {"showAvatar":false,"showBio":false,"byline":"By"} /-->

<!-- wp:post-terms {"term":"category","className":"mt-0"} /-->

<!-- wp:post-date {"className":"mt-0"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"textAlign":"left","moreText":"Read More","className":"clearfix margin-top-5"} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-numbers /-->
<!-- /wp:query-pagination --></main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer-default","className":"margin-top-50","layout":{"inherit":true}} /-->