<!-- wp:template-part {"slug":"header-with-logo","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"width":"","align":"center","className":"margin-top-0 margin-bottom-35"} /-->

<!-- wp:post-title {"textColor":"rich-black","className":"margin-top-0 margin-bottom-10"} /-->

<!-- wp:post-content {"className":"clearfix-before margin-top-0"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-default","className":"margin-top-50","layout":{"inherit":true}} /-->