<!-- wp:template-part {"slug":"header-with-logo","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"width":"","align":"center","className":"margin-top-0 margin-bottom-35"} /-->

<!-- wp:post-title {"textColor":"rich-black","className":"margin-top-0 margin-bottom-10"} /-->

<!-- wp:group {"className":"entry-meta"} -->
<div class="wp-block-group entry-meta"><!-- wp:post-author {"showAvatar":false,"showBio":false,"byline":"By"} /-->

<!-- wp:post-terms {"term":"category","className":"mt-0"} /-->

<!-- wp:post-date {"className":"mt-0"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"className":"clearfix margin-top-10"} /-->

<!-- wp:post-comments /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-default","className":"margin-top-50","layout":{"inherit":true}} /-->