<!-- wp:template-part {"slug":"header","theme":"tendo","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center" id="404">404</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Not Found.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"","width":50,"widthUnit":"%","buttonText":"Search","align":"center"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"tendo","tagName":"footer"} /-->