<!-- wp:template-part {"slug":"header","theme":"allele","tagName":"header","className":"site-header is-allele-no-spacing","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","className":"site-content is-style-allele-no-spacing single","layout":{"inherit":false}} -->
<main id="primary" class="wp-block-group site-content is-style-allele-no-spacing single">
  <!-- wp:pattern {"slug":"allele/hidden-404"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"allele","tagName":"footer","className":"site-footer is-allele-no-spacing","layout":{"inherit":true}} /-->
