<!-- wp:template-part {"slug":"header","theme":"allele","tagName":"header","className":"site-header is-allele-no-spacing","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","className":"site-content is-style-allele-no-spacing","layout":{"inherit":true}} -->
<main id="primary" class="wp-block-group site-content is-style-allele-no-spacing">
  <!-- wp:pattern {"slug":"allele/featured-post"} /-->

  <!-- wp:group {"align":"full","className":"is-style-allele-no-spacing pt-2 pt-md-4 pt-xl-6","layout":{"inherit":true}} -->
  <div class="wp-block-group alignfull is-style-allele-no-spacing pt-2 pt-md-4 pt-xl-6"><!-- wp:heading {"align":"wide"} -->
  <h2 class="alignwide">News</h2>
  <!-- /wp:heading --></div>
  <!-- /wp:group -->

  <!-- wp:pattern {"slug":"allele/hidden-query"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"allele","tagName":"footer","className":"site-footer is-allele-no-spacing","layout":{"inherit":true}} /-->
