<!-- wp:template-part {"slug":"header","theme":"allele","tagName":"header","className":"site-header is-allele-no-spacing","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","className":"site-content is-style-allele-no-spacing single","layout":{"inherit":false}} -->
<main id="primary" class="wp-block-group site-content is-style-allele-no-spacing single">
  <!-- wp:group {"align":"full","className":"is-style-allele-no-spacing py-2 py-md-6 py-xl-8","layout":{"inherit":true}} -->
  <div class="wp-block-group alignfull is-style-allele-no-spacing py-2 py-md-6 py-xl-8"><!-- wp:group {"align":"wide","className":"is-style-allele-no-spacing"} -->
  <div class="wp-block-group alignwide is-style-allele-no-spacing"><!-- wp:post-title {"textAlign":"center","level":1} /--></div>
  <!-- /wp:group --></div>
  <!-- /wp:group -->

  <!-- wp:group {"align":"full","className":"is-style-allele-no-spacing","layout":{"inherit":true}} -->
  <div class="wp-block-group alignfull is-style-allele-no-spacing"><!-- wp:post-featured-image {"align":"wide", "className":"is-allele-no-spacing pb-2 pb-md-6 pb-xl-8"} /--></div>
  <!-- /wp:group -->

  <!-- wp:post-content {"className":"is-allele-no-spacing pb-2 pb-md-6 pb-xl-8","layout":{"inherit":true}} /-->

  <!-- wp:group {"align":"full","className":"is-style-allele-no-spacing pb-2 pb-md-6 pb-xl-8","layout":{"inherit":true}} -->
  <div class="wp-block-group alignfull is-style-allele-no-spacing pb-2 pb-md-6 pb-xl-8"><!-- wp:group {"align":"wide"} -->
  <div class="wp-block-group alignwide"><!-- wp:comments-query-loop -->
  <div class="wp-block-comments-query-loop"><!-- wp:comments-title /-->

  <!-- wp:comment-template -->
  <!-- wp:columns -->
  <div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
  <div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
  <!-- /wp:column -->

  <!-- wp:column -->
  <div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

  <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
  <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

  <!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
  <!-- /wp:group -->

  <!-- wp:comment-content /-->

  <!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns -->
  <!-- /wp:comment-template -->

  <!-- wp:comments-pagination -->
  <!-- wp:comments-pagination-previous /-->

  <!-- wp:comments-pagination-numbers /-->

  <!-- wp:comments-pagination-next /-->
  <!-- /wp:comments-pagination -->

  <!-- wp:post-comments-form /--></div>
  <!-- /wp:comments-query-loop --></div>
  <!-- /wp:group --></div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"allele","tagName":"footer","className":"site-footer is-allele-no-spacing","layout":{"inherit":true}} /-->
