.welcome-panel::before {
    background: unset;
}

.welcome-panel-column.important-links a {
    display: block;

}
.welcome-panel-column.important-links {
    clear: both;
}

.welcome-panel h3 {
    font-size: 24px;
}

.welcome-panel .sidebar h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.welcome-panel p {
    font-size: 16px;
}

.welcome-panel-column-content a {
    font-size: 16px;
    margin-bottom: 5px;
}

.shoplaza-admin-notice-wrapper {
    margin-bottom: 1em;
}

.wp-core-ui .welcome-panel .button.button-hero {
    display: inline-block;
    font-size: 16px;
    margin: 0 13px 3px 0;
    letter-spacing: 1px;
    padding: 6px 24px;
    line-height: 1.5;
    min-height: auto;
}

.button.button-hero.green,
.button.green {
    background-color: #4cae4c;
    border-color: #3d843d;
}

.button.button-hero.green:hover,
.button.button-hero.green:focus {
    background-color: #449d44;
    border-color: #449d44;
}

.container-wrap,
.sidebar .welcome-panel-column {
    background-color: #f2f5f8;
    padding: clamp(15px, 5vw, 25px);
}

.sidebar .welcome-panel-column:not(:last-child) {
    margin-bottom: 32px;
}

.welcome-panel-column {
    display: block;
    max-width: 100%;
    width: auto;
}

.container-wrap .welcome-panel-column:not(:last-child) {
    border-bottom: 1px solid #e5e4e4;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

 .appearance_page_shoplaza-theme .welcome-panel-column-content table {
     border: 1px solid #e5e4e4;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 2em;
    width: 100%;
}

.appearance_page_shoplaza-theme .welcome-panel-column-content table th {
    background-color: #F0F0F1;
    border-bottom: 1px solid #e5e4e4;
}

.appearance_page_shoplaza-theme .welcome-panel-column-content table th,
.appearance_page_shoplaza-theme .welcome-panel-column-content table td {
     padding: 1em;
     text-align: center;
}

 .appearance_page_shoplaza-theme .welcome-panel-column-content table tr:nth-child(2n) td {
  background: #fbfbfb;
}

@media only screen and (min-width: 1600px) {
    .welcome-panel .welcome-panel-column-container {
        display: grid;
    }
}

@media screen and (min-width: 768px) {
    .welcome-panel .welcome-panel-column-container {
        grid-template-columns: 7fr 3fr;
    }
}

.compare-table .dashicons-yes {
    color:#4ca54c;
}

.compare-table .dashicons-no {
    color:#c83842;
}