<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-hero"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-hero-2"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-feature"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-logo-slider"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-progress-bar"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-about"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-service"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-testimonial"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-fun-fact"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-cta"} /-->

<!-- wp:pattern {"slug":"echelon-fse/gutenverse-home-article"} /-->

<!-- wp:template-part {"slug":"footer"} /-->