<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2vw","bottom":"2vw","left":"4vw","right":"4vw"}}}} -->
<main class="wp-block-group" style="padding-top:2vw;padding-right:4vw;padding-bottom:2vw;padding-left:4vw"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:query-title {"type":"archive","align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":8,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:30px"><!-- wp:post-featured-image {"isLink":true,"style":{"color":[]}} /-->

<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"calc( 0.5 * var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dgap\u002d\u002dvertical) )"}}},"fontSize":"moderate"} /-->

<!-- wp:post-excerpt {"moreText":"Continue reading","style":{"spacing":{"margin":{"top":"calc( 0.5 * var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dgap\u002d\u002dvertical) )","bottom":"calc( 0.5 * var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dgap\u002d\u002dvertical) )"}}},"fontSize":"midsmall"} /-->

<!-- wp:post-date {"isLink":true,"style":{"typography":{"fontWeight":"500"}},"fontSize":"midsmall"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->