<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"startupzy/gutenverse-page-hero"} /-->

<!-- wp:gutenverse/post-content {"elementId":"guten-G6SbKx","inheritLayout":true,"alignment":{"Desktop":"flex-start"},"margin":{"Desktop":{"unit":"px","dimension":{"bottom":"","top":"","right":"","left":""}},"Tablet":[],"Mobile":{"unit":"px","dimension":{"bottom":"20"}}},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"100"}},"Tablet":[]}} -->
<div class="guten-element guten-post-content guten-G6SbKx"></div>
<!-- /wp:gutenverse/post-content -->

<!-- wp:template-part {"slug":"footer"} /-->