<!-- wp:template-part {"slug":"header" ,"tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"Rhythmic/header-media"} /-->
  <!-- wp:pattern {"slug":"Rhythmic/hero-section"} /-->
  <!-- wp:pattern {"slug":"Rhythmic/stats"} /-->
  <!-- wp:pattern {"slug":"Rhythmic/video-section"} /-->
  <!-- wp:pattern {"slug":"Rhythmic/contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-four-columns","tagName":"footer"} /-->
