<!-- wp:template-part {"slug":"header-with-search-bar" ,"tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"axton/header-media"} /-->
<!-- wp:pattern {"slug":"axton/stats"} /-->
<!-- wp:pattern {"slug":"axton/what-we-do"} /-->
<!-- wp:pattern {"slug":"axton/portfolio"} /-->
<!-- wp:pattern {"slug":"axton/our-studio"} /-->
<!-- wp:pattern {"slug":"axton/about-us"} /-->
<!-- wp:pattern {"slug":"axton/recent-blog"} /-->
<!-- wp:pattern {"slug":"axton/featured-content"} /-->
<!-- wp:pattern {"slug":"axton/contact-us"} /-->
<!-- wp:pattern {"slug":"axton/logo"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
