<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"renovater/core-single-post-title"} /-->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","layout":{"inherit":false,"contentSize":"800px"}} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:post-featured-image /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"inherit":true}} -->
<div class="wp-block-group alignwide"><!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
<div class="wp-block-column" style="flex-basis:100%"><!-- wp:group {"textColor":"renovater-body-text","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-renovater-body-text-color has-text-color"><!-- wp:post-author {"textAlign":"left","showAvatar":false,"showBio":false,"byline":"","textColor":"renovater-primary"} /-->

<!-- wp:post-date {"textColor":"renovater-primary"} /-->

<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|renovater-accent"}}}},"textColor":"renovater-primary"} /-->

<!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|renovater-accent"}}}},"textColor":"renovater-primary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:post-content {"align":"wide","layout":{"inherit":true}} /-->

<!-- wp:post-comments {"textColor":"renovater-body-text"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer"} /-->