.wp-block-VisionArt-pro-featured-content .wp-block-image,
.wp-block-VisionArt-featured-content .wp-block-image {
  overflow: hidden;
}

.wp-block-VisionArt-pro-featured-content .wp-block-image img,
.wp-block-VisionArt-featured-content .wp-block-image img {
  transition: all 0.5s ease;
}

.wp-block-VisionArt-pro-featured-content .wp-block-image:hover img,
.wp-block-VisionArt-featured-content .wp-block-image:hover img {
  filter: blur(0);
  transform: scale(1.05);
}

.wp-block-post-template {
  li {
    h2 {
      font-size: var(--wp--preset--font-size--large);
      font-family: var(--wp--preset--font-family--pt-serif);
      font-weight: var(--wp--custom--typography--font-weight--normal);
      margin-block-end: clamp(14px, 2vw, 21px);
      margin-block-start: 15px;
    }
  }
}

.wp-block-group.wp-block-post-meta>div {
  position: relative;
}

.wp-block-group.wp-block-post-meta>div:not(:last-child):after {
  content: "";
  height: 15px;
  width: 1px;
  background: var(--wp--preset--color--secondary-text-color);
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.wp-block-group .wp-block-post-excerpt {
  margin-block-start: clamp(21px, 3vw, 28px);
}

.blog-section .wp-block-post-template,
.wp-block-post-template.alignfull {
  gap: var(--wp--custom--spacing--section-heading);
}

.wp-block-post-template figure {
  margin-bottom: var(--wp--custom--spacing--extra-small);
}

figure a,
.wp-block-post-title a {
  padding: 0;
}

.featured-content-section .wp-block-post-template {
  gap: var(--wp--custom--spacing--section-heading);
}

.wp-block-group.wp-block-post-meta {
  @include flex;
  align-items: center;
}

.w-block-widget a {
  font-size: var(--wp--preset--font-size--upper-heading);
}

.wp-block-group.wp-block-post-container {
  margin-top: 0;
  padding: var(--wp--custom--spacing--wp-comment-vertical) var(--wp--custom--spacing--normal);
}

.wp-block-post-meta a {
  font-size: var(--wp--preset--font-size--tiny);
}

.blog-section {
  .wp-block-columns {
    gap: var(--wp--custom--spacing--wp-block-sidebar);
  }
}

.wp-block-columns.wp-block-sidebar-on-left,
.wp-block-columns.wp-block-sidebar-on-right {
  gap: var(--wp--custom--spacing--wp-block-sidebar);
  justify-content: space-between;
}

.featured-row {
  .wp-block-post-template {
    gap: var(--wp--custom--spacing--section-heading);
  }

  .featured-content {
    margin-top: 0;
    padding: var(--wp--custom--spacing--section-heading);

    .wp-block-post-title {
      font-size: var(--wp--preset--font-size--content-heading);
      font-family: var(--wp--preset--font-family--open-sans);
      font-weight: var(--wp--custom--typography--font-weight--bold);

    }
  }
}

.featured-content .wp-block-post-excerpt__excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}