<!-- wp:template-part {"slug":"header","tagName":"header", "className": "site-header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"8rem","bottom":"10rem"}}},"backgroundColor":"quaternary","className":"has-no-margin-top","layout":{"inherit":true}} -->
<div class="wp-block-group alignfull has-no-margin-top has-quaternary-background-color has-background" style="padding-top: 8rem; padding-bottom: 10rem">
	<!-- wp:heading {"textAlign":"center","level":1} -->
	<h1 class="has-text-align-center" id="tours-tasting-brewing-sessions">Tours, Tasting, &amp; Brewing Sessions.</h1>
	<!-- /wp:heading -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4rem","bottom":"4rem"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top: 4rem; padding-bottom: 4rem">
	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0rem"}}}} -->
	<div class="wp-block-group alignwide" style="padding-top: 0rem">
		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:heading {"level":3,"style":{"spacing":{"margin":{"top":"0.5rem","right":"0rem","bottom":"0rem","left":"0rem"}}}} -->
				<h3 id="tea-tasting" style="margin-top: 0.5rem; margin-right: 0rem; margin-bottom: 0rem; margin-left: 0rem">Tea Tasting</h3>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:paragraph -->
				<p>
					Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
					ocean.
				</p>
				<!-- /wp:paragraph -->

				<!-- wp:paragraph -->
				<p><meta charset="utf-8" />Far far away, behind the word mountains.</p>
				<!-- /wp:paragraph -->

				<!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
				<p class="has-primary-color has-text-color has-medium-font-size">$35.00 per person</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->

	<!-- wp:separator {"align":"wide","className":"is-style-wide"} -->
	<hr class="wp-block-separator alignwide is-style-wide" />
	<!-- /wp:separator -->

	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0rem"}}}} -->
	<div class="wp-block-group alignwide" style="padding-top: 0rem">
		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:heading {"level":3,"style":{"spacing":{"margin":{"top":"0.5rem","right":"0rem","bottom":"0rem","left":"0rem"}}}} -->
				<h3 id="tea-tasting-tour" style="margin-top: 0.5rem; margin-right: 0rem; margin-bottom: 0rem; margin-left: 0rem">Tea Tasting &amp; Tour</h3>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:paragraph -->
				<p>
					Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
					ocean.
				</p>
				<!-- /wp:paragraph -->

				<!-- wp:paragraph -->
				<p><meta charset="utf-8" />Far far away, behind the word mountains.</p>
				<!-- /wp:paragraph -->

				<!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
				<p class="has-primary-color has-text-color has-medium-font-size">$65.00 per session</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:separator {"className":"is-style-wide"} -->
		<hr class="wp-block-separator is-style-wide" />
		<!-- /wp:separator -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0rem"}}}} -->
	<div class="wp-block-group alignwide" style="padding-top: 0rem">
		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:heading {"level":3,"style":{"spacing":{"margin":{"top":"0.5rem","right":"0rem","bottom":"0rem","left":"0rem"}}}} -->
				<h3 id="tea-tasting-tour-brewing" style="margin-top: 0.5rem; margin-right: 0rem; margin-bottom: 0rem; margin-left: 0rem">Tea Tasting, Tour &amp; Brewing</h3>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:paragraph -->
				<p>
					Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
					ocean.
				</p>
				<!-- /wp:paragraph -->

				<!-- wp:paragraph -->
				<p><meta charset="utf-8" />Far far away, behind the word mountains.</p>
				<!-- /wp:paragraph -->

				<!-- wp:paragraph {"textColor":"primary","fontSize":"medium"} -->
				<p class="has-primary-color has-text-color has-medium-font-size">£85.00 per session</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"6rem","bottom":"6rem"}}},"backgroundColor":"quaternary","layout":{"inherit":true}} -->
<div class="wp-block-group alignfull has-quaternary-background-color has-background" style="padding-top: 6rem; padding-bottom: 6rem">
	<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"0px","bottom":"1rem"}}},"textColor":"heading"} -->
	<h2 class="has-text-align-center has-heading-color has-text-color" id="book-your-visit" style="margin-top: 0px; margin-bottom: 1rem">Book your visit</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center","textColor":"body","fontSize":"medium"} -->
	<p class="has-text-align-center has-body-color has-text-color has-medium-font-size"><meta charset="utf-8" />Far far away, behind the word mountains, far from the countries Vokalia</p>
	<!-- /wp:paragraph -->

	<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons">
		<!-- wp:button -->
		<div class="wp-block-button"><a class="wp-block-button__link" href="http://contact">Book now</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","layout":{"inherit":true},"className":"site-footer-container"} /-->
