<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"elevated-lite/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	
<!-- wp:pattern {"slug":"elevated-lite/features"} /-->

<!-- wp:pattern {"slug":"elevated-lite/video"} /-->

<!-- wp:pattern {"slug":"elevated-lite/team"} /-->

<!-- wp:pattern {"slug":"elevated-lite/counter"} /-->

<!-- wp:pattern {"slug":"elevated-lite/pricing"} /-->

<!-- wp:pattern {"slug":"elevated-lite/events"} /-->

<!-- wp:pattern {"slug":"elevated-lite/photo-gallery"} /-->

<!-- wp:pattern {"slug":"elevated-lite/testimonial"} /-->

<!-- wp:pattern {"slug":"elevated-lite/clients"} /-->

<!-- wp:pattern {"slug":"elevated-lite/recent-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->