/*About theme*/
.appearance_page_auto_car_dealership_guide{
  background: #fff;
}
.wrapper-info {
    margin-top: 20px;
}
.col-left{
  width: 65%;
  float: left;
}
.col-right {
    width: 30%;
    float: right;
    padding: 5px;
    margin: 0px 20px;
    background: #eee;
    border: solid 1px #ddd;
}
.wrapper-info h2 {
    color: #004c75;
    font-size: 35px;
    margin: 15px 0;
    font-weight: bold;
}
span.version {
    font-size: 15px;
    color: #333;
}
.logo {
    margin: 5px 0;
}
.col-left p {
    font-size: 20px;
    color: #333;
}

/*Tab Button*/
.tab{
    margin-top: 20px;
}
td.update-link, .info-link a, .col-left-pro a,.pro-links a{
    padding: 3px 27px;
    font-weight: bold;
    font-size: 15px;
    background: linear-gradient(#6ccef5,#016194);
    border: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    line-height: 2.15384615;
    border-radius: 3px;
    cursor: pointer;
}
.tab button{
    font-weight: bold;
    font-size: 15px;
    border: none;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    line-height: 2.15384615;
    border-radius: 3px;
    cursor: pointer;
    background: linear-gradient(#eee,#cacaca);
    color: #004c75;
    padding: 3px 12px !important; 
}
button.tablinks.active {
    background: linear-gradient(#6ccef5,#016194);
    color: #fff;
}
.info-link a:hover, .col-left-pro a:hover, td.update-link:hover{
    background: #0771ab !important;
}
button.tablinks:focus {
    outline: none;
}
td.update-link {
    padding: 0px !important;
    display: block;
    text-align: center;
}
td.update-link a {
    color: #fff;    
    text-decoration: none;
    display: block;
    padding: 10px;
}
td.table-img i.fas.fa-check {
    color: #24a562;
}
td.table-img i.fas.fa-times {
    color: #db1601;
}
hr.h3hr {
    width: 10%;
    border-top: 2px solid;
    margin: 0;
}
.tab-sec h3 {
    color: #004c75;
    font-size: 25px;
    margin: 35px 0 10px;
}
.tab-sec p {
    font-size: 16px;
    color: #333;
}
.col-right-inner h3 {
    margin-top: 0;
}
.col-right-inner {
    width: 60%;
    float: right;
    padding: 0 20px;
}
.col-right-inner, .col-left-inner{
    margin: 20px 0px 0px 0px;
}
.col-left-inner {
    width: 36%;
    float: left;
}
.col-right-inner img {
    width: 100%;
    box-shadow: 0 0 15px 1px #bbb;
    margin: 20px 0px 20px 0px;
}
.col-left-inner h4,
.update-now h4,
.col-3 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    margin-top: 0;
}
.update-now span {
    color: red;
    font-size: 23px;
}
.update-now h4{
    text-align: center;
    color: #004c75;
    margin: 8px 0 0 0;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 16px;
}
.col-left-inner p {
    font-size: 14px;
    margin: 8px 0;
}
.info-link {
    margin: 20px 0;
}
.col-right .info-link,
.logo{
    text-align: center;
}
.table-image {
    padding: 20px;
}
.col-left-pro {
    width: 40%;
    float: left;
}
.col-right-pro {
    width: 55%;
    float: right;
    padding: 15px;
}
.pro-links {
    margin: 3em 0;
}
.pro-links a {
    margin-right: 8px;
    padding: 10px 15px;    
}
.tabcontent {
    display: none;
}
.open {
    display: block ;
}
.tab-sec,
.featurebox {
    width: 100%;
    float: left;
}
.col-left-pro p {
    margin-top: 25px;
}
.innerbox {
    margin: 30px 0;
}
#free_pro p{
  margin: 15px 0 0 0;
}
#free_pro .info-link {
    margin: 15px 0;
}
/*Table CSS*/
.tablebox td {
    padding: 15px 10px;
    font-size: 18px;
    color: #000;
    border: solid 1px #ddd;
}
td.table-img {
    text-align: center;
}
tr.odd {
    background: #eee;
}
.tablebox th {
    padding: 15px;
    background: #eee;
    color: #000;
    font-size: 20px;
    border: solid 1px #ddd;
}
table.tablebox {
    border: solid 1px #ddd;
    padding: 2px;
    width: 100%;
}
.notice.notice-success.is-dismissible.welcome-notice span a{
    margin: 10px 10px 10px 0px;
}
.notice.notice-success.is-dismissible.welcome-notice span.upgrade-btn a{
    background-color: #00a32a;
    border-color: #00a32a;
}
.notice.notice-success.is-dismissible.welcome-notice span.demo-btn a{
    background-color: #dba617;
    border-color: #dba617;
}
.appearance_page_auto_car_dealership_guide .notice.notice-success.is-dismissible.welcome-notice{
    display: none;
}