<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"black","textColor":"white","className":"site-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content has-white-color has-black-background-color has-text-color has-background has-link-color" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">
    <!-- wp:pattern {"slug":"greenshift/hero-main"} /-->
    <!-- wp:pattern {"slug":"greenshift/general-features"} /-->
    <!-- wp:pattern {"slug":"greenshift/general-features-list"} /-->
    <!-- wp:pattern {"slug":"greenshift/general-ratings"} /-->
    <!-- wp:pattern {"slug":"greenshift/general-faq"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer is-style-no-margin"} /-->


