<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"site-title-area","layout":{"type":"constrained"}} -->
	<div class="wp-block-group site-title-area" style="margin-top:0;margin-bottom:0">
		<!-- wp:template-part {"slug":"titlepage","theme":"greenshift","tagName":"div","className":"site-title-area"} /-->
	</div>
<!-- /wp:group -->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"50px","bottom":"50px","right":"0","left":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"contrastcolor","textColor":"basecolor","className":"site-content"} -->
	<main class="wp-block-group site-content has-basecolor-color has-contrastcolor-background-color has-text-color has-background" style="margin-top:0;margin-bottom:0;padding-top:50px;padding-right:0;padding-bottom:50px;padding-left:0">
		<!-- wp:post-content {"layout":{"inherit":true}} /-->
	</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer is-style-no-margin"} /-->