<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-archive-hero"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained","justifyContent":"center"},"style":{"spacing":{"padding":{"top":"85px","bottom":"85px"}}},"backgroundColor":"white","textColor":"third"} -->
<main class="wp-block-group has-third-color has-white-background-color has-text-color has-background" style="padding-top:85px;padding-bottom:85px"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":24,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"className":"hypebiz-post-template-gap","layout":{"inherit":false}} -->
<div class="wp-block-query hypebiz-post-template-gap"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"height":"220px","align":"wide","style":{"spacing":{"margin":{"bottom":"20px"}}}} /-->

<!-- wp:post-date {"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"var:preset|color|third"}}}},"textColor":"third"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"22px","lineHeight":"1.7"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary"} /-->

<!-- wp:post-excerpt {"moreText":"Read More","style":{"spacing":{"margin":{"top":"20px","bottom":"20px"}},"elements":{"link":{"color":{"text":"var:preset|color|third"}}}},"textColor":"fourth"} /-->
<!-- /wp:post-template -->

<!-- wp:spacer {"height":"0px"} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-pagination {"paginationArrow":"arrow","style":{"elements":{"link":{"color":{"text":"var:preset|color|third"}}}},"backgroundColor":"white","textColor":"fourth","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous {"backgroundColor":"white"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"backgroundColor":"white"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->