<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-home-hero"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-home-about"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-home-logo-client"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-home-featured"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-home-cta"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-home-featured-2"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-home-benefits"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-home-testimonials"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-home-blog"} /-->

<!-- wp:template-part {"slug":"footer"} /-->