<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"style-centered","layout":{"inherit":false,"contentSize":""}} -->
<main class="wp-block-group style-centered"><!-- wp:group {"className":"post-card","layout":{"contentSize":"960px"}} -->
    <div class="wp-block-group post-card"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:post-title {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"48px"}}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content {"layout":{"inherit":false,"contentSize":"720px","wideSize":"960px"}} /-->
    
    <!-- wp:spacer {"height":"1px"} -->
    <div style="height:1px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></main>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->