<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"style-centered","layout":{"inherit":false,"contentSize":""}} -->
<main class="wp-block-group style-centered"><!-- wp:group {"className":"post-card","layout":{"contentSize":"960px"}} -->
    <div class="wp-block-group post-card"><!-- wp:group {"style":{"spacing":{"blockGap":"0px","margin":{"bottom":"16px"}}},"className":"post-meta","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group post-meta" style="margin-bottom:16px"><!-- wp:post-date {"format":"M j, Y","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"}},"fontSize":"tiny","fontFamily":"system-font"} /-->
    
    <!-- wp:post-terms {"term":"category","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"}},"fontSize":"tiny"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:post-title {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"48px"}}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
    
    <!-- wp:spacer {"height":"1px"} -->
    <div style="height:1px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"medium"} -->
    <p class="has-medium-font-size" style="font-style:normal;font-weight:700">Tags:</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"medium"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"4rem"}}},"layout":{"contentSize":"960px"}} -->
    <div class="wp-block-group" style="margin-top:4rem"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","label":"","showTitle":true,"linkLabel":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->
    
    <!-- wp:post-navigation-link {"label":"","showTitle":true,"linkLabel":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"3.75rem"}}},"layout":{"inherit":true}} -->
    <div class="wp-block-group" style="margin-top:3.75rem"><!-- wp:group {"style":{"spacing":{"margin":{"top":"40px"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="margin-top:40px"><!-- wp:avatar {"size":120,"isLink":true,"style":{"border":{"radius":"60px"}}} /-->
    
    <!-- wp:group -->
    <div class="wp-block-group"><!-- wp:post-author {"showAvatar":false,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"large"} /-->
    
    <!-- wp:post-author-biography {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"3.75rem"}}},"layout":{"inherit":true}} -->
    <div class="wp-block-group" style="margin-top:3.75rem"><!-- wp:comments-query-loop -->
    <div class="wp-block-comments-query-loop"><!-- wp:comments-title {"showPostTitle":false,"showCommentsCount":false,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"large"} /-->
    
    <!-- wp:comment-template -->
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"80px"} -->
    <div class="wp-block-column" style="flex-basis:80px"><!-- wp:avatar {"size":80,"style":{"border":{"radius":"100px"}}} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:comment-author-name {"linkTarget":"_blank","style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"small"} /-->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->
    
    <!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:comment-content /-->
    
    <!-- wp:comment-reply-link {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"fontSize":"tiny"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:comment-template -->
    
    <!-- wp:comments-pagination {"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground","layout":{"type":"flex","justifyContent":"space-between"}} -->
    <!-- wp:comments-pagination-previous /-->
    
    <!-- wp:comments-pagination-numbers /-->
    
    <!-- wp:comments-pagination-next /-->
    <!-- /wp:comments-pagination -->
    
    <!-- wp:post-comments-form /--></div>
    <!-- /wp:comments-query-loop --></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->

<!-- wp:pattern {"slug":"scandinavia/query-post-list-tiles"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->