<!-- wp:template-part {"slug":"header-dark","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main id="main-container" class="wp-block-group"><!-- wp:group {"className":"container","layout":{"inherit":true}} -->
<div id="page-container" class="wp-block-group container"><!-- wp:group {"className":"row"} -->
<div class="wp-block-group row"><!-- wp:group {"className":"col-12"} -->
<div class="wp-block-group col-12"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:group {"textColor":"primary"} -->
<div class="wp-block-group has-primary-color has-text-color"><!-- wp:heading {"textAlign":"center","textColor":"primary"} -->
<h2 class="has-text-align-center has-primary-color has-text-color">Oops! Page Not Found!</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">We’re sorry but we can’t seem to find the page you
                            requested. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">This might be because you have typed the web address
                            incorrectly.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->