<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mt-0","layout":{"inherit":false}} -->

<main id="sc-main" class="wp-block-group mt-0">

    <!-- wp:pattern {"slug":"societas/section-hero"} /-->

    <!-- wp:pattern {"slug":"societas/section-icon-boxes"} /-->

    <!-- wp:pattern {"slug":"societas/section-services"} /-->

    <!-- wp:pattern {"slug":"societas/section-counter"} /-->

    <!-- wp:pattern {"slug":"societas/section-why-us"} /-->

    <!-- wp:pattern {"slug":"societas/section-team"} /-->

    <!-- wp:pattern {"slug":"societas/section-call-to-action"} /-->

    <!-- wp:pattern {"slug":"societas/section-icon-cards"} /-->

    <!-- wp:pattern {"slug":"societas/section-faq"} /-->

    <!-- wp:pattern {"slug":"societas/section-latest-posts"} /-->

</main>

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"section-no-block-space"} /-->