<!-- wp:template-part {"slug":"header","theme":"skt-patterns","tagName":"header"} /-->

<!-- wp:skt-blocks/section {"contentWidth":"full_width","blockId":"f07db6d7-9ffd-4849-b0fb-294d213be4fe","innerWidth":2000,"topPadding":0,"topPaddingMobile":0,"topPaddingTablet":0,"bottomPadding":0,"bottomPaddingMobile":0,"bottomPaddingTablet":0,"leftPadding":0,"leftPaddingMobile":0,"leftPaddingTablet":0,"rightPadding":0,"rightPaddingMobile":0,"rightPaddingTablet":0,"className":"gb-patterns-page-header"} -->
<div class="wp-block-skt-blocks-section gb-patterns-page-header skt-blocks-block-section-outer-wrap block-f07db6d7-9ffd-4849-b0fb-294d213be4fe background-type-none alignundefined" style="z-index:1;max-width:;margin-left:;margin-right:"><style type="text/css"> @media only screen and (max-width: 976px){
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
}
 @media only screen and (max-width: 767px){
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
}
 @media only screen and (min-width: 976px){
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
}
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe.skt-blocks-block-section-outer-wrap.background-type-image{
 background-image: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),url(undefined); background-position: center-center; background-attachment: scroll; background-repeat: no-repeat; background-size: cover; border-radius: 0px; }
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-color{
 background-color: rgba(255, 255, 255, 0.2); }
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-gradient.linear{
 background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); }
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-gradient.radial{
 background-image: radial-gradient( at center center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); }
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe.background-type-video .skt-blocks-block-section {
 background-color: rgba(255, 255, 255, 0.2); }
</style><style type="text/css"> .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe .responsive-section-inner-wrap {
 max-width : 100%; }
 @media only screen and (min-width: 976px){
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe.alignfull .responsive-section-inner-wrap {
 max-width : 2000px !important; }
}
 @media only screen and (max-width: 976px){
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe.alignfull .responsive-section-inner-wrap {
 max-width : 1140px !important; }
}
 @media only screen and (max-width: 767px){
 .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-f07db6d7-9ffd-4849-b0fb-294d213be4fe.alignfull .responsive-section-inner-wrap {
 max-width : 1140px !important; }
}
</style><section class="responsive-section-wrap skt-blocks-block-section overlay-type-color linear" style="border-width:1px;border-style:none;border-radius:0;box-shadow:0px 0px 0px 0px undefined "><div class="responsive-section-inner-wrap" style="z-index:1"><!-- wp:image {"id":704,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/full-site-editing/wp-content/uploads/2022/11/default-header-img.jpg" alt="" class="wp-image-704"/></figure>
<!-- /wp:image -->

<!-- wp:heading {"textAlign":"center","level":1,"style":{"color":{"text":"#ff8a00"}},"className":"wp-block-post-title"} -->
<h1 class="has-text-align-center wp-block-post-title has-text-color" style="color:#ff8a00">Page Not Found</h1>
<!-- /wp:heading --></div></section></div>
<!-- /wp:skt-blocks/section -->

<!-- wp:skt-blocks/section {"contentWidth":"full_width","blockId":"90741998-ee66-4a07-91c7-a02a10de9e09","innerWidth":1170,"topPadding":80,"topPaddingMobile":50,"topPaddingTablet":80,"bottomPadding":80,"bottomPaddingMobile":50,"bottomPaddingTablet":80,"leftPadding":20,"leftPaddingMobile":20,"leftPaddingTablet":20,"rightPadding":20,"rightPaddingMobile":20,"rightPaddingTablet":20} -->
<div class="wp-block-skt-blocks-section skt-blocks-block-section-outer-wrap block-90741998-ee66-4a07-91c7-a02a10de9e09 background-type-none alignundefined" style="z-index:1;max-width:;margin-left:;margin-right:"><style type="text/css"> @media only screen and (max-width: 976px){
 .block-90741998-ee66-4a07-91c7-a02a10de9e09 .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 80px; padding-bottom: 80px; padding-left: 20px; padding-right: 20px; }
}
 @media only screen and (max-width: 767px){
 .block-90741998-ee66-4a07-91c7-a02a10de9e09 .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 50px; padding-bottom: 50px; padding-left: 20px; padding-right: 20px; }
}
 @media only screen and (min-width: 976px){
 .block-90741998-ee66-4a07-91c7-a02a10de9e09 .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 80px; padding-bottom: 80px; padding-left: 20px; padding-right: 20px; }
}
 .block-90741998-ee66-4a07-91c7-a02a10de9e09.skt-blocks-block-section-outer-wrap.background-type-image{
 background-image: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),url(undefined); background-position: center-center; background-attachment: scroll; background-repeat: no-repeat; background-size: cover; border-radius: 0px; }
 .block-90741998-ee66-4a07-91c7-a02a10de9e09.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-color{
 background-color: rgba(255, 255, 255, 0.2); }
 .block-90741998-ee66-4a07-91c7-a02a10de9e09.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-gradient.linear{
 background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); }
 .block-90741998-ee66-4a07-91c7-a02a10de9e09.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-gradient.radial{
 background-image: radial-gradient( at center center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); }
 .block-90741998-ee66-4a07-91c7-a02a10de9e09.background-type-video .skt-blocks-block-section {
 background-color: rgba(255, 255, 255, 0.2); }
</style><style type="text/css"> .block-90741998-ee66-4a07-91c7-a02a10de9e09 .responsive-section-inner-wrap {
 max-width : 100%; }
 @media only screen and (min-width: 976px){
 .block-90741998-ee66-4a07-91c7-a02a10de9e09 .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-90741998-ee66-4a07-91c7-a02a10de9e09.alignfull .responsive-section-inner-wrap {
 max-width : 1170px !important; }
}
 @media only screen and (max-width: 976px){
 .block-90741998-ee66-4a07-91c7-a02a10de9e09 .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-90741998-ee66-4a07-91c7-a02a10de9e09.alignfull .responsive-section-inner-wrap {
 max-width : 1140px !important; }
}
 @media only screen and (max-width: 767px){
 .block-90741998-ee66-4a07-91c7-a02a10de9e09 .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-90741998-ee66-4a07-91c7-a02a10de9e09.alignfull .responsive-section-inner-wrap {
 max-width : 1140px !important; }
}
</style><section class="responsive-section-wrap skt-blocks-block-section overlay-type-color linear" style="border-width:1px;border-style:none;border-radius:0;box-shadow:0px 0px 0px 0px undefined "><div class="responsive-section-inner-wrap" style="z-index:1"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"120px"}}} -->
<h2 class="has-text-align-center" style="font-size:120px">404</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">This page could not be found. Maybe try a search?</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"","buttonText":"Search"} /--></div></section></div>
<!-- /wp:skt-blocks/section -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:pattern {"slug":"twentytwentytwo/hidden-404"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"skt-patterns","tagName":"footer"} /-->