<!-- wp:template-part {"slug":"header","theme":"skt-patterns","tagName":"header"} /-->
<!-- wp:pattern {"slug":"skt-patterns/skt-patterns-hero-banner"} /-->
<!-- wp:pattern {"slug":"skt-patterns/skt-patterns-about"} /-->
<!-- wp:pattern {"slug":"skt-patterns/skt-patterns-services"} /-->
<!-- wp:pattern {"slug":"skt-patterns/skt-patterns-latest-news"} /-->
<!-- wp:pattern {"slug":"skt-patterns/skt-patterns-project"} /-->
<!-- wp:pattern {"slug":"skt-patterns/skt-patterns-how-we-work"} /-->
<!-- wp:template-part {"slug":"footer","theme":"skt-patterns","tagName":"footer"} /-->