<!-- wp:template-part {"slug":"header","theme":"skt-patterns","tagName":"header"} /-->

<!-- wp:skt-blocks/section {"contentWidth":"full_width","blockId":"11707621-c04d-43d3-abfc-0b8182b6e90a","innerWidth":2000,"topPadding":0,"topPaddingMobile":0,"topPaddingTablet":0,"bottomPadding":0,"bottomPaddingMobile":0,"bottomPaddingTablet":0,"leftPadding":0,"leftPaddingMobile":0,"leftPaddingTablet":0,"rightPadding":0,"rightPaddingMobile":0,"rightPaddingTablet":0,"className":"gb-patterns-page-header"} -->
<div class="wp-block-skt-blocks-section gb-patterns-page-header skt-blocks-block-section-outer-wrap block-11707621-c04d-43d3-abfc-0b8182b6e90a background-type-none alignundefined" style="z-index:1;max-width:;margin-left:;margin-right:"><style type="text/css"> @media only screen and (max-width: 976px){
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
}
 @media only screen and (max-width: 767px){
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
}
 @media only screen and (min-width: 976px){
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
}
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a.skt-blocks-block-section-outer-wrap.background-type-image{
 background-image: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),url(undefined); background-position: center-center; background-attachment: scroll; background-repeat: no-repeat; background-size: cover; border-radius: 0px; }
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-color{
 background-color: rgba(255, 255, 255, 0.2); }
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-gradient.linear{
 background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); }
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-gradient.radial{
 background-image: radial-gradient( at center center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); }
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a.background-type-video .skt-blocks-block-section {
 background-color: rgba(255, 255, 255, 0.2); }
</style><style type="text/css"> .block-11707621-c04d-43d3-abfc-0b8182b6e90a .responsive-section-inner-wrap {
 max-width : 100%; }
 @media only screen and (min-width: 976px){
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-11707621-c04d-43d3-abfc-0b8182b6e90a.alignfull .responsive-section-inner-wrap {
 max-width : 2000px !important; }
}
 @media only screen and (max-width: 976px){
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-11707621-c04d-43d3-abfc-0b8182b6e90a.alignfull .responsive-section-inner-wrap {
 max-width : 1140px !important; }
}
 @media only screen and (max-width: 767px){
 .block-11707621-c04d-43d3-abfc-0b8182b6e90a .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-11707621-c04d-43d3-abfc-0b8182b6e90a.alignfull .responsive-section-inner-wrap {
 max-width : 1140px !important; }
}
</style><section class="responsive-section-wrap skt-blocks-block-section overlay-type-color linear" style="border-width:1px;border-style:none;border-radius:0;box-shadow:0px 0px 0px 0px undefined "><div class="responsive-section-inner-wrap" style="z-index:1"><!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"}},"color":{"text":"#ffffff"}}} /-->

<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"}}}} /--></div></section></div>
<!-- /wp:skt-blocks/section -->

<!-- wp:skt-blocks/section {"contentWidth":"full_width","blockId":"a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8","innerWidth":1170,"topPadding":80,"topPaddingMobile":0,"topPaddingTablet":0,"bottomPadding":80,"bottomPaddingMobile":0,"bottomPaddingTablet":0,"leftPadding":20,"leftPaddingMobile":20,"leftPaddingTablet":20,"rightPadding":20,"rightPaddingMobile":20,"rightPaddingTablet":20,"className":"gb-patterns-page-content"} -->
<div class="wp-block-skt-blocks-section gb-patterns-page-content skt-blocks-block-section-outer-wrap block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8 background-type-none alignundefined" style="z-index:1;max-width:;margin-left:;margin-right:"><style type="text/css"> @media only screen and (max-width: 976px){
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8 .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 20px; padding-right: 20px; }
}
 @media only screen and (max-width: 767px){
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8 .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 20px; padding-right: 20px; }
}
 @media only screen and (min-width: 976px){
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8 .skt-blocks-block-section{
 margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-top: 80px; padding-bottom: 80px; padding-left: 20px; padding-right: 20px; }
}
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8.skt-blocks-block-section-outer-wrap.background-type-image{
 background-image: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),url(undefined); background-position: center-center; background-attachment: scroll; background-repeat: no-repeat; background-size: cover; border-radius: 0px; }
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-color{
 background-color: rgba(255, 255, 255, 0.2); }
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-gradient.linear{
 background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); }
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8.skt-blocks-block-section-outer-wrap.background-type-image .skt-blocks-block-section.overlay-type-gradient.radial{
 background-image: radial-gradient( at center center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); }
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8.background-type-video .skt-blocks-block-section {
 background-color: rgba(255, 255, 255, 0.2); }
</style><style type="text/css"> .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8 .responsive-section-inner-wrap {
 max-width : 100%; }
 @media only screen and (min-width: 976px){
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8 .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8.alignfull .responsive-section-inner-wrap {
 max-width : 1170px !important; }
}
 @media only screen and (max-width: 976px){
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8 .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8.alignfull .responsive-section-inner-wrap {
 max-width : 1140px !important; }
}
 @media only screen and (max-width: 767px){
 .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8 .responsive-section-inner-wrap, .page.page-template-gutenberg-fullwidth .block-a8300fa0-f7c0-44fa-9b48-5dc695fdb3c8.alignfull .responsive-section-inner-wrap {
 max-width : 1140px !important; }
}
</style><section class="responsive-section-wrap skt-blocks-block-section overlay-type-color linear" style="border-width:1px;border-style:none;border-radius:0;box-shadow:0px 0px 0px 0px undefined "><div class="responsive-section-inner-wrap" style="z-index:1"><!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:comments {"style":{"spacing":{"padding":{"top":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"}}}} -->
<div class="wp-block-comments" style="padding-top:var(--wp--custom--spacing--medium, 6rem)"><!-- wp:comments-title /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"60px"} -->
<div class="wp-block-column" style="flex-basis:60px"><!-- wp:avatar {"size":60,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"style":{"typography":{"fontSize":"18px"}}} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"style":{"typography":{"fontSize":"16px"}}} /-->

<!-- wp:comment-edit-link {"style":{"typography":{"fontSize":"16px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"15px"} -->
<div style="height:15px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:comment-content {"style":{"typography":{"fontSize":"18px"}}} /-->

<!-- wp:comment-reply-link {"style":{"typography":{"fontSize":"16px"}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments --></div></section></div>
<!-- /wp:skt-blocks/section -->

<!-- wp:template-part {"slug":"footer","theme":"skt-patterns","tagName":"footer"} /-->