/* --- Block Header Media & Text
-------------------------------------------------------- */

.wp-block-custom-header-media h2 {
  font-size: var(--wp--custom--typography--font-size--huge-post-title);
  text-transform: capitalize;
  text-shadow: 1.4px 2.6px 10px rgba(0, 0, 0, 0.2);
}

.content > .video-play {
  display: flex;
  align-items: center;
}

.content > .video-play,
.content.has-text-align-center > .video-play {
  justify-content: center;
  text-decoration: none;
}

.content.has-text-align-left > .video-play {
  justify-content: flex-start;
}

.content.has-text-align-right > .video-play {
  justify-content: flex-end;
}

.content > .video-play > span {
  display: inline-block;
  padding-left: 7px;
}

.modal.active .close {
  left: unset;
  top: 50px;
  right: 50px;
}

.wp-block-custom-header-media-with-title-and-nav .content span,
.wp-block-custom-header-media-with-video .content span,
.wp-block-custom-header-media .content span {
  font-weight: 700;
  font-size: var(--wp--preset--font-size--medium);
  transition: all 0.3s ease-in-out;
}

.wp-block-custom-header-media-with-title-and-nav .video-play:hover span,
.wp-block-custom-header-media-with-video .video-play:hover span,
.wp-block-custom-header-media .video-play:hover span {
  letter-spacing: 1px;
}

/* When Media Left and Right */

.wp-block-media-text:not(.is-stacked-on-mobile).has-media-on-the-right
  .wp-block-media-text__content {
  padding-left: 0;
}

.wp-block-media-text:not(.is-stacked-on-mobile):not(.has-media-on-the-right)
  .wp-block-media-text__content {
  padding-right: 0;
}

.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
  padding-left: 0;
  padding-right: 0;
  max-width: 85%;
}

/* --- Block Header Media & Text With Title and Navigation
-------------------------------------------------------- */

.wp-block-custom-header-media-with-video .content svg,
.wp-block-custom-header-media-with-video .content span,
.wp-block-custom-header-media-with-title-and-nav .content svg,
.wp-block-custom-header-media-with-title-and-nav .content span,
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-fse-pro-header-search
  .search-controller
  svg,
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-fse-pro-header-social
  .social-controller
  svg {
  color: var(--wp--preset--color--color-light);
  fill: var(--wp--preset--color--color-light);
}

.wp-block-custom-header-media-with-title-and-nav .wp-block-site-title a,
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-navigation__responsive-container-open {
  color: var(--wp--preset--color--color-light);
}

.wp-block-custom-header-media-with-title-and-nav .wp-block-site-title a:hover,
.wp-block-custom-header-media-with-title-and-nav .wp-block-site-title a:focus,
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-navigation__responsive-container-open:hover,
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-navigation__responsive-container-open:focus,
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-fse-pro-header-search
  .search-controller:hover
  svg,
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-fse-pro-header-social
  .social-controller:hover
  svg {
  color: var(--wp--preset--color--text-link);
  fill: var(--wp--preset--color--text-link);
}

.wp-block-cover.wp-block-custom-header-media-with-title-and-nav
  .block-editor-block-list__layout {
  width: auto; // For Editor
}

.wp-block-custom-header-media-with-title-and-nav .wp-block-main-header {
  padding-bottom: 10px;
}

.wp-block-custom-header-media-with-title-and-nav.wp-block-section {
  padding-top: 0;
}

.wp-block-custom-header-media-with-title-and-nav
  .wp-block-main-header
  .wp-block-button__link,
.wp-block-main-header .wp-block-button__link {
  margin-top: 0; // For Editor
}

.wp-block-custom-header-media-with-title-and-nav .content > .video-play > span {
  padding-left: 14px; // For Editor
}

header .wp-block-media-text .wp-block-buttons .wp-block-button__link {
  margin-top: 14px;
}

/* For Wp Custom Block - Popup Video Overlay Issues */

.wp-block-custom-header-media-with-title-and-nav
  .wp-block-social-search-container {
  z-index: 3;
}

.wp-block-custom-header-media-with-title-and-nav {
  z-index: 2;
}

.wp-block-custom-header-media-with-video.wp-block-cover
  .wp-block-cover__inner-container,
.wp-block-custom-header-media-with-title-and-nav.wp-block-cover
  .wp-block-cover__inner-container {
  z-index: inherit;
}

.wp-block-custom-header-media-with-video .wp-block-media-text__media,
.wp-block-custom-header-media-with-title-and-nav .wp-block-media-text__media {
  z-index: 2;
}

.wp-block-custom-header-media-with-video
  .wp-block-media-text__content
  > *:not(.wp-block-buttons),
.wp-block-custom-header-media-with-video
  .wp-block-media-text__content
  .wp-block-buttons
  .wp-block-button,
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-media-text__content
  > *:not(.wp-block-buttons),
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-media-text__content
  .wp-block-buttons
  .wp-block-button {
  position: relative;
  z-index: 2;
}

.wp-block-custom-header-media-with-video .wp-block-fse-pro-popup-video .content,
.wp-block-custom-header-media-with-title-and-nav
  .wp-block-fse-pro-popup-video
  .content {
  position: relative;
}

/* --- Block Header Transparent
-------------------------------------------------------- */

.header-transparent.alignfull,
.header-transparent.alignwide,
.header-transparent {
  position: absolute !important;
  width: 100%;
  z-index: 9;
  transition: all 0.4s;
}

.header-transparent .wp-block-site-title a,
.header-transparent .wp-block-site-tagline,
.header-transparent .wp-block-navigation__responsive-container-open,
.header-transparent .wp-block-fse-pro-header-search .search-controller svg,
.header-transparent .wp-block-fse-pro-header-social .social-controller svg {
  color: var(--wp--preset--color--color-light);
  fill: var(--wp--preset--color--color-light);
}

.header-transparent .wp-block-navigation__responsive-container-open:hover,
.header-transparent .wp-block-navigation__responsive-container-close:hover,
.header-transparent .wp-block-site-title a:hover {
  color: var(--wp--preset--color--text-link);
}
