/* --- Prouct Category With Thumbnail
-------------------------------------------------------- */
.wp-thumbnail-product {
  padding: 0;

  .wp-block-columns {
    gap: 0 30px;
  }
  .wc-block-grid__products {
    margin: 0;
  }
}

.wp-product-category-thumbnail {
  height: 100%;

  .wp-block-cover {
    height: 100%;
  }
}
.wp-thumbnail-product .wc-block-featured-category,
.wp-thumbnail-product .wp-product-cateogry-block {
  height: 100%;
}

.wp-block-group.alignfull.wp-thumbnail-product {
  margin: 30px !important;
  max-width: 100% !important;
  background-color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.wp-site-blocks .wp-block-section.wp-product-showcase {
  margin: 30px 0;
  background-color: transparent;
}

.wc-block-featured-category__description p {
  margin: 0;
  line-height: 1.75;
}

/* --- three column product showcase **/

.wp-product-showcase
  .wc-block-featured-product
  .wc-block-featured-product__price,
.wp-product-showcase
  .wc-block-featured-product
  .wc-block-featured-product__title {
  color: var(--wp--preset--color--foreground);
}
.wp-product-cateogry-block
  .wc-block-featured-category
  .wc-block-featured-category__description,
.wp-product-showcase
  .wc-block-featured-product
  .wc-block-featured-product__description {
  color: var(--wp--preset--color--body-text);
}

.wp-product-cateogry-block
  .wc-block-featured-category
  .wc-block-featured-category__background-image,
.wp-product-showcase
  .wc-block-featured-product
  .wc-block-featured-product__background-image {
  position: relative;
  width: auto;
  height: auto;
  object-fit: contain !important;
  margin: 28px 0;
  transition: all 0.4s;
  max-width: 60%;
  z-index: 2;
}
.wp-block-latest-products
  .wc-block-grid__product:hover
  .wc-block-grid__product-image
  img,
.wp-product-cateogry-block
  .wc-block-featured-category:hover
  img.wc-block-featured-category__background-image,
.wp-thumbnail-product .wc-block-product-category:hover img,
.wc-block-featured-product:hover
  img.wc-block-featured-product__background-image {
  transform: scale(1.05);
}
.wp-product-showcase
  .wc-block-featured-product.has-background-dim
  .background-dim__overlay:before {
  opacity: 0;
}

.wp-product-showcase .wc-block-featured-product {
  padding-bottom: var(--wp--custom--spacing--section-block-bottom);
  padding-top: var(--wp--custom--spacing--section-block-bottom);
}

.wp-thumbnail-product .wp-block-columns .wp-product-category-thumbnail {
  overflow: hidden;
}

.wp-thumbnail-product .wp-block-columns .wp-product-category-thumbnail img {
  transform: scale(1.1);
  transition: all 0.4s;
}

.wp-thumbnail-product
  .wp-block-columns:hover
  .wp-product-category-thumbnail
  img {
  transform: scale(1);
}
