<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"financio/gutenverse-hero"} /-->

<!-- wp:pattern {"slug":"financio/gutenverse-feature-2"} /-->

<!-- wp:pattern {"slug":"financio/gutenverse-section-1"} /-->

<!-- wp:pattern {"slug":"financio/gutenverse-feature"} /-->

<!-- wp:pattern {"slug":"financio/gutenverse-description"} /-->

<!-- wp:pattern {"slug":"financio/gutenverse-cta"} /-->

<!-- wp:pattern {"slug":"financio/gutenverse-team"} /-->

<!-- wp:template-part {"slug":"footer"} /-->