<!-- wp:template-part {"slug":"header-default","tagName":"header-default","className":"site-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:template-part {"slug":"banner","tagName":"banner","className":"site-banner"} /-->
<!-- wp:group {"backgroundColor":"white","layout":{"contentSize":"1200px"}} -->
<div class="wp-block-group has-white-background-color has-background"><!-- wp:columns -->
<div class="wp-block-columns spice-fse-blog">


<!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column blog-article" style="flex-basis:66.66%">

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group blog-content"><!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:group {"className":"wp-block-post-meta","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group wp-block-post-meta">
<!-- wp:post-date {"isLink":true} /-->
</div>
<!-- /wp:group -->

<!-- wp:post-title {"isLink":true} /-->



<!-- wp:post-excerpt {"moreText":"Read More"} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query -->
</main>
<!-- /wp:group -->


</div>
<!-- /wp:column -->
<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column blog-sidebar" style="flex-basis:33.33%">
	<!-- wp:template-part {"slug":"sidebar"} /-->
</div>
<!-- /wp:column -->

</div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->