<!-- wp:template-part {"slug":"header-default","tagName":"header-default","className":"site-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"spice-fse/hero-banner"} /-->
<!-- wp:pattern {"slug":"spice-fse/about"} /-->
<!-- wp:pattern {"slug":"spice-fse/services"} /-->
<!-- wp:pattern {"slug":"spice-fse/funfact"} /-->
<!-- wp:pattern {"slug":"spice-fse/portfolio"} /-->
<!-- wp:pattern {"slug":"spice-fse/features"} /-->
<!-- wp:pattern {"slug":"spice-fse/cta"} /-->
<!-- wp:pattern {"slug":"spice-fse/team"} /-->
<!-- wp:pattern {"slug":"spice-fse/testimonial"} /-->
<!-- wp:pattern {"slug":"spice-fse/latest-blog"} /-->
<!-- wp:pattern {"slug":"spice-fse/client"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->