<!-- wp:template-part {"slug":"header-default","tagName":"header-default","className":"site-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:template-part {"slug":"banner","tagName":"banner","className":"site-banner"} /-->
<!-- wp:pattern {"slug":"spice-fse/services"} /-->
<!-- wp:pattern {"slug":"spice-fse/cta"} /-->
<!-- wp:pattern {"slug":"spice-fse/testimonail"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->