<!-- wp:template-part {"slug":"header-default","tagName":"header-default","className":"site-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

<!-- wp:template-part {"slug":"banner","tagName":"banner","className":"site-banner"} /-->

<!-- wp:group {"backgroundColor":"white","layout":{"contentSize":"1200px"}} -->

<div class="wp-block-group has-white-background-color has-background">
	
	<!-- wp:columns {"className":"spice-fse-blog"} -->
<div class="wp-block-columns spice-fse-blog"><!-- wp:column {"width":"66.66%","className":"blog-article"} -->
<div class="wp-block-column blog-article" style="flex-basis:66.66%"><!-- wp:post-featured-image /-->

<!-- wp:group {"className":"wp-block-post-meta","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group wp-block-post-meta">
	<!-- wp:post-date {"isLink":true} /-->
</div>
<!-- /wp:group -->

<!-- wp:post-title /-->

<!-- wp:post-content /-->

<!-- wp:comments-query-loop {"className":"spice-fse-comment"} -->
<div class="wp-block-comments-query-loop spice-fse-comment"><!-- wp:comments-title /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments-query-loop --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%","className":"blog-sidebar"} -->
<div class="wp-block-column blog-sidebar" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","theme":"spice-fse"} /--></div>
<!-- /wp:column --></div>


<!-- /wp:columns -->

</div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->