li#accordion-section-vw_bakery_blocks_go_pro {
	display: block !important;
}
#accordion-section-vw_bakery_blocks_go_pro h3.accordion-section-title{
    background: #ff7c93 !important;
    color: #fff !important;
    font-size: 13px;
    padding: 15px 15px 15px 10px;
}
a.button.button-secondary.alignright {
    color: #000 !important;
    background: #ffdd6a !important;
    font-size: 14px;
    margin: -5px !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 2px 2px 0px 0px #fff !important;
    font-size: 14px;
}