<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"gutenify-photography/home-banner"} /-->
<!-- wp:pattern {"slug":"gutenify-photography/gallery"} /-->
<!-- wp:pattern {"slug":"gutenify-photography/hero-section"} /-->
<!-- wp:pattern {"slug":"gutenify-photography/service-one"} /-->
<!-- wp:pattern {"slug":"gutenify-photography/call-to-action"} /-->
<!-- wp:pattern {"slug":"gutenify-photography/counter"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"0px","bottom":"80px","left":"0px"},"blockGap":"0px"}},"layout":{"inherit":true}} -->
<div
	class="wp-block-group"
	style="
		padding-top: 80px;
		padding-right: 0px;
		padding-bottom: 80px;
		padding-left: 0px;
	"
>
	<!-- wp:pattern {"slug":"gutenify-photography/section-title"} /-->
	<!-- wp:pattern {"slug":"gutenify-photography/post-listing-three-column"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
