<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group -->
<div class="wp-block-group">
<!-- wp:pattern {"slug":"gutenify-photography/cover-with-post-title"} /-->
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}},"layout":{"inherit":true}} -->
	<div class="wp-block-group" style="padding-top: 80px; padding-bottom: 80px">
		<!-- wp:woocommerce/legacy-template {"template":"single-product","align":"wide"} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->
