<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"blockGap":"0px"}},"layout":{"inherit":true}} -->
<main
	class="wp-block-group"
	style="
		padding-top: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
		padding-left: 40px;
	"
>
	<!-- wp:group {"tagName":"main","className":"archive-page"} -->
	<main class="wp-block-group archive-page"><!-- wp:latest-posts {"className":"latest-blog","postsToShow":18,"displayPostContent":true,"excerptLength":22,"displayPostDate":true,"postLayout":"grid","displayFeaturedImage":true} /--></main>
<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
