<!-- wp:pattern {"slug":"accountra/core-single-post-title"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"layout":{"contentSize":"1140px"}} -->
<div class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"66.66%","style":{"spacing":{"padding":{"right":"20px"}}},"layout":{"contentSize":""}} -->
<div class="wp-block-column" style="padding-right:20px;flex-basis:66.66%"><!-- wp:post-featured-image /-->

<!-- wp:spacer {"height":"15px"} -->
<div style="height:15px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-content {"align":"wide","layout":{"inherit":true}} /-->

<!-- wp:post-comments {"textColor":"forth"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"35px","right":"30px","bottom":"10px","left":"40px"}},"color":{"text":"#ffffff"},"border":{"radius":"8px"}},"className":"is-style-customboxshadow"} -->
<div class="wp-block-group alignfull is-style-customboxshadow has-text-color" style="border-radius:8px;color:#ffffff;padding-top:35px;padding-right:30px;padding-bottom:10px;padding-left:40px"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"21px"}},"textColor":"primary"} -->
<h2 class="has-primary-color has-text-color" style="font-size:21px;font-style:normal;font-weight:500">Recent Post</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":66,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:separator {"opacity":"css","style":{"color":{"background":"#ffffff"}},"className":"alignwide is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-css-opacity has-background alignwide is-style-wide" style="background-color:#ffffff;color:#ffffff"/>
<!-- /wp:separator -->

<!-- wp:columns {"verticalAlignment":"center","align":"wide"} -->
<div class="wp-block-columns alignwide are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","width":"100%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:100%"><!-- wp:post-date {"style":{"typography":{"lineHeight":"0","fontSize":"14px"}},"textColor":"forth"} /-->

<!-- wp:post-title {"style":{"typography":{"lineHeight":"1.3","fontStyle":"normal","fontWeight":"400"},"color":{"link":"#ffffff"},"spacing":{"margin":{"bottom":"10px"}}},"textColor":"primary","fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"30px"}}}} -->
<div class="wp-block-group" style="margin-top:30px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"45px","right":"30px","bottom":"35px","left":"40px"}},"border":{"radius":"8px"},"color":{"background":"#f9f9f9"}},"className":"is-style-default"} -->
<div class="wp-block-group alignfull is-style-default has-background" style="background-color:#f9f9f9;border-radius:8px;padding-top:45px;padding-right:30px;padding-bottom:35px;padding-left:40px"><!-- wp:heading {"style":{"typography":{"fontSize":"21px","lineHeight":"0.1","fontStyle":"normal","fontWeight":"500"}},"textColor":"primary"} -->
<h2 class="has-primary-color has-text-color" style="font-size:21px;font-style:normal;font-weight:500;line-height:0.1">Have Any Question?</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"textColor":"forth","fontSize":"tiny"} -->
<p class="has-forth-color has-text-color has-tiny-font-size" style="font-style:normal;font-weight:300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
<!-- /wp:paragraph -->

<!-- wp:list {"style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"textColor":"primary","fontSize":"tiny"} -->
<ul class="has-primary-color has-text-color has-tiny-font-size" style="font-style:normal;font-weight:300"><li>(+62)81 122 4341</li><li>contact@domain.com</li></ul>
<!-- /wp:list --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->