<!-- wp:template-part {"slug":"header","theme":"jaxon","tagName":"header","align":"full"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"}}},"layout":{"type":"constrained","wideSize":"960px","justifyContent":"center"}} -->
    <div class="wp-block-group alignfull" style="padding-top:64px;padding-bottom:64px">
        <!-- wp:columns -->
        <div class="wp-block-columns">
            <!-- wp:column {"width":"65%"} -->
            <div class="wp-block-column" style="flex-basis:65%">
                <!-- wp:paragraph {"align":"left","style":{"typography":{"fontSize":"180px","lineHeight":"1"}}} -->
                <p class="has-text-align-left" style="font-size:180px;line-height:1">404</p>
                <!-- /wp:paragraph -->

                <!-- wp:heading -->
                <h2>Unfortunately we can’t find that page.</h2>
                <!-- /wp:heading -->

                <!-- wp:paragraph {"align":"left"} -->
                <p class="has-text-align-left">The page you are looking for doesn't exist or has been moved. Try another
                    url or go to the site homepage</p>
                <!-- /wp:paragraph -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
            <div class="wp-block-column is-vertically-aligned-center"
                style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
                <!-- wp:group {"style":{"border":{"radius":{"topLeft":"112px","bottomRight":"104px"}}},"backgroundColor":"ti-accent","layout":{"type":"constrained"}} -->
                <div class="wp-block-group has-ti-accent-background-color has-background"
                    style="border-top-left-radius:112px;border-bottom-right-radius:104px">
                    <!-- wp:spacer {"height":"200px"} -->
                    <div style="height:200px" aria-hidden="true" class="wp-block-spacer"></div>
                    <!-- /wp:spacer -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"jaxon","tagName":"footer","align":"full"} /-->
