<!-- wp:template-part {"slug":"header","theme":"jaxon","tagName":"header","align":"full"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

    <!-- wp:pattern {"slug":"jaxon/hero-cover-with-title-and-image"} /-->
    <!-- wp:pattern {"slug":"jaxon/row-with-logos"} /-->
    <!-- wp:pattern {"slug":"jaxon/categories-with-description-and-images"} /-->
    <!-- wp:pattern {"slug":"jaxon/two-columns-with-images-and-text"} /-->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"64px"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:pattern {"slug":"jaxon/three-columns-with-testimonials"} /-->
    <!-- wp:pattern {"slug":"jaxon/posts-in-a-three-column-grid"} /-->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"jaxon","tagName":"footer","align":"full"} /-->
