<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">

  <!-- wp:spacer {"height":"50px"} -->
  <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"10em"}}} -->
  <h2 class="has-text-align-center" style="font-size:10em">404</h2>
  <!-- /wp:heading -->

  <!-- wp:spacer {"height":"50px"} -->
  <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /-->

  <!-- wp:spacer {"height":"50px"} -->
  <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->