<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"}}},"className":"site-content"} -->
<main class="wp-block-group site-content" style="margin-top:0px">

	<!-- wp:pattern {"slug":"ambitio/page-header"} /-->

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"4vw","right":"4vw","bottom":"4vw","left":"4vw"},"margin":{"top":"0px"}}},"layout":{"contentSize":"2400px","wideSize":"2400px","inherit":false}} -->
	<div class="wp-block-group" style="margin-top:0px;padding-top:4vw;padding-right:4vw;padding-bottom:4vw;padding-left:4vw">

		<!-- wp:pattern {"slug":"ambitio/blog-posts-list"} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
