<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"intrace/gutenverse-home-hero"} /-->

<!-- wp:pattern {"slug":"intrace/gutenverse-home-feature"} /-->

<!-- wp:pattern {"slug":"intrace/gutenverse-home-about-2"} /-->

<!-- wp:pattern {"slug":"intrace/gutenverse-home-services-2"} /-->

<!-- wp:pattern {"slug":"intrace/gutenverse-home-funfact"} /-->

<!-- wp:pattern {"slug":"intrace/gutenverse-home-pricing"} /-->

<!-- wp:pattern {"slug":"intrace/gutenverse-home-feature-2"} /-->

<!-- wp:pattern {"slug":"intrace/gutenverse-home-client-logo"} /-->

<!-- wp:pattern {"slug":"intrace/gutenverse-home-cta"} /-->

<!-- wp:template-part {"slug":"footer"} /-->