<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true},"style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"40px","bottom":"80px"}}}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:40px;padding-bottom:80px">
	<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"bottom":"40px"},"blockGap":"10px"}}} -->
	<div class="wp-block-group alignwide" style="margin-bottom:40px">
		<!-- wp:query-title {"type":"archive","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"fontSize":"max-36"} /-->
		<!-- wp:term-description /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"design-mode/query"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->