<!-- wp:template-part {"slug":"header-logo-only-with-background","tagName":"header"} /-->

<!-- wp:pattern {"slug":"sicily/general-call-to-action"} /-->

<!-- wp:pattern {"slug":"sicily/general-call-to-action-three-columns"} /-->

<!-- wp:pattern {"slug":"sicily/general-about"} /-->

<!-- wp:pattern {"slug":"sicily/general-call-to-action-large"} /-->

<!-- wp:pattern {"slug":"sicily/general-join-club"} /-->

<!-- wp:pattern {"slug":"sicily/general-product-features"} /-->

<!-- wp:pattern {"slug":"sicily/query-styled-post-list"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
