<!-- wp:template-part {"slug":"header-logo-only-no-background","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"1em","left":"1em"}}},"className":"style-centered","layout":{"inherit":true}} -->
<main class="wp-block-group style-centered" style="padding-right:1em;padding-left:1em"><!-- wp:group {"tagName":"article"} -->
    <article class="wp-block-group"><!-- wp:group {"className":"post-card","layout":{"inherit":true}} -->
    <div class="wp-block-group post-card"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"fontSize":"colossal"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"inherit":false,"contentSize":"1400px"}} -->
    <div class="wp-block-group"><!-- wp:post-featured-image /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content {"layout":{"inherit":true}} /--></article>
    <!-- /wp:group --></main>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->