<!-- wp:template-part {"slug":"header-logo-only-no-background","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"1em","left":"1em"}}},"className":"style-centered","layout":{"inherit":true}} -->
<div class="wp-block-group style-centered" style="padding-right:1em;padding-left:1em"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"tagName":"main"} -->
    <main class="wp-block-group"><!-- wp:group {"tagName":"article"} -->
    <article class="wp-block-group"><!-- wp:group {"className":"post-card","layout":{"inherit":true}} -->
    <div class="wp-block-group post-card"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"},"fontSize":"huge"} -->
    <div class="wp-block-group has-huge-font-size" style="margin-top:0px;margin-bottom:0px"><!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"fontSize":"huge"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"inherit":false,"contentSize":"1400px"}} -->
    <div class="wp-block-group"><!-- wp:post-featured-image /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content {"layout":{"inherit":true}} /--></article>
    <!-- /wp:group --></main>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"5%"} -->
    <div class="wp-block-column" style="flex-basis:5%"></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%">
        <!-- wp:pattern {"slug":"sicily/widget-search-panel"} /-->
        <!-- wp:pattern {"slug":"sicily/widget-recent-posts-panel"} /-->
        <!-- wp:pattern {"slug":"sicily/widget-social-media-panel"} /-->
        <!-- wp:pattern {"slug":"sicily/widget-categories-panel"} /-->
        <!-- wp:pattern {"slug":"sicily/widget-tag-cloud-panel"} /-->
    </div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->