<!-- wp:template-part {"slug":"header-logo-only-no-background","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"style-centered","layout":{"inherit":false,"contentSize":""}} -->
<main class="wp-block-group style-centered"><!-- wp:group {"tagName":"article","layout":{"contentSize":"","wideSize":""}} -->
    <article class="wp-block-group"><!-- wp:group {"className":"post-card","layout":{"contentSize":"","wideSize":""}} -->
    <div class="wp-block-group post-card"></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content {"layout":{"inherit":false,"wideSize":"1200px","contentSize":"960px"}} /-->
    
    <!-- wp:spacer {"height":"1px"} -->
    <div style="height:1px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></article>
    <!-- /wp:group --></main>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->