<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"xidea/section-hero"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"50px","right":"10px","bottom":"0px","left":"10px"}}},"layout":{"contentSize":"1170px"}} -->
<main class="wp-block-group" style="padding-top:50px;padding-right:10px;padding-bottom:0px;padding-left:10px">
    <!-- wp:template-part {"slug":"latest-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->