<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0em","bottom":"2.5em"}}}} -->
<main class="wp-block-group" style="padding-top:0em;padding-bottom:2.5em"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:query {"queryId":2,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:30px"><!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"35vh","style":{"color":{}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"calc( 0.5 * var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dgap\u002d\u002dvertical) )"}}},"fontSize":"moderate"} /-->

<!-- wp:post-excerpt {"moreText":"Click or not...","style":{"spacing":{"margin":{"top":"calc( 0.5 * var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dgap\u002d\u002dvertical) )","bottom":"calc( 0.5 * var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dgap\u002d\u002dvertical) )"}}},"fontSize":"midsmall"} /-->

<!-- wp:post-date {"isLink":true,"style":{"typography":{"fontWeight":"500"}},"fontSize":"midsmall"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->