<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"3.5vw"},"padding":{"right":"3.5vw","left":"3.5vw"}}},"className":"site-content","layout":{"contentSize":"800px","wideSize":"1080px"}} -->
<main class="wp-block-group site-content" style="margin-top:3.5vw;padding-right:3.5vw;padding-left:3.5vw">

	<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"0px"}}}} /-->

	<!-- wp:post-title {"level":1,"className":"is-style-underlined-heading"} /-->

	<!-- wp:post-content /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
