<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:template-part {"slug":"nav","tagName":"nav"} /-->

<!-- wp:columns {"style":{"spacing":{"blockGap":"30px","margin":{"top":"60px","bottom":"60px"}}},"className":"is-style-container-stretch"} -->
<div class="wp-block-columns is-style-container-stretch" style="margin-top:60px;margin-bottom:60px"><!-- wp:column {"width":"25%"} -->
	<div class="wp-block-column" style="flex-basis:25%"><!-- wp:template-part {"slug":"sidebar-shop","theme":"wowmall"} /--></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"width":"100%"} -->
	<div class="wp-block-column" style="flex-basis:100%"><!-- wp:woocommerce/legacy-template {"template":"archive-product"} /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	
	<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->