<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"nav","tagName":"nav"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"45px","bottom":"45px"},"blockGap":"30px"}},"className":"is-style-container-stretch"} -->
<div class="wp-block-group is-style-container-stretch" style="padding-top:45px;padding-bottom:45px"><!-- wp:heading {"textAlign":"center","style":{"typography":{"lineHeight":"1"},"spacing":{"margin":{"top":"0px"}}}} -->
    <h2 class="has-text-align-center" style="line-height:1;margin-top:0px">answer your questions</h2>
    <!-- /wp:heading -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"30px"}}} -->
    <div class="wp-block-group"><!-- wp:heading {"textAlign":"left","level":3,"textColor":"color-one"} -->
    <h3 class="has-text-align-left has-color-one-color has-text-color">orders</h3>
    <!-- /wp:heading -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"right":"0px","left":"0px"},"padding":{"bottom":"30px"}}}} -->
    <div class="wp-block-group" style="margin-right:0px;margin-left:0px;padding-bottom:30px"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"15px","left":"0px"}}}} -->
    <div class="wp-block-columns are-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:15px;margin-left:0px"><!-- wp:column {"verticalAlignment":"center","width":"45px"} -->
    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:45px"><!-- wp:social-links {"iconBackgroundColor":"color-one","iconBackgroundColorValue":"#fc6f38","size":"has-small-icon-size","align":"center"} -->
    <ul class="wp-block-social-links aligncenter has-small-icon-size has-icon-background-color"><!-- wp:social-link {"url":"#","service":"flickr"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","width":"66.66%","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;flex-basis:66.66%"><!-- wp:heading {"level":4,"style":{"typography":{"lineHeight":"1.5"}}} -->
    <h4 style="line-height:1.5"> how do i place an order? </h4>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"left":"40px"},"margin":{"bottom":"15px"}}}} -->
    <p style="margin-bottom:15px;padding-left:40px"> If you have chosen a favorite sporting goods, then click “Add to cart”, and it will automatically be placed in your shopping cart. You can then continue to select products in our online store, adding to your shopping cart as sporting goods, as needed.If you have already completed the selection of sporting goods, then proceed directly to checkout.  </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"style":{"spacing":{"padding":{"left":"20px"},"margin":{"left":"40px"}}},"className":"has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide" style="margin-left:40px;padding-left:20px"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"right":"0px","left":"0px"},"padding":{"bottom":"30px"}}}} -->
    <div class="wp-block-group" style="margin-right:0px;margin-left:0px;padding-bottom:30px"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"15px","left":"0px"}}}} -->
    <div class="wp-block-columns are-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:15px;margin-left:0px"><!-- wp:column {"verticalAlignment":"center","width":"45px"} -->
    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:45px"><!-- wp:social-links {"iconBackgroundColor":"color-one","iconBackgroundColorValue":"#fc6f38","size":"has-small-icon-size","align":"center"} -->
    <ul class="wp-block-social-links aligncenter has-small-icon-size has-icon-background-color"><!-- wp:social-link {"url":"#","service":"flickr"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","width":"66.66%","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;flex-basis:66.66%"><!-- wp:heading {"level":4,"style":{"typography":{"lineHeight":"1.5"}}} -->
    <h4 style="line-height:1.5">How can I cancel or change my order?</h4>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"left":"40px","bottom":"0px"},"margin":{"bottom":"15px"}}}} -->
    <p style="margin-bottom:15px;padding-bottom:0px;padding-left:40px">Carefully check the contents of your basket. You can change the number of instances of the product or remove individual items by simply pressing the “Recalculate”. Further, if all selected correctly, click the “Checkout”. Onthe next step enter personal information (contacts, name, shipping address). You will then check the enteredinformation and click “Send.” In the nearest future our manager will contact with you, to clarify again the data and confirm your order.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"left":"40px"}}},"className":"has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide" style="margin-left:40px"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"30px","right":"0px","bottom":"30px","left":"0px"}}}} -->
    <div class="wp-block-group" style="margin-top:30px;margin-right:0px;margin-bottom:30px;margin-left:0px"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"15px","left":"0px"}}}} -->
    <div class="wp-block-columns are-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:15px;margin-left:0px"><!-- wp:column {"verticalAlignment":"center","width":"45px"} -->
    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:45px"><!-- wp:social-links {"iconBackgroundColor":"color-one","iconBackgroundColorValue":"#fc6f38","size":"has-small-icon-size","align":"center"} -->
    <ul class="wp-block-social-links aligncenter has-small-icon-size has-icon-background-color"><!-- wp:social-link {"url":"#","service":"flickr"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","width":"66.66%","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;flex-basis:66.66%"><!-- wp:heading {"level":4,"style":{"typography":{"lineHeight":"1.5"}}} -->
    <h4 style="line-height:1.5"> What I have to consider in the process of order? </h4>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"left":"40px","bottom":"0px"},"margin":{"bottom":"15px"}}}} -->
    <p style="margin-bottom:15px;padding-bottom:0px;padding-left:40px">When ordering, specify the actual phone number and shipping address in your account, otherwise the carrier will notbe able to reach you and your order will be canceled. Depending on the size and weight of your goods as well asthe delivery address specified in your account, you will be offered the available delivery methods. The term of delivery and the cost of courier delivery is calculated automatically by the system depending on your address, weight and size of your order, and the courier company that delivers to your region. </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"left":"40px"}}},"className":"has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide" style="margin-left:40px"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"30px","right":"0px","bottom":"30px","left":"0px"}}}} -->
    <div class="wp-block-group" style="margin-top:30px;margin-right:0px;margin-bottom:30px;margin-left:0px"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"15px","left":"0px"}}}} -->
    <div class="wp-block-columns are-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:15px;margin-left:0px"><!-- wp:column {"verticalAlignment":"center","width":"45px"} -->
    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:45px"><!-- wp:social-links {"iconBackgroundColor":"color-one","iconBackgroundColorValue":"#fc6f38","size":"has-small-icon-size","align":"center"} -->
    <ul class="wp-block-social-links aligncenter has-small-icon-size has-icon-background-color"><!-- wp:social-link {"url":"#","service":"flickr"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","width":"66.66%","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;flex-basis:66.66%"><!-- wp:heading {"level":4,"style":{"typography":{"lineHeight":"1.5"}}} -->
    <h4 style="line-height:1.5"> What is important in the receipt of an order? </h4>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"left":"40px","bottom":"0px"},"margin":{"bottom":"15px"}}}} -->
    <p style="margin-bottom:15px;padding-bottom:0px;padding-left:40px">Receipt of the order before payment is required to check the conformity of the goods in the parcel, and completeness of the goods, the courier is to wait until you will check. Fitting and partial redemption not carried out. </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"left":"40px"}}},"className":"has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide" style="margin-left:40px"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"30px","right":"0px","bottom":"30px","left":"0px"}}}} -->
    <div class="wp-block-group" style="margin-top:30px;margin-right:0px;margin-bottom:30px;margin-left:0px"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"15px","left":"0px"}}}} -->
    <div class="wp-block-columns are-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:15px;margin-left:0px"><!-- wp:column {"verticalAlignment":"center","width":"45px"} -->
    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:45px"><!-- wp:social-links {"iconBackgroundColor":"color-one","iconBackgroundColorValue":"#fc6f38","size":"has-small-icon-size","align":"center"} -->
    <ul class="wp-block-social-links aligncenter has-small-icon-size has-icon-background-color"><!-- wp:social-link {"url":"#","service":"flickr"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","width":"66.66%","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;flex-basis:66.66%"><!-- wp:heading {"level":4,"style":{"typography":{"lineHeight":"1.5"}}} -->
    <h4 style="line-height:1.5"> Who should I contact if I have any questions? </h4>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"left":"40px","bottom":"0px"},"margin":{"bottom":"15px"}}}} -->
    <p style="margin-bottom:15px;padding-bottom:0px;padding-left:40px"> In case of any problems with the completeness of the order, please contact our Contact Center by phone +777 2345 785or e-mail: info@mydomain.com. Our team will help you solve the problem quickly. </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"left":"40px"}}},"className":"has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide" style="margin-left:40px"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"30px","right":"0px","bottom":"30px","left":"0px"}}}} -->
    <div class="wp-block-group" style="margin-top:30px;margin-right:0px;margin-bottom:30px;margin-left:0px"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"15px","left":"0px"}}}} -->
    <div class="wp-block-columns are-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:15px;margin-left:0px"><!-- wp:column {"verticalAlignment":"center","width":"45px"} -->
    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:45px"><!-- wp:social-links {"iconBackgroundColor":"color-one","iconBackgroundColorValue":"#fc6f38","size":"has-small-icon-size","align":"center"} -->
    <ul class="wp-block-social-links aligncenter has-small-icon-size has-icon-background-color"><!-- wp:social-link {"url":"#","service":"flickr"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","width":"66.66%","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;flex-basis:66.66%"><!-- wp:heading {"level":4,"style":{"typography":{"lineHeight":"1.5"}}} -->
    <h4 style="line-height:1.5"> I don’t want to buy this item now, but I also don’t want to forget it. What should I do? </h4>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"left":"40px","bottom":"0px"},"margin":{"bottom":"15px"}}}} -->
    <p style="margin-bottom:15px;padding-bottom:0px;padding-left:40px"> You can click the “add to favorites” and item will be added to “your desires”. In that case you can return to itpurchase later. </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"left":"40px"}}},"className":"has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide" style="margin-left:40px"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"60px","bottom":"60px"}}},"className":"has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide" style="margin-top:60px;margin-bottom:60px"/>
    <!-- /wp:separator -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"30px","right":"0px","bottom":"30px","left":"0px"},"blockGap":"30px"}}} -->
    <div class="wp-block-group" style="margin-top:30px;margin-right:0px;margin-bottom:30px;margin-left:0px"><!-- wp:heading {"level":3,"textColor":"color-one"} -->
    <h3 class="has-color-one-color has-text-color">orders</h3>
    <!-- /wp:heading -->
    
    <!-- wp:group -->
    <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"30px","left":"0px"}}}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"15px","left":"0px"}}}} -->
    <div class="wp-block-columns are-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:15px;margin-left:0px"><!-- wp:column {"verticalAlignment":"center","width":"45px"} -->
    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:45px"><!-- wp:social-links {"iconBackgroundColor":"color-one","iconBackgroundColorValue":"#fc6f38","size":"has-small-icon-size","align":"center"} -->
    <ul class="wp-block-social-links aligncenter has-small-icon-size has-icon-background-color"><!-- wp:social-link {"url":"#","service":"flickr"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","width":"66.66%","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;flex-basis:66.66%"><!-- wp:heading {"level":4,"style":{"typography":{"lineHeight":"1.5"}}} -->
    <h4 style="line-height:1.5"> Payment methods  </h4>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"40px"}}}} -->
    <p style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:40px">Our shop supports multiple payments methods:</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"40px"}}}} -->
    <p style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:40px">In this case of delivery by courier items can be paid in cash or card(MasterCard, Visa).</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"40px"}}}} -->
    <p style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:40px">You can pay by bank transfer.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"20px","left":"40px"}}}} -->
    <p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:40px">Through payment terminals, eWallets, Celullar opertators</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:paragraph {"style":{"spacing":{"padding":{"left":"40px","bottom":"0px"},"margin":{"bottom":"15px"}}}} -->
    <p style="margin-bottom:15px;padding-bottom:0px;padding-left:40px"> You can click the “add to favorites” and item will be added to “your desires”. In that case you can return to itpurchase later. </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"left":"40px"}}},"className":"has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity has-text-color has-background has-color-five-background-color has-color-five-color is-style-wide" style="margin-left:40px"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:columns {"style":{"spacing":{"margin":{"bottom":"0px"},"padding":{"top":"10vh","bottom":"10vh"}}},"backgroundColor":"color-six"} -->
    <div class="wp-block-columns has-color-six-background-color has-background" style="margin-bottom:0px;padding-top:10vh;padding-bottom:10vh"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} -->
    <h3 class="has-text-align-center" style="font-style:normal;font-weight:700">any&nbsp;unanswered&nbsp;questions? <a href="./contact-us/" data-type="page" data-id="2476">contact</a></h3>
    <!-- /wp:heading --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->