<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"nav","tagName":"nav"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"45px","bottom":"45px"},"blockGap":"30px"}},"className":"is-style-container-stretch"} -->
<div class="wp-block-group is-style-container-stretch" style="padding-top:45px;padding-bottom:45px"><!-- wp:post-title {"style":{"spacing":{"margin":{"top":"0px"}}}} /-->

    <!-- wp:separator {"opacity":"css"} -->
    <hr class="wp-block-separator has-css-opacity"/>
    <!-- /wp:separator -->
    
    <!-- wp:post-content /-->
    
    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->