/* --- Header Media
-------------------------------------------------------- */

.header-media .wp-block-cover {
  height: calc(100vh - 95px);

  .wp-block-button__link {
    display: block;
  }
}
.has-huge-font-size {
  line-height: 1.08;
  margin: 0;
}

.wp-site-date {
  font-weight: 600;
}