.testimonial-section {
  h4 {
    margin-bottom: var(--wp--custom--spacing--extra-small);
  }
  .author-section {
    .wp-block-group {
      gap: 0;
      h6 {
        font-family: var(--wp--preset--font-family--lato);
        font-weight: var(--wp--custom--typography--font-weight--bold);
      }
    }
    figure {
      border-radius: 50%;

      img {
        width: 80px;
        height: 80px;
      }
    }
    p {
      font-size: var(--wp--preset--font-size--medium);
    }
  }
}

.fse-slider-wrapper .swiper-button {
  border: none;
  &:hover,
  &:focus {
    background-color: transparent;
    border: none;
    
    color: var(--wp--preset--color--background);
  }
}

[class*="horizontal-outside-slider-"] .swiper-pagination {
  position: relative;
  margin-top: 15px;
  .swiper-pagination-bullet {
    opacity: 1;
    margin-left: 0;
    margin-right: 15px;
  }
}

.swiper-pagination {
  span {
    position: relative;
    height: 10px;
    width: 10px;
    &.swiper-pagination-bullet-active {
      &:before {
   
      }
    }
  }
}

.fse-slider-wrapper {
  .swiper-button-next {
    right: -100px;
  }
  .swiper-button-prev {
    left: -100px;
  }
}


.testimonial-content {

  position: relative;
  z-index: 9;


  .testimonial-content-group {
    padding: 42px;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0,0.1);
    background-color: var(--wp--preset--color--background);

  }
}

.testimonial-section .wp-block-columns {
  gap: 0;

}
.testimonial-image img {
  width: 100%;
}

.testimonial-section .fse-slider-wrapper .swiper-button-prev {
  left: 0;
}
.testimonial-section .fse-slider-wrapper .swiper-button-next {
  right: 0;
}
.testimonial-section .fse-slider-wrapper .swiper-button:hover {
  background-color: transparent;
  outline: none;
}

.testimonial-section .swiper-horizontal > .swiper-pagination-bullets,
.testimonial-section .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  position: relative;
  margin-top: 35px;
  max-width: fit-content;
  margin: 35px auto 5px;
}
.testimonial-section .swiper-pagination-bullets:before {
  content: "";
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%) rotate(-50deg);
  transform: translateX(-50%) rotate(-50deg);
  width: 50px;
  background: #000;
}
.testimonial-section .swiper-pagination-bullets:after {
  content: counters(slides-num, ".", decimal-leading-zero);
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  margin-top: 5px;
  margin-left: 84px;
  position: relative;
  top: 0px;
  font-family: var(--wp--preset--font-family--lora);
}

.testimonial-section
  .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  content: counters(slides-num, ".", decimal-leading-zero);
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  vertical-align: middle;
  font-family: var(--wp--preset--font-family--lora);
  top: -5px;
  position: relative;
}

.testimonial-section .swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: transparent;
  background-image: none;
  color: var(--wp--preset--color--foreground);
  counter-increment: slides-num;
  display: inline-block;
  font-weight: 600;
  font-size: 0;
  line-height: 1;
  padding: 0;
  border: none;
}
.testimonial-section .swiper-pagination-bullets .swiper-pagination-bullet {
  position: absolute;
  left: 0;
  top: 50%;
  /* transform: translateY(-50%); */
}

.testimonial-section .fse-slider-wrapper .swiper-button-prev:after,
.testimonial-section .fse-slider-wrapper .swiper-button-next:after {
  font-size: 28px;
}

.testimonial-section .fse-slider-wrapper .swiper-button {
  background-color: transparent;
  width: 60px;
  z-index: 1;
}

.testimonial-section  [class*="horizontal-outside-slider-"] .swiper-pagination span.swiper-pagination-bullet {
  background-color: transparent;
}

.testimonial-section .fse-slider-wrapper .swiper-button {
  top: 100%;
}

.testimonial-section .navigation-wrap {
  width: 280px;
  max-width: 280px;
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.swiper-button-next:before, .swiper-button-prev:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% + 2px);
  width: 0.8em;
  height: 0.8em;
  box-shadow: inset -0.06em 0.06em 0 0 #333333;
  border-radius: 0 0.15em 0 0;
}
.swiper-button-next:before {
  right: 0%;
  transform-origin: 50% 50%;
  transform: translate(0, -0.5em) rotate(45deg);
}
.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
width: 60px;
  height: 1px;
  background-color: #333;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
}
.swiper-button-prev:before {
  left: 0%;
  transform-origin: 50% 50%;
  transform: translate(0, -0.5em) rotate(-135deg);
}