<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"background"} -->
<div
  class="wp-block-group has-background-background-color has-background"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
  <!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"overlayColor":"black","minHeight":517,"minHeightUnit":"px","align":"full","style":{"spacing":{"padding":{"top":"10vw","right":"30px","bottom":"10vw","left":"30px"}}}} -->
  <div
    class="wp-block-cover alignfull"
    style="
      padding-top: 10vw;
      padding-right: 30px;
      padding-bottom: 10vw;
      padding-left: 30px;
      min-height: 517px;
    "
  >
    <span
      aria-hidden="true"
      class="wp-block-cover__background has-black-background-color has-background-dim-70 has-background-dim"
    ></span>
    <div class="wp-block-cover__inner-container">
      <!-- wp:group {"align":"wide","layout":{"inherit":true,"type":"constrained"}} -->
      <div class="wp-block-group alignwide">
        <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0px"}},"layout":{"inherit":false}} -->
        <div class="wp-block-group alignwide">
          <!-- wp:post-title {"textAlign":"center","textColor":"background"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
  </div>
  <!-- /wp:cover -->

  <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}}} -->
  <main class="wp-block-group" style="padding-top: 80px; padding-bottom: 80px">
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->