<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
<div
  class="wp-block-group has-background-background-color has-background"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
<!-- wp:pattern {"slug":"crcote-corporate/search-cover"} /-->

  <!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"20px","bottom":"80px","left":"20px"},"blockGap":"0px"}},"layout":{"inherit":true}} -->
  <div
    class="wp-block-group"
    style="
      padding-top: 80px;
      padding-right: 20px;
      padding-bottom: 80px;
      padding-left: 20px;
    "
  >
    <!-- wp:query {"queryId":1,"query":{"perPage":"8","pages":"","offset":"","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"tagName":"main","displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"inherit":false}} -->
    <main class="wp-block-query alignwide">
      <!-- wp:post-template {"align":"wide"} -->
      <!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}}}} -->
      <div
        class="wp-block-group"
        style="
          padding-top: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
        "
      >
        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"className":"has-box-shadow ","layout":{"inherit":true}} -->
        <div
          class="wp-block-group has-box-shadow "
          style="
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
          "
        >
          <!-- wp:post-featured-image {"isLink":true,"align":"wide","className":"no-padding"} /-->

          <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"margin":{"top":"0px"},"blockGap":"10px"}},"backgroundColor":"background-secondary"} -->
          <div
            class="wp-block-group alignwide has-background-secondary-background-color has-background"
            style="
              margin-top: 0px;
              padding-top: 40px;
              padding-right: 40px;
              padding-bottom: 40px;
              padding-left: 40px;
            "
          >
            <!-- wp:post-title {"level":3,"isLink":true,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.4","fontSize":"1.3rem"}}} /-->

            <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
            <div class="wp-block-group">
              <!-- wp:post-author {"avatarSize":24,"showBio":false,"fontSize":"small"} /-->

              <!-- wp:post-date {"format":"M j, Y","isLink":true,"fontSize":"small"} /-->
            </div>
            <!-- /wp:group -->

            <!-- wp:post-excerpt {"moreText":"Know More","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /-->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
      <!-- /wp:post-template -->

      <!-- wp:query-pagination {"paginationArrow":"arrow","align":"center","layout":{"type":"flex","justifyContent":"space-between"}} -->
      <!-- wp:query-pagination-previous {"fontSize":"small"} /-->

      <!-- wp:query-pagination-numbers /-->

      <!-- wp:query-pagination-next {"fontSize":"small"} /-->
      <!-- /wp:query-pagination -->
    </main>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
