<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"20px","right":"10px","bottom":"20px","left":"10px"}}},"backgroundColor":"blockme-lightergray","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-blockme-lightergray-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:20px;padding-right:10px;padding-bottom:20px;padding-left:10px"><!-- wp:query-title {"type":"archive","textAlign":"center","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"fontSize":"blockme-x-large"} /-->

<!-- wp:term-description {"textAlign":"center","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"20px","right":"0px","bottom":"0px","left":"0px"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"blockme/posts-list"} /-->

<!-- wp:pattern {"slug":"blockme/newsletter"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->