<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"vorfolio/gutenverse-home-hero"} /-->

<!-- wp:pattern {"slug":"vorfolio/gutenverse-home-client-logo"} /-->

<!-- wp:pattern {"slug":"vorfolio/gutenverse-home-about"} /-->

<!-- wp:pattern {"slug":"vorfolio/gutenverse-home-experience"} /-->

<!-- wp:pattern {"slug":"vorfolio/gutenverse-home-services"} /-->

<!-- wp:pattern {"slug":"vorfolio/gutenverse-home-projects"} /-->

<!-- wp:pattern {"slug":"vorfolio/gutenverse-home-testimonials"} /-->

<!-- wp:pattern {"slug":"vorfolio/gutenverse-home-cta"} /-->

<!-- wp:pattern {"slug":"vorfolio/gutenverse-home-blog"} /-->

<!-- wp:template-part {"slug":"footer"} /-->