<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"gutenify-template-kit/hero-section-2"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var(--wp--custom--spacing--large, 8rem)","top":"20px"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top:20px;padding-bottom:var(--wp--custom--spacing--large, 8rem)">
	<!-- wp:search {"label":"Search","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true,"align":"center"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
	<!-- wp:pattern {"slug":"gutenify-template-kit/post-listing"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
