<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"approach/banner"} /-->
<!-- wp:pattern {"slug":"approach/service"} /-->
<!-- wp:pattern {"slug":"approach/latest-news"} /-->
<!-- wp:pattern {"slug":"approach/about-us"} /-->
<!-- wp:pattern {"slug":"approach/call-to-action"} /-->
<!-- wp:pattern {"slug":"approach/informational-table"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->