<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"60px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-bottom:60px">

    <!-- wp:group {"align":"wide"} -->
    <div class="wp-block-group alignwide">
		<!-- wp:spacer {"height":50} -->
        <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
		
        <!-- wp:query-title {"type":"archive","fontSize":"large","textAlign":"center"} /-->

        <!-- wp:term-description {"textColor":"lightgrey","fontSize":"small"} /-->

        <!-- wp:spacer {"height":30} -->
        <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
	
	<!-- wp:pattern {"slug":"cybercube/post-section"} /-->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->