<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"cybercube/home-slider"} /-->
<!-- wp:pattern {"slug":"cybercube/home-features"} /-->
<!-- wp:pattern {"slug":"cybercube/home-about"} /-->
<!-- wp:pattern {"slug":"cybercube/home-about-2"} /-->
<!-- wp:pattern {"slug":"cybercube/home-counter"} /-->
<!-- wp:pattern {"slug":"cybercube/home-pricing"} /-->
<!-- wp:pattern {"slug":"cybercube/home-team"} /-->
<!-- wp:pattern {"slug":"cybercube/home-client"} /-->

<!-- wp:pattern {"slug":"cybercube/home-hero-2"} /-->
<!-- wp:pattern {"slug":"cybercube/home-blog"} /-->

<!-- wp:pattern {"slug":"cybercube/home-info"} /-->
<!-- wp:pattern {"slug":"cybercube/contact-form"} /-->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->