<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"cybercube/blog-hero"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"50px","bottom":"90px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-top:50px;padding-bottom:90px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":2}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image /-->

<!-- wp:post-title {"level":4,"style":{"spacing":{"margin":{"right":"25px","left":"25px","top":"20px"}}}} /-->

<!-- wp:post-excerpt {"moreText":"Read More","style":{"spacing":{"padding":{"right":"25px","left":"25px"}}}} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when the query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>

<!-- wp:column {"width":"33.33%","className":"sidebar-area"} -->
<div class="wp-block-column sidebar-area" style="flex-basis:33.33%">
<!-- wp:template-part {"slug":"sidebar","tagName":"sidebar"} /-->
</div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->