<!-- wp:template-part {"slug":"header","tagName":"header","layout":{"inherit":true}} /-->

<!-- wp:pattern {"slug":"cybercube/page-breadcrumb"} /-->

<!-- wp:group {"tagName":"main","className":"post-content","style":{"spacing":{"padding":{"top":"50px","bottom":"50px"}}}} -->
<main class="wp-block-group post-content" style="padding-top:50px;padding-bottom:50px">
<!-- wp:post-content {"layout":{"inherit":true}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","layout":{"inherit":true}} /-->
