<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"className":"light-heading"} -->
<h1 class="has-text-align-center light-heading" id="your-first-light-heading-1" style="font-style:normal;font-weight:300">Welcome to our Minimalism Blog</h1>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"className":"light-heading"} -->
<h2 class="has-text-align-center light-heading" id="your-second-light-heading-1" style="font-style:normal;font-weight:300">You'll learn so much about minimalism from this blog - come on in!</h2>
<!-- /wp:heading -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"align":"center","style":{"border":{"radius":"6px"}}} -->
<div class="wp-block-button aligncenter"><a class="wp-block-button__link" style="border-radius:6px">Enter Website</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->