<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-about-us-title"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-about-us-about"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-about-us-fun-fact"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-about-us-why-choose-us"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-about-us-call-to-action"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-about-us-team"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->