<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-home-hero"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-home-about"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-home-fun-fact"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-home-services"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-home-call-to-action"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-home-work"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-home-testimonials"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-home-faq"} /-->

<!-- wp:pattern {"slug":"renovater/gutenverse-home-client-logo"} /-->

<!-- wp:template-part {"slug":"footer"} /-->