<!-- wp:template-part {"slug":"header","theme":"kaneshon","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1180px"}} -->
<div class="wp-block-group">
	<!-- wp:heading {"level":1} -->
	<h1>Not Found (404)</h1>
	<!-- /wp:heading -->

	<!-- wp:heading -->
	<h2>Oops! The page can't be found.</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0px"}}}} -->
	<p style="margin-top:0px">It looks like nothing was found at this location. Navigate our website or try searching instead.</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"kaneshon","tagName":"footer"} /-->
