<!-- wp:template-part {"slug":"header","theme":"kaneshon","tagName":"header","layout":{"type":"constrained","contentSize":"1180px"}} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1180px"}} -->
<main class="wp-block-group">
	<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"displayLayout":{"type":"flex","columns":3}} -->

	<!-- wp:query-title {"type":"archive","showPrefix":false} /-->
	<div class="wp-block-query">
		<!-- wp:post-template {"style":{"spacing":{"margin":{"bottom":"35px"}}}} -->
			<!-- wp:post-featured-image {"isLink":true,"sizeSlug":"kaneshon_listing_item","style":{"spacing":{"margin":{"bottom":"15px"}}}} /-->

			<!-- wp:post-date {"fontSize":"small"} /-->

			<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"0px"}}},"fontSize":"medium"} /-->
		<!-- /wp:post-template -->
		<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
		<!-- wp:query-pagination-numbers /-->
		<!-- /wp:query-pagination -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
