<!-- wp:template-part {"slug":"header","theme":"kaneshon","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-kaneshon-frontpage-container","layout":{"type":"constrained","contentSize":"1180px"}} -->
<main class="wp-block-group is-style-kaneshon-frontpage-container">
	<!-- wp:pattern {"slug":"kaneshon/home-hero"} /-->

	<!-- wp:query {"queryId":0,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"displayLayout":{"type":"flex","columns":3}} -->
	<div class="wp-block-query">
		<!-- wp:columns {"style":{"spacing":{"margin":{"bottom":"25px"}}},"className":"is-not-stacked-on-mobile"} -->
		<div class="wp-block-columns is-not-stacked-on-mobile" style="margin-bottom:25px">
			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:heading {"style":{"spacing":{"margin":{"bottom":"0px"}}},"className":"has-medium-font-size"} -->
				<h2 class="has-medium-font-size" style="margin-bottom:0px">Category name</h2>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"verticalAlignment":"top"} -->
			<div class="wp-block-column is-vertically-aligned-top">
				<!-- wp:paragraph {"align":"right","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"textColor":"heading","fontSize":"medium"} -->
				<p class="has-text-align-right has-text-dark-color has-text-color has-medium-font-size" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><a href="#">View all articles</a></p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:post-template {"style":{"spacing":{"margin":{"bottom":"35px"}}}} -->
		<!-- wp:post-featured-image {"isLink":true,"sizeSlug":"kaneshon_listing_item","style":{"spacing":{"margin":{"bottom":"15px"}}}} /-->

		<!-- wp:post-date {"fontSize":"small"} /-->

		<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"0px"}}},"fontSize":"medium"} /-->
		<!-- /wp:post-template -->
	</div>
	<!-- /wp:query -->

	<!-- wp:query {"queryId":0,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"displayLayout":{"type":"flex","columns":3}} -->
	<div class="wp-block-query">
		<!-- wp:columns {"style":{"spacing":{"margin":{"bottom":"25px"}}},"className":"is-not-stacked-on-mobile"} -->
		<div class="wp-block-columns is-not-stacked-on-mobile" style="margin-bottom:25px">
			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:heading {"style":{"spacing":{"margin":{"bottom":"0px"}}},"className":"has-medium-font-size"} -->
				<h2 class="has-medium-font-size" style="margin-bottom:0px">Category name</h2>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"verticalAlignment":"top"} -->
			<div class="wp-block-column is-vertically-aligned-top">
				<!-- wp:paragraph {"align":"right","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"textColor":"heading","fontSize":"medium"} -->
				<p class="has-text-align-right has-text-dark-color has-text-color has-medium-font-size" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><a href="#">View all articles</a></p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:post-template {"style":{"spacing":{"margin":{"bottom":"35px"}}}} -->
		<!-- wp:post-featured-image {"isLink":true,"sizeSlug":"kaneshon_listing_item","style":{"spacing":{"margin":{"bottom":"15px"}}}} /-->

		<!-- wp:post-date {"fontSize":"small"} /-->

		<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"0px"}}},"fontSize":"medium"} /-->
		<!-- /wp:post-template -->
	</div>
	<!-- /wp:query -->

	<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0px","left":"20px"}}}} -->
	<div class="wp-block-columns">
		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:cover {"url":"https://www.cssigniter.com/fse/wp-content/uploads/2022/10/lightroom.jpg","id":506,"dimRatio":50,"customOverlayColor":"var(--wp--preset--color--overlay)","minHeight":326,"contentPosition":"center center","isDark":false} -->
			<div class="wp-block-cover is-light" style="min-height:326px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:var(--wp--preset--color--overlay)"></span><img class="wp-block-cover__image-background wp-image-506" alt="" src="https://www.cssigniter.com/fse/wp-content/uploads/2022/10/lightroom.jpg" data-object-fit="cover" />
				<div class="wp-block-cover__inner-container">
					<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"0px"}}},"textColor":"white","className":"has-text-align-center"} -->
					<h2 class="has-text-align-center has-white-color has-text-color" style="margin-bottom:0px">My Lightroom Presets</h2>
					<!-- /wp:heading -->
				</div>
			</div>
			<!-- /wp:cover -->
		</div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:cover {"url":"https://www.cssigniter.com/fse/wp-content/uploads/2022/10/photography.jpg","id":507,"dimRatio":50,"customOverlayColor":"var(--wp--preset--color--overlay)","minHeight":326,"contentPosition":"center center","isDark":false} -->
			<div class="wp-block-cover is-light" style="min-height:326px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:var(--wp--preset--color--overlay)"></span><img class="wp-block-cover__image-background wp-image-507" alt="" src="https://www.cssigniter.com/fse/wp-content/uploads/2022/10/photography.jpg" data-object-fit="cover" />
				<div class="wp-block-cover__inner-container">
					<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"0px"}}},"textColor":"white","className":"has-text-align-center"} -->
					<h2 class="has-text-align-center has-white-color has-text-color" style="margin-bottom:0px">My Photography Tips</h2>
					<!-- /wp:heading -->
				</div>
			</div>
			<!-- /wp:cover -->
		</div>
		<!-- /wp:column -->

	</div>
	<!-- /wp:columns -->

	<!-- wp:query {"queryId":0,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"displayLayout":{"type":"flex","columns":3}} -->
	<div class="wp-block-query">
		<!-- wp:columns {"style":{"spacing":{"margin":{"bottom":"25px"}}},"className":"is-not-stacked-on-mobile"} -->
		<div class="wp-block-columns is-not-stacked-on-mobile" style="margin-bottom:25px">
			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:heading {"style":{"spacing":{"margin":{"bottom":"0px"}}},"className":"has-medium-font-size"} -->
				<h2 class="has-medium-font-size" style="margin-bottom:0px">Category name</h2>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"verticalAlignment":"top"} -->
			<div class="wp-block-column is-vertically-aligned-top">
				<!-- wp:paragraph {"align":"right","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"textColor":"heading","fontSize":"medium"} -->
				<p class="has-text-align-right has-text-dark-color has-text-color has-medium-font-size" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><a href="#">View all articles</a></p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:post-template {"style":{"spacing":{"margin":{"bottom":"35px"}}}} -->
		<!-- wp:post-featured-image {"isLink":true,"sizeSlug":"kaneshon_listing_item","style":{"spacing":{"margin":{"bottom":"15px"}}}} /-->

		<!-- wp:post-date {"fontSize":"small"} /-->

		<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"0px"}}},"fontSize":"medium"} /-->
		<!-- /wp:post-template -->
	</div>
	<!-- /wp:query -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"kaneshon","tagName":"footer"} /-->
