<!-- wp:template-part {"slug":"header","theme":"kaneshon","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:post-featured-image {"customOverlayColor":"var(--wp--preset--color--overlay)","dimRatio":50,"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--wp--style--block-gap)"}}}} /-->

	<!-- wp:post-date /-->

	<!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"26px"}}} /-->

	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
