<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"gutenify-business-dark/home-banner"} /-->
<!-- wp:pattern {"slug":"gutenify-business-dark/service-one"} /-->
<!-- wp:pattern {"slug":"gutenify-business-dark/hero-section"} /-->
<!-- wp:pattern {"slug":"gutenify-business-dark/call-to-action"} /-->
<!-- wp:pattern {"slug":"gutenify-business-dark/gallery"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"0px","bottom":"80px","left":"0px"},"blockGap":"0px"}},"layout":{"inherit":true}} -->
<div
	class="wp-block-group"
	style="
		padding-top: 80px;
		padding-right: 0px;
		padding-bottom: 80px;
		padding-left: 0px;
	"
>
	<!-- wp:pattern {"slug":"gutenify-business-dark/section-title"} /-->
	<!-- wp:pattern {"slug":"gutenify-business-dark/post-listing-three-column"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
