<!-- wp:template-part {"slug":"header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:cover {"url":"#","dimRatio":0,"minHeight":100,"minHeightUnit":"vh","className":"clove-hero"} -->
<div class="wp-block-cover clove-hero" style="min-height:100vh"><img class="wp-block-cover__image-background" src="#" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"align":"wide","backgroundColor":"background","className":"is-style-default","layout":{"inherit":true}} -->
<div class="wp-block-group alignwide is-style-default has-background-background-color has-background"><!-- wp:spacer {"height":40} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"verticalAlignment":null,"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"verticalAlignment":"center","width":"33.33%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:33.33%"><!-- wp:cover {"customOverlayColor":"#e3ead2"} -->
<div class="wp-block-cover has-background-dim" style="background-color:#e3ead2"><div class="wp-block-cover__inner-container"><!-- wp:image {"align":"center","width":201,"height":201,"sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
<div class="wp-block-image is-style-rounded"><figure class="aligncenter size-large is-resized"><img src="#" width="201" height="201"/></figure></div>
<!-- /wp:image --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"66.66%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:66.66%"><!-- wp:heading {"style":{"typography":{"fontWeight":"700","fontSize":"3em"}},"textColor":"secondary"} -->
<h2 class="has-secondary-color has-text-color" style="font-size:3em;font-weight:700">Contact</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"1.1em"}},"textColor":"secondary"} -->
<p class="has-primary-color has-text-color" style="font-size:1.1em">123 Columbia St, Brooklyn, NY<br>12345, United States</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"1.1em"}},"textColor":"secondary"} -->
<p class="has-primary-color has-text-color" style="font-size:1.1em">Phone: +12345678900<br>Email: <a href="#">example@example.com</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"33.33%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:33.33%"><!-- wp:cover {"url":"#","dimRatio":0,"customOverlayColor":"#e3ead2","focalPoint":{"x":"0.28","y":"0.12"}} -->
<div class="wp-block-cover" style="background-color:#e3ead2"><img class="wp-block-cover__image-background" src="#" style="object-position:28% 12%" data-object-fit="cover" data-object-position="28% 12%"/><div class="wp-block-cover__inner-container"></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","backgroundColor":"orange","layout":{"inherit":true}} /-->