<!-- wp:cover {"url":"#","overlayColor":"foreground","focalPoint":{"x":"0.97","y":"0.93"},"minHeight":100,"minHeightUnit":"vh","align":"full"} -->
<div class="wp-block-cover alignfull has-foreground-background-color has-background-dim" style="min-height:100vh"><img src="#" class="wp-block-cover__image-background" style="object-position:97% 93%" data-object-fit="cover" data-object-position="97% 93%"/><div class="wp-block-cover__inner-container"><!-- wp:spacer {"height":80} -->
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:image {"align":"center","width":200,"height":200,"sizeSlug":"large","linkDestination":"custom","className":"is-style-rounded"} -->
<div class="wp-block-image is-style-rounded"><figure class="aligncenter size-large is-resized"><a href="#"><img alt="" width="200" height="200"/></a></figure></div>
<!-- /wp:image -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"48px"}}} -->
<h2 class="has-text-align-center" style="font-size:48px"><strong>Clove Link</strong>s</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">A Nature Illustrator</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":60} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"contentJustification":"center"} -->
<div class="wp-block-buttons is-content-justification-center"><!-- wp:button {"backgroundColor":"green","textColor":"secondary","width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link has-secondary-color has-tertiary-background-color has-text-color has-background">Instagram</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"yellow","textColor":"secondary","width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link has-secondary-color has-quaternary-background-color has-text-color has-background">Pinterest</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"orange","textColor":"secondary","width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link has-secondary-color has-quinary-background-color has-text-color has-background">Website</a></div>
<!-- /wp:button -->

<!-- wp:button {"textColor":"secondary","width":100,"style":{"color":{"background":"#fefefe"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link has-secondary-color has-text-color has-background" style="background-color:#fefefe">About Clove</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":60} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:social-links {"iconColor":"secondary","iconColorValue":"#4C3843","customIconBackgroundColor":"#fefefe","iconBackgroundColorValue":"#fefefe","align":"center","className":"items-justified-center"} -->
<ul class="wp-block-social-links aligncenter has-icon-color has-icon-background-color items-justified-center"><!-- wp:social-link {"url":"https://wordpress.org","service":"wordpress"} /-->

<!-- wp:social-link {"url":"https://facebook.com","service":"facebook"} /-->

<!-- wp:social-link {"url":"https://twitter.com","service":"twitter"} /-->

<!-- wp:social-link {"url":"https://instagram.com","service":"instagram"} /--></ul>
<!-- /wp:social-links -->

<!-- wp:spacer {"height":90} -->
<div style="height:90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->