<!-- wp:template-part {"slug":"header","layout":{"inherit":true}} /-->

<!-- wp:cover {"url":"#","dimRatio":70,"overlayColor":"tertiary","focalPoint":{"x":"0.78","y":"0.27"},"minHeight":30,"minHeightUnit":"vh","align":"full","className":"clove-hero"} -->
<div class="wp-block-cover alignfull has-background-dim-70 has-tertiary-background-color has-background-dim clove-hero" style="min-height:30vh"><img class="wp-block-cover__image-background" src="#" style="object-position:78% 27%" data-object-fit="cover" data-object-position="78% 27%"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title\u2026","textColor":"primary","fontSize":"huge"} -->
<p class="has-text-align-center has-primary-color has-text-color has-huge-font-size"><strong>Cart</strong></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"height":59} -->
<div style="height:59px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

<!-- wp:spacer {"height":59} -->
<div style="height:59px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","align":"full","backgroundColor":"orange","layout":{"inherit":true}} /-->