<!-- wp:group {"style":{"spacing":{"padding":{"top":"2vw","right":"0px","bottom":"2vw","left":"0px"}}},"backgroundColor":"cyan-bluish-gray","layout":{"contentSize":"1360px"}} -->
<div class="wp-block-group has-cyan-bluish-gray-background-color has-background" style="padding-top:2vw;padding-right:0px;padding-bottom:2vw;padding-left:0px">

	<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

	<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"bottom":"0px","top":"0px"},"padding":{"top":"1.25vw","right":"1.25vw","bottom":"1.25vw","left":"1.25vw"}}},"backgroundColor":"white","className":"site-content","layout":{"contentSize":"1360px"}} -->
	<main class="wp-block-group site-content has-white-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:1.25vw;padding-right:1.25vw;padding-bottom:1.25vw;padding-left:1.25vw">

		<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"1.25vw"},"padding":{"top":"0.5rem","right":"0.5rem","left":"0.5rem"}}}} -->
		<div class="wp-block-group" style="margin-bottom:1.25vw;padding-top:0.5rem;padding-right:0.5rem;padding-left:0.5rem">

			<!-- wp:post-content /-->

		</div>
		<!-- /wp:group -->

	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->

</div>
<!-- /wp:group -->
