<!-- wp:pattern {"slug":"coming-soon-block/hero-image"} /-->

<!-- wp:group {"layout":{"type":"constrained","wideSize":"85%"}} -->
<div class="wp-block-group">
    <!-- wp:heading {"textAlign":"center"} -->
    <h2 class="has-text-align-center">About Us.</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"align":"center","className":"about-description"} -->
    <p class="has-text-align-center about-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusanti doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</p>
    <!-- /wp:paragraph -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"layout":{"inherit":false}} -->
        <div class="wp-block-column">
            <!-- wp:outermost/icon-block {"iconName":"wordpress-cloud","iconColor":"text","iconColorValue":"#fff","hasNoIconFill":false,"label":"cloud","width":60} -->
            <div class="wp-block-outermost-icon-block">
                <div class="icon-container has-icon-color" style="color:#fff;width:60px"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="cloud" aria-hidden="true">
                        <path
                            d="M17.3 10.1c0-2.5-2.1-4.4-4.8-4.4-2.2 0-4.1 1.4-4.6 3.3h-.2C5.7 9 4 10.7 4 12.8c0 2.1 1.7 3.8 3.7 3.8h9c1.8 0 3.2-1.5 3.2-3.3.1-1.6-1.1-2.9-2.6-3.2zm-.5 5.1h-9c-1.2 0-2.2-1.1-2.2-2.3s1-2.4 2.2-2.4h1.3l.3-1.1c.4-1.3 1.7-2.2 3.2-2.2 1.8 0 3.3 1.3 3.3 2.9v1.3l1.3.2c.8.1 1.4.9 1.4 1.8-.1 1-.9 1.8-1.8 1.8z">
                        </path>
                    </svg></div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:heading {"level":5,"className":"feature-heading"} -->
            <h5 class="feature-heading">Cloud Storage</h5>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"className":"feature-paragraph"} -->
            <p class="feature-paragraph"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"layout":{"inherit":false}} -->
        <div class="wp-block-column">
            <!-- wp:outermost/icon-block {"iconName":"wordpress-reusableBlock","iconColor":"text","iconColorValue":"#fff","label":"cloud","width":60} -->
            <div class="wp-block-outermost-icon-block">
                <div class="icon-container has-icon-color" style="color:#fff;width:60px"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="cloud" aria-hidden="true">
                        <path
                            d="M7 7.2h8.2L13.5 9l1.1 1.1 3.6-3.6-3.5-4-1.1 1 1.9 2.3H7c-.9 0-1.7.3-2.3.9-1.4 1.5-1.4 4.2-1.4 5.6v.2h1.5v-.3c0-1.1 0-3.5 1-4.5.3-.3.7-.5 1.2-.5zm13.8 4V11h-1.5v.3c0 1.1 0 3.5-1 4.5-.3.3-.7.5-1.3.5H8.8l1.7-1.7-1.1-1.1L5.9 17l3.5 4 1.1-1-1.9-2.3H17c.9 0 1.7-.3 2.3-.9 1.5-1.4 1.5-4.2 1.5-5.6z">
                        </path>
                    </svg></div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:heading {"level":5,"className":"feature-heading"} -->
            <h5 class="feature-heading">Access Control</h5>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"className":"feature-paragraph"} -->
            <p class="feature-paragraph"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"layout":{"inherit":false}} -->
        <div class="wp-block-column">
            <!-- wp:outermost/icon-block {"iconName":"wordpress-dropbox","iconColor":"text","iconColorValue":"#fff","label":"cloud","width":60} -->
            <div class="wp-block-outermost-icon-block">
                <div class="icon-container has-icon-color" style="color:#fff;width:60px"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="cloud" aria-hidden="true">
                        <path
                            d="M12,6.134L6.069,9.797L2,6.54l5.883-3.843L12,6.134z M2,13.054l5.883,3.843L12,13.459L6.069,9.797L2,13.054z M12,13.459 l4.116,3.439L22,13.054l-4.069-3.257L12,13.459z M22,6.54l-5.884-3.843L12,6.134l5.931,3.663L22,6.54z M12.011,14.2l-4.129,3.426 l-1.767-1.153v1.291l5.896,3.539l5.897-3.539v-1.291l-1.769,1.153L12.011,14.2z">
                        </path>
                    </svg></div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:heading {"level":5,"className":"feature-heading"} -->
            <h5 class="feature-heading">Multi Server</h5>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"className":"feature-paragraph"} -->
            <p class="feature-paragraph"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"layout":{"inherit":false}} -->
        <div class="wp-block-column">
            <!-- wp:outermost/icon-block {"iconName":"wordpress-addCard","iconColor":"text","iconColorValue":"#fff","label":"cloud","width":60} -->
            <div class="wp-block-outermost-icon-block">
                <div class="icon-container has-icon-color" style="color:#fff;width:60px"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="cloud" aria-hidden="true">
                        <path
                            d="M18.5 5.5V8H20V5.5h2.5V4H20V1.5h-1.5V4H16v1.5h2.5zM12 4H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2v-6h-1.5v6a.5.5 0 01-.5.5H6a.5.5 0 01-.5-.5V6a.5.5 0 01.5-.5h6V4z">
                        </path>
                    </svg></div>
            </div>
            <!-- /wp:outermost/icon-block -->

            <!-- wp:heading {"level":5,"className":"feature-heading"} -->
            <h5 class="feature-heading">24/7 Up</h5>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"className":"feature-paragraph"} -->
            <p class="feature-paragraph"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:embed {"url":"https://www.youtube.com/watch?v=3aLbX45Uy5w","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
<figure
    class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
    <div class="wp-block-embed__wrapper">
        https://www.youtube.com/watch?v=3aLbX45Uy5w
    </div>
</figure>
<!-- /wp:embed -->

<!-- wp:template-part {"slug":"footer","theme":"coming-soon-block","className":"footer"} /-->