<!-- wp:template-part {"slug":"header","theme":"block-aarambha","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var(\u002d\u002dwp\u002d\u002dstyle\u002d\u002dblock-gap)"}}}} /-->

	<!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"26px"}}} /-->

	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"block-aarambha","tagName":"footer"} /-->