<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"chuo/general-hero-banner"} /-->

<!-- wp:pattern {"slug":"chuo/general-statistics"} /-->

<!-- wp:pattern {"slug":"chuo/general-call-to-action-large"} /-->

<!-- wp:pattern {"slug":"chuo/general-feature-left-text"} /-->

<!-- wp:pattern {"slug":"chuo/general-feature-right-text"} /-->

<!-- wp:pattern {"slug":"chuo/general-text-video"} /-->

<!-- wp:pattern {"slug":"chuo/general-process-steps"} /-->

<!-- wp:pattern {"slug":"chuo/general-pricing-table"} /-->

<!-- wp:pattern {"slug":"chuo/general-featured-companies"} /-->

<!-- wp:pattern {"slug":"chuo/general-testimonials"} /-->

<!-- wp:pattern {"slug":"chuo/general-subscribe"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->