<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"style-centered","layout":{"type":"default"}} -->
<main class="wp-block-group style-centered"><!-- wp:group {"tagName":"article"} -->
    <article class="wp-block-group"><!-- wp:group {"layout":{"inherit":false,"contentSize":"1400px","type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-featured-image {"align":"wide"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content {"layout":{"type":"constrained","contentSize":"960px","wideSize":"1200px"}} /--></article>
    <!-- /wp:group --></main>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->