<!-- wp:template-part {"slug":"header-transparent" ,"tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">

<!-- wp:pattern {"slug":"photobrust/header-media"} /-->
<!-- wp:pattern {"slug":"photobrust/hero-content"} /-->
<!-- wp:pattern {"slug":"photobrust/stats-four-columns"} /-->
<!-- wp:pattern {"slug":"photobrust/featured-content"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
