<!-- wp:template-part {"slug":"header","theme":"it-firm","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"3%","right":"3%","bottom":"3%","left":"3%"}}},"className":"margin-top-0","layout":{"inherit":true}} -->
<div class="wp-block-group margin-top-0" style="padding-top:3%;padding-right:3%;padding-bottom:3%;padding-left:3%">
<!-- wp:group {"align":"wide"} -->
<div class="wp-block-group alignwide">
    <!-- wp:pattern {"slug":"grigora/404"} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"it-firm","tagName":"footer","align":"full","className":"site-footer margin-top-0"} /-->