<!-- wp:template-part {"slug":"header","theme":"it-firm","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"3%","right":"3%","bottom":"3%","left":"3%"}}},"backgroundColor":"canvas","className":"main-body margin-top-0","layout":{"inherit":true}} -->
<main class="wp-block-group main-body margin-top-0 has-canvas-background-color has-background" style="padding-top:3%;padding-right:3%;padding-bottom:3%;padding-left:3%"><!-- wp:group {"align":"wide"} -->
    <div class="wp-block-group alignwide"><!-- wp:post-title {"textAlign":"center","level":1} /--></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}}},"backgroundColor":"background","className":"margin-top-0","layout":{"inherit":true}} -->
    <div class="wp-block-group margin-top-0 has-background-background-color has-background" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:group {"align":"wide"} -->
    <div class="wp-block-group alignwide"><!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group -->
    <div class="wp-block-group"><!-- wp:post-featured-image /-->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"25px","bottom":"25px"},"blockGap":"5px"}},"className":"margin-top-0 is-style-default","layout":{"inherit":true}} -->
    <div class="wp-block-group margin-top-0 is-style-default" style="padding-top:25px;padding-bottom:25px;">
    
    <!-- wp:post-content {"layout":{"inherit":true}} /--></div>
    <!-- /wp:group -->
    
    </div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"it-firm","tagName":"footer","align":"full","className":"site-footer margin-top-0"} /-->