<!-- wp:template-part {"slug":"header","theme":"it-firm","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"3%","right":"3%","bottom":"3%","left":"3%"}}},"className":"margin-top-0","layout":{"inherit":true}} -->
<div class="wp-block-group margin-top-0" style="padding-top:3%;padding-right:3%;padding-bottom:3%;padding-left:3%"><!-- wp:group {"align":"wide"} -->
    <div class="wp-block-group alignwide">
        <!-- wp:pattern {"slug":"grigora/search"} /-->
    </div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"3%","right":"3%","bottom":"3%","left":"3%"}}},"backgroundColor":"background","className":"main-body margin-top-0","layout":{"inherit":true}} -->
    <main class="wp-block-group main-body margin-top-0 has-background-background-color has-background" style="padding-top:3%;padding-right:3%;padding-bottom:3%;padding-left:3%"><!-- wp:group {"align":"wide"} -->
    <div class="wp-block-group alignwide"><!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"button"} -->
    <h5 class="has-text-align-center has-button-color has-text-color" style="font-style:normal;font-weight:500">Recent Article</h5>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"textAlign":"center","className":"margin-top-0"} -->
    <h2 class="has-text-align-center margin-top-0">Latest Blog Post</h2>
    <!-- /wp:heading -->
    
    <!-- wp:query {"queryId":9,"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
    <div class="wp-block-query"><!-- wp:post-template -->
    <!-- wp:group {"className":"is-style-hover-elevate"} -->
    <div class="wp-block-group is-style-hover-elevate"><!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"className":"is-style-grigora-shadow-type-2"} -->
    <div class="wp-block-group is-style-grigora-shadow-type-2"><!-- wp:post-featured-image {"isLink":true} /-->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"},"blockGap":"5px"}}} -->
    <div class="wp-block-group" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:post-title {"level":5,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"className":"is-style-no-text-decoration"} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"15px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:post-author {"avatarSize":24,"showAvatar":false,"style":{"typography":{"textTransform":"capitalize"}},"textColor":"foreground","className":"is-style-grigora-post-author-style-1"} /-->
    
    <!-- wp:post-date {"textColor":"foreground"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-excerpt {"moreText":"Read More","className":"is-style-no-text-decoration"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:post-template --></div>
    <!-- /wp:query -->
    
    <!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"it-firm","tagName":"footer","align":"full","className":"site-footer margin-top-0"} /-->