<!-- wp:pattern {"slug":"intrace/core-index-hero"} /-->

<!-- wp:pattern {"slug":"intrace/core-index-group-2"} /-->

<!-- wp:pattern {"slug":"intrace/core-index-about"} /-->

<!-- wp:pattern {"slug":"intrace/core-index-services"} /-->

<!-- wp:pattern {"slug":"intrace/core-index-services-2"} /-->

<!-- wp:pattern {"slug":"intrace/core-index-pricing"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"90px","bottom":"10px"}}},"backgroundColor":"white","layout":{"contentSize":"1140px","type":"constrained"}} -->
<main class="wp-block-group has-white-background-color has-background" style="padding-top:90px;padding-bottom:10px"><!-- wp:query {"queryId":53,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
<div class="wp-block-query"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"600","textTransform":"uppercase","letterSpacing":"1px"}},"textColor":"intrace-accent","className":"intrace-animate intrace-move-up intrace-delay-1","fontSize":"heading-5"} -->
<h2 class="has-text-align-center intrace-animate intrace-move-up intrace-delay-1 has-intrace-accent-color has-text-color has-heading-5-font-size" style="font-style:normal;font-weight:600;letter-spacing:1px;text-transform:uppercase">Our blog</h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"600","textTransform":"uppercase","letterSpacing":"1px","lineHeight":"1.3"}},"textColor":"intrace-primary","className":"intrace-animate intrace-move-up intrace-delay-3","fontSize":"heading-2"} -->
<h2 class="has-text-align-center intrace-animate intrace-move-up intrace-delay-3 has-intrace-primary-color has-text-color has-heading-2-font-size" style="font-style:normal;font-weight:600;letter-spacing:1px;line-height:1.3;text-transform:uppercase">Latest Blog &amp; Articles</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"contentSize":"550px","type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"textColor":"intrace-body-text","className":"intrace-animate intrace-move-up intrace-delay-5","fontSize":"heading-6"} -->
<p class="has-text-align-center intrace-animate intrace-move-up intrace-delay-5 has-intrace-body-text-color has-text-color has-heading-6-font-size" style="font-style:normal;font-weight:300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:post-template {"className":"intrace-animate intrace-move-up intrace-delay-3"} -->
<!-- wp:post-featured-image {"isLink":true,"style":{"spacing":{"margin":{"bottom":"20px"}}}} /-->

<!-- wp:post-date {"isLink":true,"style":{"typography":{"fontSize":"14px"},"elements":{"link":{"color":{"text":"var:preset|color|intrace-accent"}}}},"textColor":"intrace-accent"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|intrace-primary"}}}},"textColor":"intrace-primary","fontSize":"heading-3"} /-->

<!-- wp:post-excerpt {"moreText":"Read More","style":{"elements":{"link":{"color":{"text":"var:preset|color|intrace-accent"}}},"typography":{"fontSize":"15px","fontStyle":"normal","fontWeight":"400","lineHeight":"1.7"},"spacing":{"margin":{"top":"20px","bottom":"20px"}}},"textColor":"intrace-body-text"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"intrace/core-index-client-logo"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"50px","bottom":"50px"}}},"backgroundColor":"intrace-primary","layout":{"contentSize":"1140px","type":"constrained"}} -->
<div class="wp-block-group has-intrace-primary-background-color has-background" style="padding-top:50px;padding-bottom:50px"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center","width":"66.66%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:66.66%"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"white","className":"intrace-animate intrace-move-right intrace-delay-1","fontSize":"heading-2"} -->
<h2 class="intrace-animate intrace-move-right intrace-delay-1 has-white-color has-text-color has-heading-2-font-size" style="font-style:normal;font-weight:600">Ready To Start New Project With Intrace?</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"spacing":{"padding":{"top":"0px","right":"150px","bottom":"0px","left":"0px"}}},"textColor":"intrace-body-text-2","className":"intrace-animate intrace-move-right intrace-delay-3","fontSize":"heading-6"} -->
<p class="intrace-animate intrace-move-right intrace-delay-3 has-intrace-body-text-2-color has-text-color has-heading-6-font-size" style="padding-top:0px;padding-right:150px;padding-bottom:0px;padding-left:0px;font-style:normal;font-weight:300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"33.33%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:33.33%"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:buttons {"className":"intrace-animate intrace-move-left intrace-delay-7","layout":{"type":"flex","justifyContent":"right"}} -->
<div class="wp-block-buttons intrace-animate intrace-move-left intrace-delay-7"><!-- wp:button {"style":{"spacing":{"padding":{"top":"14px","bottom":"14px","left":"35px","right":"35px"}},"typography":{"fontSize":"14px"}},"className":"is-style-custombuttonborder"} -->
<div class="wp-block-button has-custom-font-size is-style-custombuttonborder" style="font-size:14px"><a class="wp-block-button__link wp-element-button" href="#" style="padding-top:14px;padding-right:35px;padding-bottom:14px;padding-left:35px">Contact Us</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->