<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:pattern {"slug":"fse-spiritual/banner"} /-->
    <!-- wp:pattern {"slug":"fse-spiritual/infocards"} /-->
    <!-- wp:pattern {"slug":"fse-spiritual/hero-content"} /-->
    <!-- wp:pattern {"slug":"fse-spiritual/video"} /-->
    <!-- wp:pattern {"slug":"fse-spiritual/cat-banner"} /-->
    <!-- wp:pattern {"slug":"fse-spiritual/sermons"} /-->
    <!-- wp:pattern {"slug":"fse-spiritual/services"} /-->
    <!-- wp:pattern {"slug":"fse-spiritual/counter"} /-->
    <!-- wp:pattern {"slug":"fse-spiritual/team"} /-->
    <!-- wp:pattern {"slug":"fse-spiritual/recent-post"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->