<!-- wp:template-part {"slug":"header","theme":"vision-fse"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:pattern {"slug":"vision-fse/hero"} /-->
	<!-- wp:pattern {"slug":"vision-fse/service"} /-->
	<!-- wp:pattern {"slug":"vision-fse/consulting-service"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"vision-fse"} /-->