<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"40px","bottom":"80px"}}},"className":"site-content","layout":{"inherit":true}} -->
<main class="wp-block-group site-content" style="padding-top:40px;padding-bottom:80px">
	<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":"0px"}}} -->
	<div class="wp-block-columns alignwide">
		<!-- wp:column {"width":"40%","style":{"spacing":{"padding":{"right":"5%"}}}} -->
		<div class="wp-block-column" style="padding-right:5%;flex-basis:40%">
			<!-- wp:post-title {"style":{"spacing":{"margin":{"bottom":"30px"}}}} /-->
		</div>
		<!-- /wp:column -->
		<!-- wp:column {"width":"60%","className":"post-content"} -->
		<div class="wp-block-column post-content" style="flex-basis:60%">
			<!-- wp:post-content /-->
			<!-- wp:spacer {"height":30} -->
			<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
			<!-- wp:comments-query-loop -->
			<div class="wp-block-comments-query-loop">
				<!-- wp:comments-title {"style":{"spacing":{"margin":{"bottom":"30px"}}}} /-->
				<!-- wp:comment-template -->
				<!-- wp:columns {"style":{"spacing":{"blockGap":"10px","margin":{"bottom":"30px"}}}} -->
				<div class="wp-block-columns" style="margin-bottom:30px">
					<!-- wp:column {"width":"60px"} -->
					<div class="wp-block-column" style="flex-basis:60px">
						<!-- wp:avatar {"size":60,"style":{"border":{"radius":"30px"}}} /-->
					</div>
					<!-- /wp:column -->
					<!-- wp:column {"style":{"spacing":{"blockGap":"10px"}}} -->
					<div class="wp-block-column">
						<!-- wp:comment-author-name /-->
						<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"10px"}},"layout":{"type":"flex"}} -->
						<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
							<!-- wp:comment-date /-->
							<!-- wp:comment-edit-link /-->
						</div>
						<!-- /wp:group -->
						<!-- wp:comment-content /-->
						<!-- wp:comment-reply-link /-->
					</div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
				<!-- /wp:comment-template -->
				<!-- wp:comments-pagination -->
				<!-- wp:comments-pagination-previous /-->
				<!-- wp:comments-pagination-numbers /-->
				<!-- wp:comments-pagination-next /-->
				<!-- /wp:comments-pagination -->
				<!-- wp:post-comments-form /-->
			</div>
			<!-- /wp:comments-query-loop -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->