<!-- wp:template-part {"slug":"header-default" ,"tagName":"header","className":"has-vertical-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">

    <!-- wp:pattern {"slug":"lensation/header-media"} /-->
  <!-- wp:pattern {"slug":"lensation/hero-content"} /-->
  <!-- wp:pattern {"slug":"lensation/services"} /-->
  <!-- wp:pattern {"slug":"lensation/recent-blog"} /-->
  <!-- wp:pattern {"slug":"lensation/contact-us"} /-->
  <!-- wp:pattern {"slug":"lensation/cta-horizontal"} /-->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
