<!-- wp:template-part {"slug":"header-default" ,"tagName":"header","className":"has-vertical-header"} /-->

<!-- wp:pattern {"slug":"lensation/post-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"layout":{"inherit":"true"}} -->
  <div class="wp-block-group">
    <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dwp-comment-vertical)"}}}} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {"layout":{"inherit":"true"}} /-->

  <!-- wp:group {"layout":{"inherit":"true"}} -->
  <div class="wp-block-group">
    <!-- wp:post-comments {"className":"is-style-lensation-post-comments"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
