<!-- wp:template-part {"slug":"header","tagName":"header","theme":"riverbank"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group"
      style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

    <!-- wp:pattern {"slug":"riverbank/hero-with-feature-columns"} /-->
    <!-- wp:pattern {"slug":"riverbank/call-to-action-inverted-inline"} /-->

    <!-- wp:group {"style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
        <!-- wp:post-content {"layout":{"type":"default"}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:pattern {"slug":"riverbank/columns-with-image-title-and-text"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"riverbank","tagName":"footer"} /-->