<!-- wp:template-part {"slug":"header","theme":"dablam"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"80px","right":"10px","left":"10px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group" style="padding-top:100px;padding-right:10px;padding-bottom:80px;padding-left:10px"><!-- wp:query-title {"type":"archive","textAlign":"center","style":{"typography":{"textTransform":"capitalize","fontSize":"54px"}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"50px","bottom":"20px","right":"10px","left":"10px"},"blockGap":"50px","margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:50px;padding-right:10px;padding-bottom:20px;padding-left:10px"><!-- wp:query {"queryId":38,"query":{"perPage":"2","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"list","columns":3}} -->
    <div class="wp-block-query"><!-- wp:post-template {"align":"center"} -->
    <!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"spacing":{"margin":{"bottom":"30px"}}},"fontSize":"max-48"} /-->
    
    <!-- wp:post-featured-image {"isLink":true,"align":"center"} /-->
    
    <!-- wp:post-excerpt {"textAlign":"center","style":{"spacing":{"padding":{"top":"0px","right":"15px","bottom":"0px","left":"15px"}}}} /-->
    
    <!-- wp:post-date {"textAlign":"center"} /-->
    
    <!-- wp:spacer {"height":"20px"} -->
    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    <!-- /wp:post-template -->
    
    <!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:query-pagination {"paginationArrow":"chevron","layout":{"type":"flex","justifyContent":"center"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","bottom":"30px"}}}} -->
    <div class="wp-block-group" style="padding-top:30px;padding-bottom:30px"><!-- wp:search {"label":"Search for :","showLabel":false,"placeholder":"Search for :","width":75,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true,"align":"center","style":{"border":{"radius":"5px"}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"dablam"} /-->