<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","right":"10px","bottom":"10px","left":"10px"}}},"layout":{"inherit":false,"wideSize":"100%","contentSize":"1000px"}} -->
<div class="wp-block-group" style="padding-top:100px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","fontSize":"max-56","fontFamily":"primary"} /-->
    
    <!-- wp:post-terms {"term":"category","fontSize":"small"} /-->
    
    <!-- wp:post-date {"fontSize":"small","fontFamily":"primary"} /-->
    
    <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"30px","bottom":"30px"}}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"40px","bottom":"40px","right":"20px","left":"20px"}}},"layout":{"inherit":true}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:40px;padding-right:20px;padding-bottom:40px;padding-left:20px"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:post-content /-->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","bottom":"10px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
    <div class="wp-block-group" style="padding-top:10px;padding-bottom:10px"><!-- wp:post-terms {"term":"post_tag","fontSize":"x-small"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"15%"} -->
    <div class="wp-block-column" style="flex-basis:15%"><!-- wp:post-author {"showAvatar":false,"fontSize":"x-small"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"85%"} -->
    <div class="wp-block-column" style="flex-basis:85%"><!-- wp:post-author-biography {"fontSize":"x-small"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer"} /-->