<!-- wp:pattern {"slug":"accountra/core-home-hero"} /-->

<!-- wp:pattern {"slug":"accountra/core-home-about"} /-->

<!-- wp:pattern {"slug":"accountra/core-home-fun-fact"} /-->

<!-- wp:pattern {"slug":"accountra/core-home-service"} /-->

<!-- wp:pattern {"slug":"accountra/core-home-background-cases-studies"} /-->

<!-- wp:pattern {"slug":"accountra/core-home-cases-studies"} /-->

<!-- wp:pattern {"slug":"accountra/core-home-clients-feedback"} /-->

<!-- wp:pattern {"slug":"accountra/core-home-cta"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"layout":{"wideSize":"1140px","contentSize":"1140px"}} -->
<main class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:query {"queryId":24,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
<div class="wp-block-query"><!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"secondary","className":"accountra-animate accountra-move-up accountra-delay-1","fontSize":"small"} -->
<h5 class="has-text-align-center accountra-animate accountra-move-up accountra-delay-1 has-secondary-color has-text-color has-small-font-size" style="font-style:normal;font-weight:500">Our Blog</h5>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"32px","fontStyle":"normal","fontWeight":"500"},"color":{"text":"#252425"}},"className":"accountra-animate accountra-move-up accountra-delay-3"} -->
<h2 class="has-text-align-center accountra-animate accountra-move-up accountra-delay-3 has-text-color" style="color:#252425;font-size:32px;font-style:normal;font-weight:500">Latest Blog &amp; Articles</h2>
<!-- /wp:heading -->

<!-- wp:group {"textColor":"forth","className":"accountra-animate accountra-move-up accountra-delay-5","layout":{"contentSize":"550px"}} -->
<div class="wp-block-group accountra-animate accountra-move-up accountra-delay-5 has-forth-color has-text-color"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"textColor":"forth","fontSize":"tiny"} -->
<p class="has-text-align-center has-forth-color has-text-color has-tiny-font-size" style="font-style:normal;font-weight:300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:post-template {"className":"accountra-animate accountra-move-up accountra-delay-7"} -->
<!-- wp:post-featured-image {"isLink":true,"width":"","height":"250px","align":"wide","style":{"spacing":{"margin":{"bottom":"30px"}}}} /-->

<!-- wp:post-title {"style":{"elements":{"link":{"color":{"text":"#1d222a"}}},"typography":{"fontStyle":"normal","fontWeight":"500"},"color":{"text":"#252425"}},"fontSize":"normal"} /-->

<!-- wp:post-excerpt {"moreText":"Read More","style":{"spacing":{"margin":{"top":"20px","bottom":"20px"}},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"300"}},"textColor":"forth","fontSize":"tiny"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->