<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"waterlava/core-home-hero"} /-->

<!-- wp:pattern {"slug":"waterlava/core-home-section-1"} /-->

<!-- wp:pattern {"slug":"waterlava/core-home-section-2"} /-->

<!-- wp:pattern {"slug":"waterlava/core-home-section-3"} /-->

<!-- wp:pattern {"slug":"waterlava/core-home-section-4"} /-->

<!-- wp:pattern {"slug":"waterlava/core-home-section-5"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0rem","right":"0rem","bottom":"0rem","left":"0rem"}}},"backgroundColor":"waterlava-secondary","layout":{"contentSize":"1140px"}} -->
<div class="wp-block-group has-waterlava-secondary-background-color has-background" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"bottom":"70px","top":"50px"}}},"layout":{"contentSize":"600px"}} -->
<div class="wp-block-group" style="padding-top:50px;padding-bottom:70px"><!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"fontSize":"48px","lineHeight":"1.5"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"textColor":"waterlava-primary","className":"waterlava-animate waterlava-move-down waterlava-delay-1"} -->
<h3 class="has-text-align-center waterlava-animate waterlava-move-down waterlava-delay-1 has-waterlava-primary-color has-text-color" style="font-size:48px;line-height:1.5;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px">Special Price</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"400"}},"textColor":"waterlava-ninth","className":"waterlava-animate waterlava-move-down waterlava-delay-3"} -->
<p class="has-text-align-center waterlava-animate waterlava-move-down waterlava-delay-3 has-waterlava-ninth-color has-text-color" style="font-size:14px;font-style:normal;font-weight:400">Duis dictum vestibulum ante vitae ullamcorper. Phasellus ullamcorper odio vitae eleifend ultricies lectus orci congue magna in egestas nulla libero non nisla.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"waterlava/core-home-section-6"} /-->

<!-- wp:pattern {"slug":"waterlava/core-home-section-7"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"backgroundColor":"waterlava-third","layout":{"contentSize":"1140px"}} -->
<div class="wp-block-group has-waterlava-third-background-color has-background" style="padding-top:100px;padding-bottom:100px"><!-- wp:columns {"style":{"spacing":{"blockGap":"40px"}}} -->
<div class="wp-block-columns"><!-- wp:column {"className":"waterlava-animate waterlava-scale waterlava-delay-1"} -->
<div class="wp-block-column waterlava-animate waterlava-scale waterlava-delay-1"><!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"waterlava-fourth"} -->
<div class="wp-block-group has-waterlava-fourth-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:columns {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div class="wp-block-columns" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"40px","bottom":"20px"}}},"textColor":"waterlava-primary"} -->
<h2 class="has-text-align-center has-waterlava-primary-color has-text-color" style="margin-top:40px;margin-bottom:20px">Plus</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"20px","bottom":"20px"}}},"backgroundColor":"waterlava-ninth"} -->
<div class="wp-block-group has-waterlava-ninth-background-color has-background" style="padding-top:20px;padding-bottom:20px"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"60px","fontStyle":"normal","fontWeight":"500"}},"textColor":"waterlava-fifth"} -->
<h2 class="has-text-align-center has-waterlava-fifth-color has-text-color" style="font-size:60px;font-style:normal;font-weight:500">$74</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"14px"}},"textColor":"waterlava-fourth"} -->
<p class="has-text-align-center has-waterlava-fourth-color has-text-color" style="font-size:14px">Per Month</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","bottom":"40px"}}}} -->
<div class="wp-block-group" style="padding-top:20px;padding-bottom:40px"><!-- wp:paragraph {"align":"center","textColor":"waterlava-ninth"} -->
<p class="has-text-align-center has-waterlava-ninth-color has-text-color">Sauna Relax</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","textColor":"waterlava-ninth"} -->
<p class="has-text-align-center has-waterlava-ninth-color has-text-color">Tratement</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","textColor":"waterlava-ninth"} -->
<p class="has-text-align-center has-waterlava-ninth-color has-text-color">Pedicure</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","textColor":"waterlava-ninth"} -->
<p class="has-text-align-center has-waterlava-ninth-color has-text-color">Floral Bath</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-custombuttonborder2"} -->
<div class="wp-block-button is-style-custombuttonborder2"><a class="wp-block-button__link" href="#">Purchase now</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"top":"0px"}}},"className":"waterlava-animate waterlava-scale waterlava-delay-3"} -->
<div class="wp-block-column is-vertically-aligned-center waterlava-animate waterlava-scale waterlava-delay-3" style="padding-top:0px"><!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"waterlava-fourth"} -->
<div class="wp-block-group has-waterlava-fourth-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:columns {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div class="wp-block-columns" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"40px","bottom":"20px"}}},"textColor":"waterlava-primary"} -->
<h2 class="has-text-align-center has-waterlava-primary-color has-text-color" style="margin-top:40px;margin-bottom:20px">Premium</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"20px","bottom":"20px"}}},"backgroundColor":"waterlava-ninth"} -->
<div class="wp-block-group has-waterlava-ninth-background-color has-background" style="padding-top:20px;padding-bottom:20px"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"60px","fontStyle":"normal","fontWeight":"500"}},"textColor":"waterlava-fifth"} -->
<h2 class="has-text-align-center has-waterlava-fifth-color has-text-color" style="font-size:60px;font-style:normal;font-weight:500">$54</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"14px"}},"textColor":"waterlava-fourth"} -->
<p class="has-text-align-center has-waterlava-fourth-color has-text-color" style="font-size:14px">Per Month</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","bottom":"40px"}}}} -->
<div class="wp-block-group" style="padding-top:20px;padding-bottom:40px"><!-- wp:paragraph {"align":"center","textColor":"waterlava-ninth"} -->
<p class="has-text-align-center has-waterlava-ninth-color has-text-color">Body Lift</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","textColor":"waterlava-ninth"} -->
<p class="has-text-align-center has-waterlava-ninth-color has-text-color">Manicure</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","textColor":"waterlava-ninth"} -->
<p class="has-text-align-center has-waterlava-ninth-color has-text-color">Floral Bath</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-custombuttonborder2"} -->
<div class="wp-block-button is-style-custombuttonborder2"><a class="wp-block-button__link" href="#">Purchase now</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"left":"30px"}}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-left:30px"><!-- wp:group {"layout":{"contentSize":"600px"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontSize":"48px"}},"textColor":"waterlava-primary","className":"waterlava-animate waterlava-move-left waterlava-delay-5"} -->
<h2 class="waterlava-animate waterlava-move-left waterlava-delay-5 has-waterlava-primary-color has-text-color" style="font-size:48px">Our Promotions</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"400"}},"textColor":"waterlava-ninth","className":"waterlava-animate waterlava-move-left waterlava-delay-7"} -->
<p class="waterlava-animate waterlava-move-left waterlava-delay-7 has-waterlava-ninth-color has-text-color" style="font-size:14px;font-style:normal;font-weight:400">Duis dictum vestibulum ante vitae ullamcorper. Phasellus ullamcorper odio vitae eleifend ultricies lectus orci congue magna.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"className":"waterlava-animate waterlava-move-left waterlava-delay-10","style":{"spacing":{"margin":{"top":"20px"}}}} -->
<div class="wp-block-buttons waterlava-animate waterlava-move-left waterlava-delay-10" style="margin-top:20px"><!-- wp:button {"className":"is-style-custombuttonborder3"} -->
<div class="wp-block-button is-style-custombuttonborder3"><a class="wp-block-button__link" href="#">View All</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"waterlava/core-home-section-8"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"100px","top":"100px"}}},"layout":{"contentSize":"1140px"}} -->
<main class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:columns {"className":"waterlava-animate waterlava-move-left waterlava-delay-10"} -->
<div class="wp-block-columns waterlava-animate waterlava-move-left waterlava-delay-10"><!-- wp:column {"style":{"spacing":{"padding":{"bottom":"40px"}}}} -->
<div class="wp-block-column" style="padding-bottom:40px"><!-- wp:query {"queryId":24,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
<div class="wp-block-query"><!-- wp:columns {"style":{"spacing":{"padding":{"bottom":"40px"}}}} -->
<div class="wp-block-columns" style="padding-bottom:40px"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"style":{"typography":{"fontSize":"48px"}},"textColor":"waterlava-primary","className":"waterlava-animate waterlava-move-right waterlava-delay-1"} -->
<h2 class="waterlava-animate waterlava-move-right waterlava-delay-1 has-waterlava-primary-color has-text-color" style="font-size:48px">Latest Blog &amp; Articles</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"400"}},"textColor":"waterlava-ninth","className":"waterlava-animate waterlava-move-right waterlava-delay-3"} -->
<p class="waterlava-animate waterlava-move-right waterlava-delay-3 has-waterlava-ninth-color has-text-color" style="font-size:14px;font-style:normal;font-weight:400">Duis dictum vestibulum ante vitae ullamcorper. Phasellus ullamcorper odio vitae eleifend ultricies lectus orci congue magna nisla.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:buttons {"className":"waterlava-animate waterlava-move-left waterlava-delay-5","layout":{"type":"flex","justifyContent":"right"}} -->
<div class="wp-block-buttons waterlava-animate waterlava-move-left waterlava-delay-5"><!-- wp:button {"className":"is-style-custombuttonborder3"} -->
<div class="wp-block-button is-style-custombuttonborder3"><a class="wp-block-button__link" href="#">View All</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:post-template {"className":"waterlava-animate waterlava-scale waterlava-delay-10"} -->
<!-- wp:post-featured-image {"isLink":true,"align":"wide","style":{"spacing":{"margin":{"bottom":"20px"}}}} /-->

<!-- wp:post-date {"style":{"typography":{"fontSize":"14px"}},"textColor":"waterlava-ninth"} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|waterlava-fifth"}}},"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"21px","lineHeight":"1.7"}},"textColor":"waterlava-primary"} /-->

<!-- wp:post-excerpt {"moreText":"Read More","style":{"spacing":{"margin":{"top":"20px","bottom":"20px"}},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"waterlava-ninth"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->