<!-- wp:cover {"url":"#","hasParallax":true,"dimRatio":70,"minHeight":700,"customGradient":"linear-gradient(12deg,rgb(102,126,234) 1%,rgb(90,108,221) 66%,rgb(70,166,235) 97%)","className":"is-style-default header-cover"} -->
<div class="wp-block-cover has-background-dim-70 has-background-dim has-parallax has-background-gradient is-style-default header-cover" style="background-image:url(#);min-height:700px"><span aria-hidden="true" class="wp-block-cover__gradient-background" style="background:linear-gradient(12deg,rgb(102,126,234) 1%,rgb(90,108,221) 66%,rgb(70,166,235) 97%)"></span><div class="wp-block-cover__inner-container"><!-- wp:template-part {"slug":"header"} /-->

    <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"86px"}}} -->
    <h2 class="has-text-align-center" style="font-size:86px"><strong>Page with Sidebar</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Get to know our natural products made with love &amp; be the part of the better future.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:spacer {"height":20} -->
    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:buttons {"contentJustification":"center"} -->
    <div class="wp-block-buttons is-content-justification-center"><!-- wp:button {"backgroundColor":"white","textColor":"primary","style":{"border":{"radius":50}},"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-primary-color has-white-background-color has-text-color has-background" href="#" style="border-radius:50px"><strong>Read More</strong></a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:spacer {"height":60} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group"><!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"align":"full","style":{"color":{"background":"#f8f4e4"}}} -->
    <div class="wp-block-group alignfull has-background" style="background-color:#f8f4e4"><!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"level":6,"textColor":"primary"} -->
    <h6 class="has-primary-color has-text-color">ECOLOGY</h6>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.1","fontSize":"76px"}}} -->
    <p style="font-size:76px;line-height:1.1"><strong>Natural resources.</strong></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"33.38%"} -->
    <div class="wp-block-column" style="flex-basis:33.38%"><!-- wp:paragraph {"fontSize":"extra-small"} -->
    <p class="has-extra-small-font-size"><em>Nature</em>, in the common sense, refers to essences unchanged by man; space, the air, the river, the leaf.&nbsp;<em>Art</em>&nbsp;is applied to the mixture of his will with the same things, as in a house, a canal, a statue, a picture. But his operations taken together are so insignificant, a little chipping, baking, patching, and washing, that in an impression so grand as that of the world on the human mind, they do not vary the result.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33%"} -->
    <div class="wp-block-column" style="flex-basis:33%"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:image {"sizeSlug":"large","linkDestination":"none"} -->
    <figure class="wp-block-image size-large"><img alt="The sun setting through a dense forest of trees."/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.62%"} -->
    <div class="wp-block-column" style="flex-basis:33.62%"><!-- wp:image {"sizeSlug":"large","linkDestination":"none"} -->
    <figure class="wp-block-image size-large"><img alt="Wind turbines standing on a grassy plain, against a quaternary sky."/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:gallery {"linkTo":"none","align":"wide"} -->
    <figure class="wp-block-gallery alignwide columns-3 is-cropped"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><img alt="" /></figure></li><li class="blocks-gallery-item"><figure><img alt=""/></figure></li><li class="blocks-gallery-item"><figure><img alt=""/></figure></li></ul></figure>
    <!-- /wp:gallery -->
    
    <!-- wp:social-links {"align":"right"} -->
    <ul class="wp-block-social-links alignright"><!-- wp:social-link {"url":"https:\/\/wordpress.org","service":"wordpress"} /-->
    
    <!-- wp:social-link {"url":"https:\/\/www.facebook.com\/WordPress\/","service":"facebook"} /-->
    
    <!-- wp:social-link {"url":"https:\/\/twitter.com\/WordPress","service":"twitter"} /-->
    
    <!-- wp:social-link {"url":"https:\/\/www.youtube.com\/wordpress","service":"youtube"} /--></ul>
    <!-- /wp:social-links -->
    
    <!-- wp:latest-posts {"displayPostDate":true} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":60} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:template-part {"slug":"footer","backgroundColor":"septenary","layout":{"inherit":true}} /-->