<!-- wp:cover {"url":"#","hasParallax":true,"dimRatio":70,"minHeight":700,"customGradient":"linear-gradient(12deg,rgb(102,126,234) 1%,rgb(90,108,221) 66%,rgb(70,166,235) 97%)","className":"is-style-default header-cover"} -->
<div class="wp-block-cover has-background-dim-70 has-background-dim has-parallax has-background-gradient is-style-default header-cover" style="background-image:url(#);min-height:700px"><span aria-hidden="true" class="wp-block-cover__gradient-background" style="background:linear-gradient(12deg,rgb(102,126,234) 1%,rgb(90,108,221) 66%,rgb(70,166,235) 97%)"></span><div class="wp-block-cover__inner-container"><!-- wp:template-part {"slug":"header"} /-->

    <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"86px"}}} -->
    <h2 class="has-text-align-center" style="font-size:86px"><strong>The Magic of Nature</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Get to know our natural products made with love &amp; be the part of the better future.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:spacer {"height":20} -->
    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:buttons {"contentJustification":"center"} -->
    <div class="wp-block-buttons is-content-justification-center"><!-- wp:button {"backgroundColor":"white","textColor":"primary","style":{"border":{"radius":50}},"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-primary-color has-white-background-color has-text-color has-background" href="#" style="border-radius:50px"><strong>Shop Now</strong></a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:columns {"align":"full","className":"naledi-info"} -->
    <div class="wp-block-columns alignfull naledi-info"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"backgroundColor":"quinary"} -->
    <div class="wp-block-group has-quinary-background-color has-background"><!-- wp:heading {"textAlign":"left","level":3} -->
    <h3 class="has-text-align-left"><strong><a href="#">Virtual Tour</a></strong></h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"left"} -->
    <p class="has-text-align-left"><meta charset="utf-8">Get a virtual tour of our shop.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"backgroundColor":"white"} -->
    <div class="wp-block-group has-white-background-color has-background"><!-- wp:heading {"textAlign":"left","level":3} -->
    <h3 class="has-text-align-left"><strong><a href="#">Current Events</a></strong></h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"left"} -->
    <p class="has-text-align-left"><meta charset="utf-8"><meta charset="utf-8">Stay updated and see our current events here.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"backgroundColor":"senary"} -->
    <div class="wp-block-group has-senary-background-color has-background"><!-- wp:heading {"textAlign":"left","level":3} -->
    <h3 class="has-text-align-left"><strong><a href="#">Our Products</a></strong></h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"left"} -->
    <p class="has-text-align-left"><meta charset="utf-8"><meta charset="utf-8">Get to know our opening times and discounts.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:spacer {"height":50} -->
    <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"inherit":false,"contentSize":"1200px"}} -->
    <div class="wp-block-group"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:image {"align":"center","sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
    <div class="wp-block-image is-style-rounded"><figure class="aligncenter size-large"><img alt=""/></figure></div>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","level":3} -->
    <h3 class="has-text-align-center"><strong>Nature</strong></h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Naledi&nbsp;is an experimental block-based theme. It is built to leverage the full-site editing functionality.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:image {"align":"center","sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
    <div class="wp-block-image is-style-rounded"><figure class="aligncenter size-large"><img alt=""/></figure></div>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","level":3} -->
    <h3 class="has-text-align-center"><strong>Animals</strong></h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center"><meta charset="utf-8">Naledi&nbsp;is an experimental block-based theme. It is built to leverage the full-site editing functionality.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:image {"align":"center","sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
    <div class="wp-block-image is-style-rounded"><figure class="aligncenter size-large"><img alt=""/></figure></div>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","level":3} -->
    <h3 class="has-text-align-center"><strong>Our Shop</strong></h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center"><meta charset="utf-8">Naledi&nbsp;is an experimental block-based theme. It is built to leverage the full-site editing functionality.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":50} -->
    <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:cover {"url":"#","hasParallax":true,"dimRatio":80,"minHeight":700,"customGradient":"linear-gradient(12deg,rgb(102,126,234) 3%,rgb(90,158,221) 67%,rgb(71,235,230) 96%)","className":"header-cover"} -->
    <div class="wp-block-cover has-background-dim-80 has-background-dim has-parallax has-background-gradient header-cover" style="background-image:url(#);min-height:700px"><span aria-hidden="true" class="wp-block-cover__gradient-background" style="background:linear-gradient(12deg,rgb(102,126,234) 3%,rgb(90,158,221) 67%,rgb(71,235,230) 96%)"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"86px"}}} -->
    <h2 class="has-text-align-center" style="font-size:86px"><strong>Our Tours</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center"><meta charset="utf-8"><meta charset="utf-8">Get to know our natural products made with love &amp; be the part of the better future.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:spacer {"height":20} -->
    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:buttons {"contentJustification":"center"} -->
    <div class="wp-block-buttons is-content-justification-center"><!-- wp:button {"backgroundColor":"white","textColor":"primary","style":{"border":{"radius":50}},"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-primary-color has-white-background-color has-text-color has-background" href="#" style="border-radius:50px"><strong>Book Now</strong></a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:spacer {"height":120} -->
    <div style="height:120px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"contentSize":"1200px"},"className":"naledi-testimonials"} -->
    <div class="wp-block-group naledi-testimonials"><!-- wp:columns {"className":"is-style-naledi-columns-overlap"} -->
    <div class="wp-block-columns is-style-naledi-columns-overlap"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"backgroundColor":"quaternary","className":"is-style-default"} -->
    <div class="wp-block-group is-style-default has-quaternary-background-color has-background"><!-- wp:group -->
    <div class="wp-block-group"><!-- wp:image {"align":"center","sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
    <div class="wp-block-image is-style-rounded"><figure class="aligncenter size-large"><img alt=""/></figure></div>
    <!-- /wp:image -->
    
    <!-- wp:quote {"align":"center","className":"is-style-large"} -->
    <blockquote class="wp-block-quote has-text-align-center is-style-large"><p>"Contributing makes me feel like I'm being useful to the planet."</p><cite>— Ana Segota, <em>Volunteer</em></cite></blockquote>
    <!-- /wp:quote --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"backgroundColor":"quinary","className":"is-style-default"} -->
    <div class="wp-block-group is-style-default has-quinary-background-color has-background"><!-- wp:group -->
    <div class="wp-block-group"><!-- wp:image {"align":"center","width":180,"sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
    <div class="wp-block-image is-style-rounded"><figure class="aligncenter size-large is-resized"><img alt="" width="180"/></figure></div>
    <!-- /wp:image -->
    
    <!-- wp:quote {"align":"center","className":"is-style-large"} -->
    <blockquote class="wp-block-quote has-text-align-center is-style-large"><p>"Contributing makes me feel like I'm being useful to the planet."</p><cite>— Anna Wong, <em>Volunteer</em></cite></blockquote>
    <!-- /wp:quote --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"contentSize":"1200px"},"className":"naledi-testimonials"} -->
    <div class="wp-block-group naledi-testimonials"><!-- wp:columns {"className":"is-style-naledi-columns-overlap"} -->
    <div class="wp-block-columns is-style-naledi-columns-overlap"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"backgroundColor":"white","className":"is-style-default"} -->
    <div class="wp-block-group is-style-default has-white-background-color has-background"><!-- wp:group -->
    <div class="wp-block-group"><!-- wp:image {"align":"center","sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
    <div class="wp-block-image is-style-rounded"><figure class="aligncenter size-large"><img alt=""/></figure></div>
    <!-- /wp:image -->
    
    <!-- wp:quote {"align":"center","className":"is-style-large"} -->
    <blockquote class="wp-block-quote has-text-align-center is-style-large"><p>"Contributing makes me feel like I'm being useful to the planet."</p><cite>— Ana Segota, <em>Volunteer</em></cite></blockquote>
    <!-- /wp:quote --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"backgroundColor":"senary","className":"is-style-default"} -->
    <div class="wp-block-group is-style-default has-senary-background-color has-background"><!-- wp:group -->
    <div class="wp-block-group"><!-- wp:image {"align":"center","width":180,"sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
    <div class="wp-block-image is-style-rounded"><figure class="aligncenter size-large is-resized"><img alt="" width="180"/></figure></div>
    <!-- /wp:image -->
    
    <!-- wp:quote {"align":"center","className":"is-style-large"} -->
    <blockquote class="wp-block-quote has-text-align-center is-style-large"><p>"Contributing makes me feel like I'm being useful to the planet."</p><cite>— Anna Wong, <em>Volunteer</em></cite></blockquote>
    <!-- /wp:quote --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"align":"full","style":{"color":{"gradient":"linear-gradient(135deg,rgb(228,245,251) 4%,rgb(250,238,231) 100%)"}},"layout":{"inherit":true},"className":"naledi-about"} -->
    <div class="wp-block-group alignfull has-background naledi-about" style="background:linear-gradient(135deg,rgb(228,245,251) 4%,rgb(250,238,231) 100%)"><!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:heading {"level":6,"textColor":"primary"} -->
    <h6 class="has-primary-color has-text-color">ECOLOGY</h6>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.1","fontSize":"5vw"}},"textColor":"secondary"} -->
    <p class="has-secondary-color has-text-color" style="font-size:5vw;line-height:1.1"><strong>Natural resources.</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:spacer {"height":5} -->
    <div style="height:5px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"33.38%"} -->
    <div class="wp-block-column" style="flex-basis:33.38%"><!-- wp:paragraph {"textColor":"secondary"} -->
    <p class="has-secondary-color has-text-color"><em>Nature</em>, in the common sense, refers to essences unchanged by man; space, the air, the river, the leaf.&nbsp;<em>Art</em>&nbsp;is applied to the mixture of his will with the same things, as in a house, a canal, a statue, a picture. But his operations taken together are so insignificant, a little chipping, baking, patching, and washing, that in an impression so grand as that of the world on the human mind, they do not vary the result.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33%"} -->
    <div class="wp-block-column" style="flex-basis:33%"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:image {"sizeSlug":"large","linkDestination":"none"} -->
    <figure class="wp-block-image size-large"><img alt=""/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.62%"} -->
    <div class="wp-block-column" style="flex-basis:33.62%"><!-- wp:image {"sizeSlug":"large","linkDestination":"none"} -->
    <figure class="wp-block-image size-large"><img alt=""/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"67%"} -->
    <div class="wp-block-column" style="flex-basis:67%"><!-- wp:image {"align":"right","sizeSlug":"large","linkDestination":"none"} -->
    <div class="wp-block-image"><figure class="alignright size-large"><img alt=""/></figure></div>
    <!-- /wp:image --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","width":"33%"} -->
    <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:33%"><!-- wp:paragraph {"textColor":"secondary"} -->
    <p class="has-secondary-color has-text-color">Undoubtedly we have no questions to ask which are unanswerable. We must trust the perfection of the creation so far, as to believe that whatever curiosity the order of things has awakened in our minds, the order of things can satisfy. Every man's condition is a solution in hieroglyphic to those inquiries he would put.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","backgroundColor":"septenary","layout":{"inherit":true}} /-->