<!-- wp:cover {"url":"#","hasParallax":true,"dimRatio":70,"minHeight":533,"minHeightUnit":"px","customGradient":"linear-gradient(12deg,rgb(102,126,234) 1%,rgb(90,108,221) 66%,rgb(70,166,235) 97%)","align":"full","className":"is-style-default header-cover"} -->
<div class="wp-block-cover alignfull has-background-dim-70 has-background-dim has-parallax has-background-gradient is-style-default header-cover" style="background-image:url(#);min-height:533px"><span aria-hidden="true" class="wp-block-cover__gradient-background" style="background:linear-gradient(12deg,rgb(102,126,234) 1%,rgb(90,108,221) 66%,rgb(70,166,235) 97%)"></span><div class="wp-block-cover__inner-container"><!-- wp:template-part {"slug":"header"} /-->

<!-- wp:post-title {"textAlign":"center","level":1,"align":"wide"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":70} -->
<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:post-comments /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","backgroundColor":"septenary","layout":{"inherit":true}} /-->