<!-- wp:cover {"url":"#","hasParallax":true,"dimRatio":70,"minHeight":500,"customGradient":"linear-gradient(12deg,rgb(102,126,234) 1%,rgb(90,108,221) 66%,rgb(70,166,235) 97%)","align":"full","className":"is-style-default header-cover"} -->
<div class="wp-block-cover alignfull has-background-dim-70 has-background-dim has-parallax has-background-gradient is-style-default header-cover" style="background-image:url(#);min-height:500px"><span aria-hidden="true" class="wp-block-cover__gradient-background" style="background:linear-gradient(12deg,rgb(102,126,234) 1%,rgb(90,108,221) 66%,rgb(70,166,235) 97%)"></span><div class="wp-block-cover__inner-container"><!-- wp:template-part {"slug":"header"} /-->

<!-- wp:post-title {"textAlign":"center","level":1,"align":"wide"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"height":70} -->
<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"inherit":false,"contentSize":"1200px"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","layout":{"inherit":true}} /-->

<!-- wp:group {"align":"wide","layout":{"inherit":true}} -->
<div class="wp-block-group alignwide"><!-- wp:spacer {"height":70} -->
<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"className":"naledi-author"} -->
<div class="wp-block-columns naledi-author"><!-- wp:column {"width":"20%"} -->
<div class="wp-block-column" style="flex-basis:20%"><!-- wp:post-date /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-author {"textAlign":"left","showBio":false,"byline":""} /-->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:post-comments /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","backgroundColor":"septenary","className":"site-footer","layout":{"inherit":true}} /-->