<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-hero"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-section-1"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-section-2"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-section-3"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-section-4"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-section-5"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-section-6"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-section-7"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-section-8"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-home-section-9"} /-->

<!-- wp:template-part {"slug":"footer"} /-->