<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"hypebiz/core-page-hero"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"layout":{"inherit":false}} -->
<main class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"seventh","textColor":"secondary","layout":{"inherit":true}} -->
<div class="wp-block-group has-secondary-color has-seventh-background-color has-text-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-comments {"backgroundColor":"white","textColor":"fourth"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->