<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">
    <!-- wp:pattern {"slug":"bioxlog/page-hero"} /-->
    <!-- wp:pattern {"slug":"bioxlog/page-service-light"} /-->
    <!-- wp:pattern {"slug":"bioxlog/page-about-me"} /-->
    <!-- wp:pattern {"slug":"bioxlog/page-experience"} /-->
    <!-- wp:pattern {"slug":"bioxlog/page-education"} /-->
    <!-- wp:pattern {"slug":"bioxlog/page-clients"} /-->
    <!-- wp:pattern {"slug":"bioxlog/page-latest-post"} /-->
    </div>
    <!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->