<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","displayLayout":{"type":"list"},"layout":{"inherit":true}} -->
<main class="wp-block-query">
    <!-- wp:post-template {"align":"wide"} -->
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">
        <!-- wp:columns {"align":"wide"} -->
        <div class="wp-block-columns alignwide">
            <!-- wp:column {"width":"67%"} -->
            <div class="wp-block-column" style="flex-basis:67%">
                <!-- wp:post-title {"isLink":true,"textColor":"foreground"} /-->

                <!-- wp:post-excerpt /-->

                <!-- wp:post-date {"format":"F j, Y","isLink":true,"style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontSize":"small"} /-->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"width":"33%","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
            <div class="wp-block-column"
                style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;flex-basis:33%">
                <!-- wp:post-featured-image {"isLink":true,"width":"360px","height":"360px","scale":"contain"} /-->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->

        <!-- wp:spacer {"height":"50px"} -->
        <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination {"paginationArrow":"chevron","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
    <!-- wp:query-pagination-previous {"style":{"typography":{"fontSize":"24px","fontStyle":"normal","fontWeight":"300"}}} /-->

    <!-- wp:query-pagination-numbers {"style":{"typography":{"fontStyle":"normal","fontWeight":"300","fontSize":"24px"}}} /-->

    <!-- wp:query-pagination-next {"style":{"typography":{"fontSize":"24px","fontStyle":"normal","fontWeight":"300"}}} /-->
    <!-- /wp:query-pagination -->
</main>
<!-- /wp:query -->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->