<!-- wp:template-part {"slug":"header-default"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group"><!-- wp:spacer {"height":"96px"} -->
<div style="height:96px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","fontSize":"xx-large"} -->
<h2 class="has-text-align-center has-xx-large-font-size">Page not found</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size">It looks like this page doesn't exist. <br>Go back to the <a href="/">homepage</a>?</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"96px"} -->
<div style="height:96px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-default"} /-->
