<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"is-style-no-spacing","layout":{"inherit":false}} -->
<main class="wp-block-group is-style-no-spacing">

<!-- wp:pattern {"slug":"ona/posts-grid-3-columns-travel"} /-->

<!-- wp:pattern {"slug":"ona/forms-newsletter"} /-->

<!-- wp:pattern {"slug":"ona/posts-list-travel"} /-->

<!-- wp:pattern {"slug":"ona/general-promo-section-travel"} /-->

<!-- wp:pattern {"slug":"ona/posts-grid-3-columns-travel-style-2"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->