<!-- wp:template-part {"slug":"header","theme":"siuy"} /-->

<!-- wp:pattern {"slug":"siuy/hero-vanilla"} /-->

<!-- wp:group {"templateLock":"contentOnly","style":{"spacing":{"padding":{"top":"var(--wp--preset--spacing--70)","bottom":"var(--wp--preset--spacing--50)"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:latest-posts {"postsToShow":3,"displayPostContent":true,"excerptLength":18,"displayPostDate":true,"postLayout":"grid","displayFeaturedImage":true,"featuredImageSizeSlug":"large","addLinkToFeaturedImage":true} /--></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"siuy/recent-posts-grid-tile"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var(--wp--preset--spacing--70)","bottom":"var(--wp--preset--spacing--70)"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
<!-- wp:pattern {"slug":"siuy/title-with-separator"} /-->

<!-- wp:latest-posts {"postsToShow":4,"displayPostContent":true,"excerptLength":18,"displayPostDate":true,"postLayout":"grid","columns":4,"featuredImageSizeSlug":"large","addLinkToFeaturedImage":true} /-->

<!-- wp:post-content {"layout":{"inherit":true}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"siuy"} /-->