<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"background"} -->
<div
  class="wp-block-group has-background-background-color has-background"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
<!-- wp:pattern {"slug":"arc-fse/cover-with-post-title"} /-->
  <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}}} -->
  <main class="wp-block-group" style="padding-top: 80px; padding-bottom: 80px">
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
