<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"droplet/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	
<!-- wp:pattern {"slug":"droplet/features"} /-->

<!-- wp:pattern {"slug":"droplet/introduction"} /-->

<!-- wp:pattern {"slug":"droplet/services"} /-->

<!-- wp:pattern {"slug":"droplet/quote"} /-->

<!-- wp:pattern {"slug":"droplet/testimonial"} /-->

<!-- wp:pattern {"slug":"droplet/process"} /-->

<!-- wp:pattern {"slug":"droplet/team"} /-->

<!-- wp:pattern {"slug":"droplet/recent-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->