<!-- wp:pattern {"slug":"restance/core-home-hero"} /-->

<!-- wp:pattern {"slug":"restance/core-home-about"} /-->

<!-- wp:pattern {"slug":"restance/core-home-client-logo"} /-->

<!-- wp:pattern {"slug":"restance/core-home-commitment"} /-->

<!-- wp:pattern {"slug":"restance/core-home-cta"} /-->

<!-- wp:pattern {"slug":"restance/core-home-featured"} /-->

<!-- wp:pattern {"slug":"restance/core-home-benefits"} /-->

<!-- wp:pattern {"slug":"restance/core-home-testimonial"} /-->

<!-- wp:pattern {"slug":"restance/core-home-blog"} /-->

<!-- wp:template-part {"slug":"footer"} /-->