<!-- wp:template-part {"slug":"header","theme":"zenithwp","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"20px","bottom":"20px"}}},"layout":{"type":"constrained","justifyContent":"center","contentSize":"500px"}} -->
<main class="wp-block-group" style="padding-top:20px;padding-bottom:20px">
	<!-- wp:heading {"textAlign":"center","level":1,"fontSize":"xx-large"} -->
	<h1 class="has-text-align-center has-xx-large-font-size">404</h1>
	<!-- /wp:heading -->

	<!-- wp:search {"label":"","buttonText":"Search"} /-->

	<!-- wp:paragraph {"align":"center","textColor":"base","fontSize":"small"} -->
	<p class="has-text-align-center has-base-color has-text-color has-small-font-size">Sorry page not found!</p>
	<!-- /wp:paragraph -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"zenithwp","tagName":"footer"} /-->