<!-- wp:pattern {"slug":"restance/core-page-hero"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"100px","bottom":"60px","right":"20px","left":"20px"}}},"layout":{"wideSize":"1140px","contentSize":"1140px","type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:100px;padding-right:20px;padding-bottom:60px;padding-left:20px"><!-- wp:post-content {"layout":{"inherit":true},"fontSize":"heading-5"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->