<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:query-title {"type":"archive","textAlign":"center","level":4,"align":"wide"} /-->
<!-- wp:group {"layout":{"inherit":true},"style":{"spacing":{"margin":{"top":"1.5em"}}}} -->
<div class="wp-block-group" style="margin-top: 1.5em"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":"60px"}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"65.8390410959%"} -->
<div class="wp-block-column" style="flex-basis:65.8390410959%">
<!-- wp:query {"query":{"perPage":10,"pages":0,"offset":"0","postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"displayLayout":{"type":"list","columns":3},"layout":{"inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template {"className":"estory-post-loop"} -->
<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"height":""} /-->

<!-- wp:group {"className":"no-margin-top","style":{"spacing":{"padding":{"top":"3.125em","right":"3.125em","bottom":"3.125em","left":"3.125em"}}},"backgroundColor":"white"} -->
<div class="wp-block-group has-white-background-color has-background no-margin-top" style="padding-top:3.125em;padding-right:3.125em;padding-bottom:3.125em;padding-left:3.125em"><!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"className":"no-margin-top","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group no-margin-top"><!-- wp:post-terms {"term":"category","className":"estory-terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":4,"isLink":true,"style":{"spacing":{"margin":{"top":"0px","bottom":"0.3em"}}}} /-->

<!-- wp:post-date {"textColor":"text-color","className":"no-margin-top"} /-->

<!-- wp:post-excerpt {"moreText":"Read More","style":{"spacing":{"margin":{"top":"1.25em"}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->


<!-- wp:query-pagination {"align":"left"} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"label":"Next"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query -->

<!-- wp:spacer {"height":"36px"} -->
<div style="height:36px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
</div>
<!-- /wp:column -->

<!-- wp:column {"width":"29.0239726027%","style":{"spacing":{"margin":{"left":"0px","top":"0px"}}}} -->
<div class="wp-block-column" style="margin-left:0;margin-top:0;flex-basis:29.0239726027%;"><!-- wp:pattern {"slug":"estory/sidebar/default"} /-->
</div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer"} /-->
