<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"6em"}}},"className":"site-content"} -->
<main id="primary" class="wp-block-group site-content" style="margin-top:6em">

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:paragraph {"align":"center","textColor":"accent","fontSize":"ridiculous"} -->
		<p class="has-text-align-center has-accent-color has-text-color has-ridiculous-font-size">404</p>
		<!-- /wp:paragraph -->

		<!-- wp:paragraph {"fontSize":"large"} -->
		<p class="has-large-font-size">The page you are looking for does not exist or may have been moved or renamed.</p>
		<!-- /wp:paragraph -->

		<!-- wp:spacer {"height":"2em"} -->
		<div style="height:2em" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
		<div class="wp-block-group">
			<!-- wp:paragraph {"fontSize":"medium"} -->
			<p class="has-medium-font-size">Please try a search.</p>
			<!-- /wp:paragraph -->

			<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"6em"} -->
	<div style="height:6em" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->