<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"}}},"className":"site-content"} -->
<main id="primary" class="wp-block-group site-content" style="margin-top:0px">

	<!-- wp:cover {"useFeaturedImage":true,"dimRatio":80,"minHeight":38,"minHeightUnit":"em","gradient":"vertical-transparent-fade-dark","contentPosition":"bottom center","align":"full"} -->
	<div class="wp-block-cover alignfull has-custom-content-position is-position-bottom-center" style="min-height:38em">
		<span aria-hidden="true" class="wp-block-cover__background has-background-dim-80 has-background-dim has-background-gradient has-vertical-transparent-fade-dark-gradient-background"></span>
		<div class="wp-block-cover__inner-container">
		<!-- wp:post-author {"textAlign":"right","showAvatar":false,"byline":"Written by","textColor":"light-grey"} /-->
		<!-- wp:post-title {"textAlign":"center","textColor":"light-grey","fontSize":"gigantic"} /-->
		</div>
	</div>
	<!-- /wp:cover -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">

		<!-- wp:separator {"className":"is-style-wide"} -->
		<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
		<!-- /wp:separator -->

		<!-- wp:post-terms {"term":"category","fontSize":"small","className":"is-style-buttons"} /-->
		<!-- wp:post-terms {"term":"post_tag","fontSize":"small","className":"is-style-buttons"} /-->

		<!-- wp:template-part {"slug":"comments","tagName":"comments"} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->