<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true},"style":{"spacing":{"margin":{"top":"3em"}}},"className":"site-content"} -->
<main id="primary" class="wp-block-group site-content" style="margin-top:3em">

	<!-- wp:columns {"align":"wide"} -->
	<div class="wp-block-columns alignwide">

		<!-- wp:column {"width":"59%"} -->
		<div class="wp-block-column" style="flex-basis:59%">

			<!-- wp:post-title {"level":1} /-->
			<!-- wp:post-author {"showAvatar":false,"showBio":false,"byline":"By"} /-->
			<!-- wp:post-date /-->
			<!-- wp:post-terms {"term":"category","fontSize":"small","className":"is-style-buttons-outline"} /-->

			<!-- wp:separator {"className":"is-style-wide"} -->
			<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
			<!-- /wp:separator -->

			<!-- wp:post-featured-image /-->

			<!-- wp:post-content /-->

			<!-- wp:separator {"className":"is-style-wide"} -->
			<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
			<!-- /wp:separator -->

			<!-- wp:post-terms {"term":"post_tag","fontSize":"small","className":"is-style-buttons"} /-->

			<!-- wp:template-part {"slug":"comments","tagName":"comments"} /-->

		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"8%"} -->
		<div class="wp-block-column" style="flex-basis:8%"></div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"","style":{"spacing":{"padding":{"top":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002ddivider\u002d\u002dwidth)","right":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002ddivider\u002d\u002dwidth)","bottom":"0px","left":"0px"}}},"backgroundColor":"divider","className":"has-divider-background-color"} -->
		<div class="wp-block-column has-divider-background-color has-background" style="padding-top:var(--wp--custom--divider--width);padding-right:var(--wp--custom--divider--width);padding-bottom:0px;padding-left:0px"></div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"6%"} -->
		<div class="wp-block-column" style="flex-basis:6%"></div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"26%"} -->
		<div class="wp-block-column" style="flex-basis:26%">
			<!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /-->
		</div>
		<!-- /wp:column -->

	</div>
	<!-- /wp:columns -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->