<!-- wp:pattern {"slug":"vorfolio/core-home-hero"} /-->

<!-- wp:pattern {"slug":"vorfolio/core-home-client-logo"} /-->

<!-- wp:pattern {"slug":"vorfolio/core-home-about"} /-->

<!-- wp:pattern {"slug":"vorfolio/core-home-experience"} /-->

<!-- wp:pattern {"slug":"vorfolio/core-home-services"} /-->

<!-- wp:pattern {"slug":"vorfolio/core-home-projects"} /-->

<!-- wp:pattern {"slug":"vorfolio/core-home-testimonials"} /-->

<!-- wp:pattern {"slug":"vorfolio/core-home-cta"} /-->

<!-- wp:pattern {"slug":"vorfolio/core-home-blog"} /-->

<!-- wp:template-part {"slug":"footer"} /-->