/* --- > 5
-------------------------------------------------------- */

/* --- > 360px
-------------------------------------------------------- */

@media screen and (min-width: 22.5em) {
  .wp-block-sticky-music-playlist
    .simple-audio-player
    .simp-controls
    .simp-plauseward {
    justify-content: flex-start;
    width: auto;
  }

  .wp-block-sticky-music-playlist
    .simple-audio-player
    .simp-controls
    .simp-tracker {
    display: flex;
  }
}

/* --- > 480px
-------------------------------------------------------- */

@media screen and (min-width: 30em) {
  .wp-product-cateogry-block
    .wc-block-grid__product
    .wc-block-grid__product-image
    img {
    max-width: 250px;
    transition: all 0.4s;
  }
  ul.wc-block-grid__products li.wc-block-grid__product a img,
  .woocommerce ul.products li.product a img {
    height: 180px;
  }
}

/* --- > 600px
-------------------------------------------------------- */

@media screen and (min-width: 37.5em) {
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    max-width: 100%;
  }
  ul.wc-block-grid__products li.wc-block-grid__product a img,
  .woocommerce ul.products li.product a img {
    height: 240px;
  }

  .woocommerce
    .wp-product-category-with-sidebar
    ul.products[class*="columns-"]
    li.product,
  .woocommerce-page
    .wp-product-category-with-sidebar
    ul.products[class*="columns-"]
    li.product {
    width: calc((100% / 2) - 30px + (30px / 2));
    margin-left: 0;
    margin-right: 0;
  }

  .post-navigation-link-next {
    margin-top: 0;
  }
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li,
  .wp-block-query-loop.is-flex-container.is-flex-container.columns-3 > li {
    width: 100%;
  }

  .wp-group-author figure.wp-block-image {
    margin-bottom: 0;
  }

  header .wp-block-navigation .wp-block-navigation-item__content {
    padding: 8px 5px;
  }

  header
    .wp-block-navigation
    :where(.wp-block-navigation__submenu-container)
    .wp-block-navigation-item__content {
    padding: 0.5em 1em;
  }

  .wp-block-columns.testimonial-columns.testimonial-three-columns
    > .wp-block-column:not(:last-child) {
    margin-bottom: 0px;
  }

  .testimonial-two-columns .wp-block-testimonial .wp-group-author {
    margin-left: 0;
  }

  .wp-block-columns.testimonial-two-columns
    .wp-block-testimonial
    .wp-group-content:after {
    left: 35px;
  }

  .wp-block-centered-menu .wp-block-navigation {
    text-align: left;
  }

  .wp-block-footer
    .wp-block-navigation
    .has-child
    :where(.wp-block-navigation__submenu-container) {
    bottom: 100%;
    top: unset;
  }

  .wpcf7-form .two-col .wp-block-col,
  .wpcf7-form > p {
    margin-top: 28px;
  }

  .wp-block-newsletter .tnp-subscription-minimal form input.tnp-submit {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: inline-block;
    margin-top: 0;
  }

  .wp-block-newsletter .tnp-subscription-minimal form input.tnp-email {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: inline-block;
    width: 70%;
  }

  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: block;
  }

  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(
      .is-menu-open
    ) {
    display: none;
  }

  .wp-block-slider-with-video .wp-block-fse-pro-slides > .wp-block-cover {
    min-height: 45vh;
  }
}

/* --- > 601px
-------------------------------------------------------- */

@media screen and (min-width: 37.5625em) {
  .wp-featured-product-slider .wc-block-featured-product__wrapper {
    padding: 56px 0;
  }
  .wp-product-showcase
    .wc-block-featured-product
    .wc-block-featured-product__background-image,
  .wp-featured-product-slider
    .wc-block-featured-product
    .wc-block-featured-product__background-image {
    height: 200px;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    padding: 0 8% 0 8%;
  }

  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right
    .wp-block-media-text__content {
    padding-left: 0;
  }

  .wp-block-media-text.is-stacked-on-mobile:not(.has-media-on-the-right)
    .wp-block-media-text__content {
    padding-right: 0;
  }

  .is-stacked-on-mobile .wp-block-media-text__media {
    margin-bottom: 0;
  }

  .fse-slider-wrapper:hover .tns-control > button.tns-prev,
  .fse-slider-wrapper:focus .tns-control > button.tns-prev {
    left: 30px;
  }

  .fse-slider-wrapper:hover .tns-control > button.tns-next,
  .fse-slider-wrapper:focus .tns-control > button.tns-next {
    right: 30px;
  }

  .wp-block-featured-slider-with-video
    .fse-slider-wrapper:hover
    .swiper-button-prev {
    left: 50px;
  }

  .wp-block-featured-slider-with-video
    .fse-slider-wrapper:hover
    .swiper-button-next {
    right: 50px;
  }

  .wp-block-featured-slider-with-video
    .wp-block-media-text
    .wp-block-media-text__media {
    display: block;
  }

  .wp-block-featured-services
    .wp-block-media-text:not(.has-media-on-the-right)
    .wp-block-media-text__media:before,
  .wp-block-featured-services
    .wp-block-media-text.has-media-on-the-right
    .wp-block-media-text__media:before {
    bottom: 0;
    width: 30%;
    height: 100%;
  }

  .wp-block-featured-services
    .wp-block-media-text:not(.has-media-on-the-right)
    .wp-block-media-text__media:before {
    left: 0;
  }

  .wp-block-featured-services
    .wp-block-media-text.has-media-on-the-right
    .wp-block-media-text__media:before {
    left: auto;
    right: 0;
  }
  .header-media-inner-post .wp-block-cover {
    padding-top: 60px;
  }
}

/* --- > 768px
-------------------------------------------------------- */
@media screen and (min-width: 48em) {
  .wp-block-cta-with-video.wp-block-cover,
  .wp-block-cta-just-video.wp-block-cover {
    min-height: 484px;
  }
  .wp-block-woocommerce-all-products
    .wc-block-grid.has-4-columns
    .wc-block-grid__product {
    flex: 1 0 33.333%;
    max-width: 33.3333%;
  }

  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li,
  .wp-block-query-loop.is-flex-container.is-flex-container.columns-3 > li {
    width: calc(50% - 1.2em);
  }
  .wp-block-post-template.is-flex-container,
  .wp-block-query-loop.is-flex-container {
    gap: 2.4em;
  }
  .wp-featured-product-slider {
    padding: 21px 0;
  }
  .wc-block-grid.has-4-columns .wc-block-grid__product {
    flex: 1 0 33.333%;
    max-width: 33.3333%;
  }
  .wp-block-latest-products
    .wc-block-grid.has-4-columns
    .wc-block-grid__product {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

/* --- > min-width 782px max-width 782
-------------------------------------------------------- */

@media (min-width: 481px) and (max-width: 782px) {
  .wc-block-grid.has-4-columns .wc-block-grid__product {
    flex: 1 0 50%;
    margin: 0 0 24px;
    max-width: 50%;
    padding: 0;
  }
}

/* --- > 782px
-------------------------------------------------------- */

@media screen and (min-width: 48.875em) {
  .wp-block-fse-pro-header-search {
    position: initial;
  }

  .wp-product-category-with-sidebar .wp-block-sidebar {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
  }

  .wp-product-category-with-sidebar .wp-block-widget {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .woocommerce div.product .woocommerce-tabs .panel {
    padding: 42px 0 0;
  }

  .wp-product-review-section
    .wc-block-review-list.wc-block-components-review-list {
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
  }
  .wc-block-components-review-list-item__item--has-image
    .wc-block-components-review-list-item__meta {
    margin-top: 21px;
  }
  .wc-block-components-review-list-item__info {
    display: block;
  }

  .wp-product-review-section
    .wc-block-review-list.wc-block-components-review-list
    li {
    width: calc((100% / 3) - 30px + (30px / 3));
  }

  .wp-product-review-section
    .wc-block-review-list.wc-block-components-review-list
    li:not(:first-child) {
    margin-top: 0;
  }

  .wp-product-category-thumbnail {
    display: block;
  }

  .wp-block-sidebar-on-right .wp-block-column-sidebar {
    padding-left: var(--wp--custom--spacing--wp-block-sidebar);
  }

  .wp-block-sidebar-on-left .wp-block-column-sidebar {
    padding-right: var(--wp--custom--spacing--wp-block-sidebar);
  }

  .wp-block-footer .wp-block-widget,
  .wp-block-footer .wp-block-widget:not(:last-child),
  .wp-block-columns > .wp-block-column {
    margin-bottom: 0;
  }

  .wp-block-columns > .wp-block-column {
    margin-bottom: 0;
  }

  .wp-block-footer
    .wp-block-navigation
    .has-child
    :where(.wp-block-navigation__submenu-container) {
    bottom: 100%;
    top: unset;
  }

  .wp-block-footer .wp-block-navigation .wp-block-navigation__submenu-icon svg {
    margin-bottom: 3px;
    transform: rotate(180deg);
  }

  .wp-block-navigation
    .has-child
    :where(.wp-block-navigation__submenu-container)
    .wp-block-navigation__submenu-container {
    top: -8px;
  }

  .wp-block-footer
    .wp-block-navigation
    .has-child
    :where(.wp-block-navigation__submenu-container)
    .wp-block-navigation__submenu-container {
    bottom: unset;
  }

  .wp-block-main-header .wp-block-fse-pro-header-search .search-container,
  .wp-block-main-header .wp-block-fse-pro-header-social .social-container {
    left: auto;
    right: 0;

  }
  .wp-block-main-header .wp-block-fse-pro-header-search .search-container {
    padding-left: var(--wp--custom--spacing--outer);
    padding-right: var(--wp--custom--spacing--outer);
  }
  .wp-block-main-header .wp-block-fse-pro-header-search .search-container form {
    max-width: 1365px;
    margin: 0 auto;
  }

  .wp-block-navigation
    .has-child
    .wp-block-navigation__submenu-container
    .wp-block-navigation__submenu-container {
    top: -7px !important;
  }

  .wp-block-main-header .wp-block-fse-pro-header-social .social-container {
    width: 320px;
  }

  div.wp-block-columns {
    gap: calc(1.25 * var(--wp--style--block-gap, 2em));
  }

  .wp-block-columns .wp-block-columns {
    gap: var(--wp--style--block-gap, 2em);
  }

  div.wp-block-columns + div.wp-block-columns {
    margin-block-start: calc(1.25 * var(--wp--style--block-gap));
  }

  .wp-block-subscribe .wp-block-group-heading {
    margin-bottom: 0;
  }

  .wp-block-custom-header-media-with-title-and-nav .wp-block-main-header {
    padding-bottom: 20px;
  }

  .wp-block-music-playlist .simple-audio-player {
    margin: 0 0 0 auto;
  }

  .wp-block-music-playlist .simple-audio-player ul li {
    padding: 8px 28px;
  }

  .wp-block-sticky-music-playlist .simp-random {
    display: flex;
  }

  .wp-block-sticky-music-playlist
    .simple-audio-player
    .simp-controls
    .simp-time {
    display: flex;
  }

  .wp-block-slider-with-video .wp-block-fse-pro-slides > .wp-block-cover {
    min-height: 60vh;
  }

  .wp-block-quick-contact
    .wp-block-column
    .wp-block-buttons
    .wp-block-button__link {
    margin-top: 0;
  }

  .wp-block-quick-contact .wp-block-columns {
    align-items: center !important;
  }

  .wp-block-stats .wp-block-column {
    text-align: left;
  }

  .wp-block-sidebar-on-left.wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:not(:first-child),
  .wp-block-sidebar-on-right.wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column:not(:first-child) {
    margin-left: calc(1.666666666666667 * var(--wp--style--block-gap, 2em));
  }

  .wp-block-navigation.items-justified-right
    .wp-block-navigation__container
    .has-child
    .wp-block-navigation__submenu-container
    .wp-block-navigation__submenu-container,
  .wp-block-navigation.items-justified-right
    .wp-block-page-list
    > .has-child
    .wp-block-navigation__submenu-container
    .wp-block-navigation__submenu-container,
  .wp-block-navigation.items-justified-space-between
    .wp-block-page-list
    > .has-child:last-child
    .wp-block-navigation__submenu-container
    .wp-block-navigation__submenu-container,
  .wp-block-navigation.items-justified-space-between
    > .wp-block-navigation__container
    > .has-child:last-child
    .wp-block-navigation__submenu-container
    .wp-block-navigation__submenu-container {
    left: 100%;
    right: auto;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 782px) {
  .wp-product-cateogry-block
    .wc-block-grid__product
    .wc-block-grid__product-image
    img {
    max-width: 100%;
  }
  .wp-product-cateogry-block
    .wc-block-grid__product
    .wc-block-grid__product-title,
  .wp-product-cateogry-block
    .wc-block-grid__product
    .wc-block-grid__product-price.price {
    font-size: 24px;
  }

  .wp-product-cateogry-block .wc-block-grid__product {
    padding: 30px;
  }
  .wp-product-review-section
    .wc-block-review-list-item__product.wc-block-components-review-list-item__product
    a {
    font-size: 22px;
  }
}

/* --- > 783px
-------------------------------------------------------- */

@media screen and (min-width: 48.9375em) {
  .admin-bar .wp-block-featured-slider-with-video .wp-block-cover,
  .admin-bar .wp-block-custom-header-media.wp-block-cover,
  .admin-bar .wp-block-custom-header-media-with-video.wp-block-cover {
    /* height: calc(100vh - 141px); */
    min-height: calc(100vh - 32px);
  }

  .woocommerce
    .wp-product-category-with-sidebar
    ul.products[class*="columns-"]
    li.product,
  .woocommerce-page
    .wp-product-category-with-sidebar
    ul.products[class*="columns-"]
    li.product {
    width: calc((100% / 3) - 30px + (30px / 3));
  }
}

/* --- > 1024px
-------------------------------------------------------- */

@media screen and (min-width: 64em) {
  .wp-block-latest-products
    .wc-block-grid.has-4-columns
    .wc-block-grid__product {
    flex: 1 0 25%;
    max-width: 25%;
  }
  .wp-block-latest-products ul.wc-block-grid__products li {
    margin: 0;
  }
  .single-product
    .header-media-inner-post
    .catch-breadcrumb.center
    .woocommerce-breadcrumb {
    margin: 42px 0 -49px;
  }
  ul.wc-block-grid__products li.wc-block-grid__product a img,
  .woocommerce ul.products li.product a img {
    height: 320px;
  }
  .summary form.cart.grouped_form .group_table {
    margin-bottom: 35px;
  }
  wp-thumbnail-product .wc-block-grid__products .wc-block-grid__product-image,
  .wp-product-showcase
    .wc-block-featured-product
    .wc-block-featured-product__background-image,
  .wp-featured-product-slider
    .wc-block-featured-product
    .wc-block-featured-product__background-image {
    margin: 35px 0;
  }

  .wp-block-cover-image,
  .wp-block-cover {
    min-height: 340px;
  }
  .wp-featured-product-slider .wc-block-featured-product__wrapper {
    padding: 56px 0;
  }

  .wp-product-showcase
    .wc-block-featured-product
    .wc-block-featured-product__background-image,
  .wp-featured-product-slider
    .wc-block-featured-product
    .wc-block-featured-product__background-image {
    height: 260px;
  }

  .content > .video-play > span {
    padding-left: 14px;
  }

  .testimonial-two-columns .wp-block-testimonial .wp-group-author {
    margin-left: 42px;
  }

  .wp-block-columns.testimonial-two-columns
    .wp-block-testimonial
    .wp-group-content:after {
    left: 75px;
  }

  .wpcf7-form .two-col {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .wpcf7-form .two-col .wp-block-col {
    width: 48%;
  }

  .wp-block-cta-with-video.wp-block-cover,
  .wp-block-cta-just-video.wp-block-cover {
    min-height: 538px;
  }

  .wp-block-subscribe .tnp-subscription-minimal form input.tnp-submit {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: inline-block;
    margin-top: 0;
  }

  .wp-block-subscribe .tnp-subscription-minimal form input.tnp-email {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: inline-block;
    width: 70%;
  }

  .wp-block-slider-with-video .wp-block-fse-pro-slides > .wp-block-cover {
    min-height: 75vh;
  }
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li,
  .wp-block-query-loop.is-flex-container.is-flex-container.columns-3 > li {
    width: calc(33.3333% - 1.6em);
  }
}

/* --- > 1200px
-------------------------------------------------------- */

@media screen and (min-width: 75em) {
  .wp-block-woocommerce-all-products
    .wc-block-grid.has-4-columns
    .wc-block-grid__product {
    flex: 1 0 25%;
    max-width: 25%;
  }
  ul.wc-block-grid__products li.wc-block-grid__product a img,
  .woocommerce ul.products li.product a img {
    height: 260px;
  }
  .open-search
    .header-transparent
    .wp-block-navigation
    .current-menu-item
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ) {
    color: var(--wp--preset--color--text-link);
    fill: var(--wp--preset--color--text-link);
  }
  .open-search
    .header-transparent
    .wp-block-navigation
    .current-menu-item
    .wp-block-navigation-item__content:after {
    border-bottom-color: var(--wp--preset--color--text-link);
  }
  .wp-block-navigation__container {
    gap: 0 28px;
  }
  .wp-block-fse-pro-header-search .search-container,
  .wp-block-fse-pro-header-social .social-container {
    padding: 21px 30px;
  }
  .wp-block-main-header
    .wp-block-fse-pro-header-search
    button.wp-block-search__button.has-icon
    svg {
    font-size: 24px;
  }

  .woocommerce-tabs.wc-tabs-wrapper {
    padding-top: 28px;
  }

  .header-transparent .wp-block-navigation .wp-block-navigation-item__content {
    color: var(--wp--preset--color--color-light);
  }
  .open-search
    .header-transparent
    .wp-block-navigation
    .wp-block-navigation-item__content {
    color: var(--wp--preset--color--foreground);
  }
  .open-search
    .header-transparent
    .wp-block-navigation
    .wp-block-navigation-item__content:hover {
    color: var(--wp--preset--color--text-link);
  }
  .open-search
    .header-transparent
    .wp-block-navigation-submenu
    .wp-block-navigation__submenu-icon
    svg {
    stroke: var(--wp--preset--color--foreground);
  }
  .wp-product-category-with-sidebar .wp-block-sidebar {
    display: block;
    margin: 0;
  }

  .wp-product-category-with-sidebar .wp-block-widget {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .wp-product-category-with-sidebar {
    flex-direction: initial;
  }

  .wc-block-components-review-list-item__info {
    display: grid;
  }

  .wc-block-components-review-list-item__item--has-image
    .wc-block-components-review-list-item__meta {
    margin-top: 0;
  }

  .wp-block-main-header .wp-block-navigation {
    margin-left: 35px;
    margin-right: auto;
  }
  .wp-block-cover-image,
  .wp-block-cover {
    min-height: 400px;
  }

  .wp-block-cta-with-video.wp-block-cover,
  .wp-block-cta-just-video.wp-block-cover {
    min-height: 592px;
  }

  .wp-block-cta-with-video .content .video-play,
  .wp-block-cta-just-video .content .video-play {
    width: 100px;
    height: 100px;
  }

  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none;
  }

  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(
      .is-menu-open
    ) {
    display: flex;
  }

  .tnp-subscription-minimal form input.tnp-submit {
    padding: 15px 35px;
  }

  .tnp-subscription-minimal form input.tnp-email {
    padding: 17px;
  }

  .wp-block-subscribe > .wp-block-columns {
    align-items: center !important; // Since imortant mark has been set for this column from core
  }

  .wp-block-custom-header-media-with-title-and-nav .wp-block-main-header {
    padding-bottom: 30px;
  }

  .wp-block-navigation
    .has-child:where(:not(.open-on-click)):hover
    > .wp-block-navigation__submenu-container {
    animation: smoothScrollBack 0.6s backwards, fadein 0.6s;
  }

  .social-and-toggle-search
    .wp-block-social-search-container
    .social-controller {
    display: none;
  }

  .social-and-toggle-search
    .wp-block-social-search-container
    .social-container {
    background: transparent;
    display: block !important;
    padding: 0;
    position: static;
    width: auto;
  }

  .wp-block-main-header .wp-block-main-header-container {
    gap: var(--wp--style--block-gap, 0.5em);
  }

  .wp-block-music-playlist .simple-audio-player ul li {
    padding: 10px 34px;
  }

  .wp-block-sticky-music-playlist .simp-volume,
  .wp-block-music-playlist .simp-volume {
    display: flex;
  }

  .wp-block-services-list .fse-pro-icons svg {
    height: 50px;
    width: 50px;
  }

  .wp-block-custom-header-media-with-title-and-nav
    .wp-block-social-search-container
    .wp-block-social-links.is-style-logos-only
    .wp-block-social-link-anchor {
    color: var(--wp--preset--color--color-light);
  }

  .wp-block-navigation .wp-block-navigation-item__content {
    position: relative;
  }

  .wp-block-navigation .wp-block-navigation-item__content:after {
    content: "";
    border-bottom: 2px solid var(--wp--preset--color--text-link);
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    transition: all 0.4s ease;
  }

  .wp-block-footer
    .wp-block-navigation
    .wp-block-navigation-item__content:after {
    border-bottom: 2px solid var(--wp--preset--color--color-light);
  }

  .wp-block-navigation
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ):after {
    right: 10px;
  }

  .wp-block-navigation
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ):hover:after,
  .wp-block-navigation
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ):focus:after,
  .wp-block-navigation
    .current-menu-item
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ):after {
    width: calc(100% - 10px);
    left: 5px;
  }

  .wp-block-footer
    .wp-block-navigation
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ):after {
    right: 0;
  }

  .wp-block-footer
    .wp-block-navigation
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ):hover:after,
  .wp-block-footer
    .wp-block-navigation
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ):focus:after {
    width: 100%;
    left: 0;
  }

  .wp-block-navigation .wp-block-navigation-item__content:focus {
    color: var(--wp--preset--color--foreground);
  }

  .header-transparent
    .wp-block-navigation
    .wp-block-navigation-item__content:focus {
    color: var(--wp--preset--color--color-light);
  }

  .header-transparent
    .wp-block-navigation
    .wp-block-navigation-item__content:after {
    border-bottom-color: var(--wp--preset--color--color-light);
  }

  .header-transparent
    .wp-block-navigation
    .current-menu-item
    .wp-block-navigation-item__content:after {
    border-bottom-color: var(--wp--preset--color--color-light);
  }

  .wp-block-embed-video {
    display: block;
  }

  .social-inside-slider ul.wp-block-social-links {
    flex-direction: column;
  }

  .social-inside-slider {
    left: 9px;
  }

  .header-transparent
    .wp-block-navigation
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ):hover,
  .header-transparent
    .wp-block-navigation
    .current-menu-item
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ),
  .header-transparent
    .wp-block-social-search-container
    .wp-block-social-links.is-style-logos-only
    .wp-block-social-link-anchor {
    color: var(--wp--preset--color--color-light);
    fill: var(--wp--preset--color--color-light);
  }
  .open-search
    .header-transparent
    .wp-block-navigation
    .wp-block-navigation-item__content:not(
      .wp-block-navigation__submenu-container .wp-block-navigation-item__content
    ):hover {
    color: var(--wp--preset--color--text-link);
  }
  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    width: 40%;
  }
  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 55%;
  }

  .wp-block-site-generator
    .wp-block-fse-pro-header-social
    .social-controller
    svg,
  .wp-block-site-generator
    .wp-block-fse-pro-header-search
    .search-controller
    svg,
  .wp-block-site-generator
    .wp-block-social-links.is-style-logos-only
    .wp-social-link
    svg {
    width: 36px;
    height: 36px;
  }
}

/* --- > 1366px
-------------------------------------------------------- */

@media screen and (min-width: 85.375em) {
  .single-product
    .header-media-inner-post
    .catch-breadcrumb.center
    .woocommerce-breadcrumb {
    margin: 56px 0 -56px;
  }
  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 27%;
  }
  ul.wc-block-grid__products li.wc-block-grid__product a img,
  .woocommerce ul.products li.product a img {
    height: 310px;
  }
  .wp-block-site-generator .wp-block-social-links + p {
    margin-top: 35px;
  }
  .wp-block-navigation__container {
    gap: 0 35px;
  }
  .woocommerce-cart main .woocommerce {
    display: flex;
    flex-wrap: wrap;
  }
  .woocommerce-notices-wrapper {
    width: 100%;
  }
  .woocommerce .cart-collaterals,
  .woocommerce-page .cart-collaterals {
    width: 30%;
    padding-left: 56px;
    margin-left: auto;
  }
  .woocommerce .cart-collaterals .cart_totals,
  .woocommerce-page .cart-collaterals .cart_totals {
    width: auto;
    margin-top: 0;
  }
  .woocommerce-page .woocommerce-cart-form .product-thumbnail a img {
    max-height: 60px;
    width: 80px;
  }
  .woocommerce-page .woocommerce-cart-form .product-thumbnail {
    width: 80px;
  }
  form.woocommerce-cart-form {
    width: 65%;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 22px;
  }
  .wp-product-category-thumbnail .wp-block-cover {
    min-height: 680px;
  }
  .woocommerce div.product .woocommerce-tabs .panel {
    padding: 56px 0 0;
  }
  .wp-product-review-section
    .wc-block-review-list.wc-block-components-review-list {
    gap: 40px;
  }
  .wp-product-review-section
    .wc-block-review-list.wc-block-components-review-list
    li {
    width: calc((100% / 3) - 40px + (40px / 3));
  }
  .wp-product-cateogry-block
    .wc-block-featured-category
    .wc-block-featured-category__background-image,
  .wp-product-cateogry-block
    .wc-block-grid__product
    .wc-block-grid__product-image
    img {
    max-width: 400px;
  }
  .fse-slider-wrapper .swiper-button-prev:after,
  .fse-slider-wrapper .swiper-button-next:after {
    font-size: 28px;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    padding: 0 15% 0 15%;
  }
  .wp-featured-product-slider {
    padding: 70px 0;
  }

  .wp-product-cateogry-block
    .wc-block-featured-category
    .wc-block-featured-category__background-image,
  .wp-thumbnail-product .wc-block-grid__products .wc-block-grid__product-image,
  .wp-product-showcase
    .wc-block-featured-product
    .wc-block-featured-product__background-image {
    margin: 42px 0;
  }
  .wp-featured-product-slider
    .wc-block-featured-product
    .wc-block-featured-product__background-image {
    margin: 56px 0;
  }
  .wp-block-cover.wp-block-cta {
    min-height: 520px;
  }

  div.wp-block-columns {
    gap: calc(1.666666 * var(--wp--style--block-gap, 2em));
  }

  div.wp-block-columns + div.wp-block-columns {
    margin-block-start: calc(1.666666 * var(--wp--style--block-gap));
  }

  .wp-block-cta-with-video.wp-block-cover,
  .wp-block-cta-just-video.wp-block-cover {
    min-height: 646px;
  }

  .wp-block-slider-with-video .wp-block-fse-pro-slides > .wp-block-cover {
    min-height: 85vh;
  }

  .my-masonry-grid {
    gap: 40px;
  }

  .my-masonry-grid .my-masonry-grid_column img {
    margin-bottom: 40px;
  }

  .my-masonry-grid .my-masonry-grid_column img:last-child {
    margin-bottom: 0;
  }

  /* 	.wp-block-featured-slider-with-video .wp-block-cover,
	.wp-block-custom-header-media.wp-block-cover,
	.wp-block-custom-header-media-with-video.wp-block-cover {
		height: calc(100vh - 121px);
	}

	.admin-bar .wp-block-featured-slider-with-video .wp-block-cover,
	.admin-bar .wp-block-custom-header-media.wp-block-cover,
	.admin-bar .wp-block-custom-header-media-with-video.wp-block-cover {
		height: calc(100vh - 153px);
	} */
  /*
	.wp-block-featured-slider-with-video .wp-block-cover {
		min-height: 798px;
	} */
}

/* --- > 1400px
-------------------------------------------------------- */

@media screen and (min-width: 87.5em) {
  .single-product
    .header-media-inner-post
    .catch-breadcrumb.center
    .woocommerce-breadcrumb {
    padding-left: 0;
    padding-right: 0;
  }
}

/* --- > 1600px
-------------------------------------------------------- */

@media screen and (min-width: 100em) {
  .wp-thumbnail-product .wp-product-category-thumbnail .wp-block-cover {
    min-height: 700px;
  }
  .wp-block-rounded-read-more .wp-block-button__link {
    height: 120px;
    width: 120px;
    font-size: 45px;
    font-size: 2.8125rem;
  }
  .wp-featured-product-slider {
    padding: 84px 0;
  }

  .wp-block-cover-image,
  .wp-block-cover {
    min-height: 410px;
  }
  .wp-featured-product-slider
    .wc-block-featured-product
    .wc-block-featured-product__background-image {
    height: 360px;
    margin: 42px 0;
  }

  /* 	.wp-block-featured-slider-with-video .wp-block-cover {
		min-height: 874px;
	} */

  .wp-block-music-playlist .simple-audio-player ul li {
    padding: 10px 36px;
  }

  .wp-block-music-playlist .simp-random {
    display: flex;
  }
  .wp-block-main-header .wp-block-navigation {
    margin-left: 42px;
  }
  .wp-block-sticky-music-playlist .simp-player > .simp-display .simp-info {
    display: flex;
  }

  .wp-block-slider-with-video .wp-block-fse-pro-slides > .wp-block-cover {
    min-height: 90vh;
  }

  .social-inside-slider {
    bottom: 63px;
    left: 28px;
  }
  .wp-block-cover.wp-block-cta {
    min-height: 600px;
  }

  /* 	.wp-block-featured-slider-with-video .wp-block-cover,
	.wp-block-custom-header-media.wp-block-cover,
	.wp-block-custom-header-media-with-video.wp-block-cover {
		height: calc(100vh - 123px);
	}

	.admin-bar .wp-block-featured-slider-with-video .wp-block-cover,
	.admin-bar .wp-block-custom-header-media.wp-block-cover,
	.admin-bar .wp-block-custom-header-media-with-video.wp-block-cover {
		height: calc(100vh - 155px);
	} */
}

/* --- > 1920px
-------------------------------------------------------- */

@media screen and (min-width: 120em) {
  .wp-block-cta-with-video.wp-block-cover,
  .wp-block-cta-just-video.wp-block-cover {
    min-height: 700px;
  }

  .wp-block-cover-image,
  .wp-block-cover {
    min-height: 500px;
  }
  .wp-thumbnail-product .wp-product-category-thumbnail .wp-block-cover {
    min-height: 800px;
  }

  /* 	.wp-block-featured-slider-with-video .wp-block-cover {
		min-height: 950px;
	} */

  .wp-block-music-playlist .simple-audio-player ul li {
    padding: 12px 42px;
  }

  .wp-block-music-playlist .simp-repeat,
  .wp-block-music-playlist .simp-shide {
    display: flex;
    flex-direction: column;
  }

  .social-inside-slider {
    left: 63px;
  }
}

@media screen and (max-width: 37.5em) {
  .wp-block-main-header .wp-block-button > .wp-block-button__link {
    padding: 7px 21px;
    font-size: var(--wp--preset--font-size--tiny);
  }
}
