/**
 * Base
 * - Reset the browser
 */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	box-sizing: border-box;
}
pre {
	overflow: scroll;
}
header  {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
	border-bottom: 1px solid var(--wp--custom--color--border);
}

.wp-site-blocks {
    overflow: hidden;
}
.wp-site-blocks > main, .wp-site-blocks > .wp-block-cover {
	margin-top: 0;
}
.wp-site-blocks > .wp-block-query {
	padding-left: calc(var(--wp--custom--gap--horizontal) / 2);
    padding-right: calc(var(--wp--custom--gap--horizontal) / 2);
}
.wp-site-blocks .alignfull {
	margin-left: calc(-1 * var(--wp--custom--gap--horizontal)) !important;
	margin-right: calc(-1 * var(--wp--custom--gap--horizontal)) !important;
	width: unset;
}
.wp-site-blocks .alignfull.wp-block-template-part, .wp-site-blocks .alignfull.wp-block-columns, .wp-site-blocks .alignfull.wp-block-group {
	padding-left: var(--wp--custom--gap--horizontal);
	padding-right: var(--wp--custom--gap--horizontal);
}

.is-root-container {
	padding-left: var(--wp--custom--post-content--padding--left);
	padding-right: var(--wp--custom--post-content--padding--right);
}
.post-header,
.page-content {
	padding-left: var(--wp--custom--post-content--padding--left);
	padding-right: var(--wp--custom--post-content--padding--right);
}

@media (min-width: 480px) {
	.wp-block[data-align="left"],
	.wp-block[data-align="right"],
	.wp-site-blocks .alignleft,
	.wp-site-blocks .alignright {
		max-width: var(--wp--custom--alignment--aligned-max-width);
	}
}

.aligncenter {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

::selection {
	background-color: var(--wp--custom--color--selection);
}
::-moz-selection {
	background-color: var(--wp--custom--color--selection);
}

.image-no-margin {
	margin: 0;
}
.image-no-margin * {
	vertical-align: bottom;
}

.has-background-no-padding.wp-block-columns.has-background {
	padding: 0;
}

/* Column stacking on tablet */
@media (min-width: 600px) and (max-width: 781px) {
	.wp-block-columns.is-not-stacked-on-tablet > .wp-block-column:first-child:nth-last-child(3),
	.wp-block-columns.is-not-stacked-on-tablet > .wp-block-column:first-child:nth-last-child(3) ~ .wp-block-column {
    	flex-basis: calc(33% - var(--wp--style--block-gap, 2em)/1.5)!important;
		padding: 10px 20px 25px 20px !important;
	}
	.wp-block-columns.is-not-stacked-on-tablet > .wp-block-column:nth-child(3):nth-last-child(1) {
		margin-left: var(--wp--style--block-gap,2em);
	}

	.wp-block-columns.is-not-stacked-on-tablet > .wp-block-column:first-child:nth-last-child(5),
	.wp-block-columns.is-not-stacked-on-tablet > .wp-block-column:first-child:nth-last-child(5) ~ .wp-block-column {
    	flex-basis: calc(20% - var(--wp--style--block-gap, 2em)/1.25)!important;
		margin-left: var(--wp--style--block-gap,2em);
	}
	.wp-block-columns.is-not-stacked-on-tablet > .wp-block-column:nth-child(1):nth-last-child(5) {
		margin-left: 0;
	}

	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:nth-child(3):nth-last-child(1) {
		flex-basis: 100% !important;
	}

	.wp-block-columns.is-stacked-on-tablet > .wp-block-column,
	.wp-block-columns:not(.is-not-stacked-on-mobile).is-stacked-on-tablet>.wp-block-column {
		flex-basis: 100% !important;
		margin: var(--wp--style--block-gap,2em);
	}
}

@media (min-width: 782px) and (max-width: 959px) {
	.wp-block-columns.is-halved-on-tablet {
		flex-wrap: wrap;
	}
	.wp-block-columns.is-halved-on-tablet>.wp-block-column:not(:only-child) {
    	flex-basis: calc(50% - var(--wp--style--block-gap, 2em)/2)!important;
    	flex-grow: 0;
	}
	.wp-block-columns.is-halved-on-tablet > .wp-block-column:nth-child(3):nth-last-child(2) {
		margin-left: 0;
	}
}

/* Links */
a {
	cursor: pointer;
	text-underline-offset: 0.15em;
}
a:hover, a:focus {
	color: var(--wp--preset--color--primary);
}

.block-editor-block-list__layout a,
body.single.single-post .entry-content a {
	text-decoration-line: underline;
}

.block-editor-block-list__layout a:hover, .block-editor-block-list__layout a:focus,
.wp-block-post-content a:hover,
.wp-block-post-content a:focus {
	text-decoration: none;
}

/* Form elements */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: var(--wp--custom--form--color--background);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color) !important;
	border-radius: var(--wp--custom--form--border--radius);
	box-shadow: var(--wp--custom--form--color--box-shadow);
	color: var(--wp--custom--form--color--text);
	font-family: var(--wp--preset--font-family--body);
	font-size: var(--wp--custom--form--typography--font-size);
	padding: var(--wp--custom--form--padding);
	max-width: 100%;
}

.has-background .wpcf7 input[type="text"],
.has-background .wpcf7 input[type="email"],
.has-background .wpcf7 input[type="url"],
.has-background .wpcf7 input[type="password"],
.has-background .wpcf7 input[type="search"],
.has-background .wpcf7 input[type="number"],
.has-background .wpcf7 input[type="tel"],
.has-background .wpcf7 input[type="range"],
.has-background .wpcf7 input[type="date"],
.has-background .wpcf7 input[type="month"],
.has-background .wpcf7 input[type="week"],
.has-background .wpcf7 input[type="time"],
.has-background .wpcf7 input[type="datetime"],
.has-background .wpcf7 input[type="datetime-local"],
.has-background .wpcf7 input[type="color"],
.has-background .wpcf7 textarea {
	background: var(--wp--custom--color--background);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: var(--wp--custom--form--color--text);
	border-color: var(--wp--custom--form--color--border);
}

input[type="checkbox"]:focus,
input[type="submit"]:focus,
button:focus {
	outline: 1px dotted currentColor;
	outline-offset: 2px;
}
select {
	font-family: inherit;
	font-size: 100%;
}
textarea {
	width: 100%;
}
input[type=checkbox] + label {
	display: inline;
	margin-left: 0.5em;
	line-height: 1em;
}

/* Buttons */
.wp-block-navigation-item.is-style-green-button > a.wp-block-navigation-item__content,
.wp-block-post-comments input[type="submit"],
.form-submit > .submit,
.wpcf7-form-control.wpcf7-submit {
	color: var(--wp--custom--button--color--text);
	font-size: var(--wp--custom--button--typography--font-size);
	font-weight: var(--wp--custom--button--typography--font-weight);
	background: var(--wp--custom--color--primary);
	padding: var(--wp--custom--button--spacing--padding--top) var(--wp--custom--button--spacing--padding--left) !important;
	border-radius: var(--wp--custom--button--border--radius);
	border-color: transparent;
	border-width: var(--wp--custom--button--border--width);
	text-decoration: none;
}
.wp-block-button > a.wp-block-button__link:not(.has-background):hover,
.wp-block-navigation-item.is-style-green-button > a.wp-block-navigation-item__content:hover, .wp-block-navigation-item.is-style-green-button > a.wp-block-navigation-item__content:focus, 
.wp-block-navigation-link.is-style-green-button:hover, .wp-block-navigation-link.is-style-green-button:focus,
.wp-block-post-comments input[type="submit"]:hover, .wp-block-post-comments input[type="submit"]:focus,
.wpcf7-form-control.wpcf7-submit:hover, .wpcf7-form-control.wpcf7-submit:focus {
	background-color: var(--wp--custom--color--secondary);
	border-radius: var(--wp--custom--button--border--radius);
	text-decoration: none;
}
.wp-block-button > a.wp-block-button__link.has-foreground-background-color:hover {
	background-color: var(--wp--custom--color--tertiary) !important;
	border-radius: var(--wp--custom--button--border--radius);
	border: 0;
	text-decoration: none;
}
.wp-block-button > .wp-block-button__link > svg {
	vertical-align: text-bottom;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	color: var(--wp--custom--button--outline--color--text);
	border-style: var(--wp--custom--button--border--style);
	border-width: var(--wp--custom--button--border--width);
	border-color: transparent;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button.is-style-outline .wp-block-button__link:focus {
	color: var(--wp--custom--color--tertiary) !important;
    background-color: var(--wp--preset--color--background) !important;
    border-color: var(--wp--custom--color--tertiary) !important;
    border-width: var(--wp--custom--button--border--width) !important;
}

.wp-block-button.is-style-green-link .wp-block-button__link {
	color: var(--wp--custom--color--secondary);
	background-color: transparent; 
	padding: 0;
	background: var(--wp--custom--button--background);
	background-repeat: no-repeat;
	background-position: right;
    padding-right: 1.25rem;
}
.wp-block-button.is-style-green-link .wp-block-button__link:hover,
.wp-block-button.is-style-green-link .wp-block-button__link:focus {
	color: var(--wp--custom--color--primary);
	background-color: transparent !important; 
	padding: 0;
    padding-right: 1.4rem;
}

.wp-block-button.is-style-white-link .wp-block-button__link {
	color: var(--wp--custom--button--color--text);
	background-color: transparent; 
	background: url(svg/play.svg) no-repeat;
	background-position: right;
    padding-right: 1.75rem;
}
.wp-block-button.is-style-white-link .wp-block-button__link:hover,
.wp-block-button.is-style-white-link .wp-block-button__link:focus {
	color: var(--wp--custom--button--color--text) !important;
	background-color: transparent !important; 
	padding-right: 2rem;
	margin-right: -0.25rem;
}

.hero .wp-block-buttons > .wp-block-button:not(.is-style-outline) > .wp-block-button__link {
	background-color: var(--wp--custom--button--hero--color--background);
}
.hero .wp-block-buttons > .wp-block-button:not(.is-style-outline) > .wp-block-button__link:hover {
	background-color: var(--wp--custom--color--secondary);
}
:where(.hero, .wp-block-cover.alignfull) .wp-block-buttons > .wp-block-button > .wp-block-button__link {
	font-size: var(--wp--preset--font-size--lead);
}
@media (max-width: 599px) {
	.hero .wp-block-buttons .wp-block-button {
		width: 100%;
	}
	.hero .wp-block-buttons .wp-block-button .wp-block-button__link {
		width: 100%;
		margin: 0.5rem auto;
	}
}
.wp-block-buttons .wp-block-button:last-child {
	margin-bottom: 0;
}

/* Navigation */
.wp-block-navigation.is-responsive .wp-block-navigation__responsive-container.is-menu-open {
	background-color: var(--wp--custom--color--background);
	color: var(--wp--custom--color--foreground);
	margin-top: 3.5rem;
}
.wp-block-navigation.is-responsive .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-link:not(:last-child) {
    border-bottom: 1px solid #eee;
    width: 100%;
}
.wp-block-navigation.is-responsive .wp-block-navigation-link__content {
	color: var(--wp--custom--color--foreground);
}
.wp-block-navigation.is-responsive ul > li.wp-block-navigation-item.current-menu-item.wp-block-navigation-link:not(.is-style-green-button) > a.wp-block-navigation-item__content {
	color: var(--wp--custom--color--secondary);
}
.wp-block-navigation.is-responsive .has-child .wp-block-navigation-link__container {
	display: revert;
}
.wp-block-navigation .wp-block-navigation-link__content > .wp-block-navigation-link__label > img {
    vertical-align: middle;
}

/* Footer */
footer.wp-block-template-part {
    margin-top: 0;
}
footer.wp-block-template-part > .wp-block-group.alignfull {
	color: var(--wp--custom--footer--color--text);
	background-color: var(--wp--custom--footer--color--background);
	border-top: 1px solid var(--wp--custom--color--border);
}
footer.wp-block-template-part .wp-block-navigation__container {
    align-items: flex-start;
	gap: 1em;
}
footer.wp-block-template-part > .wp-block-group.alignfull hr.alignwide.is-style-wide {
    margin-top: 50px;
    color: var(--wp--custom--color--border);
}

p.has-drop-cap:not(:focus):first-letter {
	font-size: var(--wp--custom--paragraph--dropcap--typography--font-size);
	font-weight: var(--wp--custom--paragraph--dropcap--typography--font-weight);
	margin: var(--wp--custom--paragraph--dropcap--margin);
}

/* Blog Posts */
li.wp-block-post.sticky > .wp-block-template-part > .wp-block-group {
    border-radius: 8px;
	overflow: hidden;
	position: relative;
}

@media (max-width: 781px) {
	li.wp-block-post.has-post-thumbnail.sticky > div.wp-block-template-part > div.wp-block-group > div.wp-block-group {
    	padding: 4rem 1.5rem 2rem 1.5rem !important;
	}
	.wp-block-query > .wp-block-post-template > .wp-block-post:not(.sticky) > .wp-block-template-part > .wp-block-group > .wp-block-group {
    	padding: 1rem !important;
	}
}

.wp-block-query > .wp-block-post-template > .wp-block-post:not(.sticky) > .wp-block-template-part > .wp-block-group,
ul.wp-block-latest-posts.is-grid > li {
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.08);
	border: 1px solid var(--wp--custom--color--border);
	backdrop-filter: blur(35px);
	border-radius: 8px;
	margin-bottom: 10px;
	overflow: hidden;
}
.wp-block-query > .wp-block-post-template > .wp-block-post:not(.sticky) figure.wp-block-post-featured-image {
    margin: 0;
}
.wp-block-query > .wp-block-post-template > .wp-block-post:not(.sticky) > .wp-block-template-part > .wp-block-group > .wp-block-group {
    margin-top: 0;
}
.wp-block-query > .wp-block-post-template > .wp-block-post:not(.sticky) > .wp-block-template-part .wp-block-post-title {
	margin-top: 0.75rem;
}
.wp-block-query > .wp-block-post-template > .wp-block-post:not(.sticky) > .wp-block-template-part .wp-block-post-excerpt {
    margin-top: 0;
}

/* Latest Posts */
ul.wp-block-latest-posts.is-grid > li > a {
    color: var(--wp--custom--color--tertiary);
    font-weight: bold;
    font-size: var(--wp--preset--font-size--lead);
    padding: 1rem 2rem 0.5rem;
    display: block;
}
ul.wp-block-latest-posts.is-grid > li > .wp-block-latest-posts__post-author {
    float: left;
    margin-left: 2rem;
    font-weight: bold;
    background-image: url(svg/check-circle.svg);
    padding-left: 1.25rem;
    background-position: left;
    background-repeat: no-repeat;
}
ul.wp-block-latest-posts.is-grid > li > .wp-block-latest-posts__post-date {
    float: right;
    padding-right: 2rem;
	background-image: url(svg/calendar.svg);
    padding-left: 1.5rem;
    background-position: left;
    background-repeat: no-repeat;
	filter: brightness(0.5);
}
ul.wp-block-latest-posts.is-grid > li > .wp-block-latest-posts__post-excerpt {
    padding: 1rem 2rem;
    display: block;
	clear: both;
}

/* Single Post */
body.single.single-post .entry-content {
    font-size: var(--wp--preset--font-size--lead);
}
body.single.single-post h1 {
	font-size: var(--wp--preset--font-size--huge);
}
body.single.single-post h2 {
	font-size: var(--wp--preset--font-size--large);
}
body.single.single-post h3 {
	font-size: 24px;
}
body.single.single-post h4 {
	font-size: 22px;
}
body.single.single-post > div.wp-site-blocks > div.wp-block-group:first-of-type {
	overflow: hidden;
	margin-top: 0;
	position: relative;
}

/* Comments */
.wp-block-comments-query-loop input[type="submit"]:hover,
.wp-block-comments-query-loop input[type="submit"]:focus,
.wp-block-comments-query-loop input[type="submit"].has-focus {
	text-decoration: none;
	background-color: var(--wp--custom--color--secondary);
}
.wp-block-comments-query-loop a.comment-reply-link {
	display: inline-block;
	font-size: var(--wp--custom--button--typography--font-size);
	font-weight: bold;
	color: var(--wp--custom--color--secondary);
	text-decoration: none;
	background: var(--wp--custom--reply--background) no-repeat;
	background-position: left;
    padding-left: 1.5rem;
}
.wp-block-comments-query-loop a.comment-reply-link:hover {
	color: var(--wp--custom--color--primary);
}
a#cancel-comment-reply-link {
    background: var(--wp--custom--details--close) no-repeat;
    padding-left: 1.5rem;
    margin-left: 2rem;
    background-position: left;
} 

/* Blog Elements */
.wp-block-pullquote.is-style-solid-color,
.wp-block-pullquote {
	text-align: var(--wp--custom--pullquote--typography--text-align);
}
.wp-block-pullquote.is-style-solid-color blockquote,
.wp-block-pullquote blockquote {
	padding: 0;
	margin: 0;
}
.wp-block-pullquote.is-style-solid-color blockquote p,
.wp-block-pullquote blockquote p {
	font-size: 1em;
	padding: 0;
	margin: 0;
	line-height: inherit;
}
.wp-block-pullquote.is-style-solid-color blockquote .wp-block-pullquote__citation,
.wp-block-pullquote.is-style-solid-color blockquote cite,
.wp-block-pullquote blockquote .wp-block-pullquote__citation,
.wp-block-pullquote blockquote cite {
	display: block;
	font-size: var(--wp--custom--pullquote--citation--typography--font-size);
	font-style: var(--wp--custom--pullquote--citation--typography--font-style);
	font-weight: var(--wp--custom--pullquote--citation--typography--font-weight);
	margin-top: var(--wp--custom--pullquote--citation--spacing--gap--top);
}
.wp-block-pullquote.is-style-solid-color.is-style-solid-color,
.wp-block-pullquote.is-style-solid-color {
	background-color: var(--wp--custom--color--foreground);
	color: var(--wp--custom--color--background);
}

/* Pagination */
.wp-block-query-pagination {
	padding-top: 1.5em;
	justify-content: space-between;
	display: grid;
	grid-template-areas: "prev numbers next";
	grid-template-columns: 1fr 2fr 1fr;
}
@media (max-width: 479px) {
	.wp-block-query-pagination {
		grid-template-areas: "prev next";
		grid-template-columns: 1fr 1fr;
	}
}
.wp-block-query-pagination .wp-block-query-pagination-previous {
	justify-self: start;
	grid-area: prev;
}
.wp-block-query-pagination .wp-block-query-pagination-next {
	justify-self: end;
	grid-area: next;
}
.wp-block-query-pagination .wp-block-query-pagination-numbers {
	grid-area: numbers;
	justify-self: center;
}
.wp-block-query-pagination .wp-block-query-pagination-numbers .current {
	text-decoration: underline;
}
@media (max-width: 479px) {
	.wp-block-query-pagination .wp-block-query-pagination-numbers {
		display: none;
	}
}

/* Other Elements */
.wp-block-code code {
	font-family: var(--wp--custom--code--typography--font-family);
}
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
	font-size: var(--wp--custom--gallery--caption--font-size);
}
.wp-block-image {
	/* Fix the image block - https://github.com/WordPress/gutenberg/issues/28923 */
	text-align: center;
}
ul, ol {
	padding-left: var(--wp--custom--list--spacing--padding--left);
}
.wp-block-quote.is-style-large p,
.wp-block-quote p {
	font-style: unset;
	margin-top: 0px;
}
.wp-block-quote.is-style-large .wp-block-quote__citation,
.wp-block-quote.is-style-large cite,
.wp-block-quote .wp-block-quote__citation,
.wp-block-quote cite {
	font-size: var(--wp--custom--quote--citation--typography--font-size);
	font-style: var(--wp--custom--quote--citation--typography--font-style);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	padding: var(--wp--custom--form--padding);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border--radius);
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
	padding: 0;
}
.wp-block-search .wp-block-search__input {
	padding: var(--wp--custom--form--padding);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button,
.wp-block-search .wp-block-search__button {
	border-width: 0;
	padding-top: calc( var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
	padding-bottom: calc( var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
	padding-left: calc( var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
	padding-right: calc( var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
	font-weight: var(--wp--custom--button--typography--font-weight);
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none;
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-radius: var(--wp--custom--button--border--radius);
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button svg,
.wp-block-search .wp-block-search__button svg {
	fill: var(--wp--custom--button--color--text);
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):hover, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):focus, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):hover,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):focus,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus {
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-color: var(--wp--custom--button--border--color);
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):hover svg, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):focus svg, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus svg,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):hover svg,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):focus svg,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus svg {
	fill: var(--wp--custom--button--color--text);
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button.has-icon,
.wp-block-search .wp-block-search__button.has-icon {
	line-height: 0;
}

.wp-block-separator {
	margin: var(--wp--custom--separator--margin);
	opacity: var(--wp--custom--separator--opacity);
}
.wp-block-separator:not(.is-style-wide) {
	width: var(--wp--custom--separator--width);
}

.wp-block-file .wp-block-file__button {
	border-width: 0;
	padding-top: calc( var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
	padding-bottom: calc( var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
	padding-left: calc( var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
	padding-right: calc( var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
	font-weight: var(--wp--custom--button--typography--font-weight);
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none;
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-radius: var(--wp--custom--button--border--radius);
	display: inline-block;
}
.wp-block-file .wp-block-file__button svg {
	fill: var(--wp--custom--button--color--text);
}
.wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color):hover, .wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color):focus, .wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color).has-focus {
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-color: var(--wp--custom--button--border--color);
}
.wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color):hover svg, .wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color):focus svg, .wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color).has-focus svg {
	fill: var(--wp--custom--button--color--text);
}
.wp-block-file .wp-block-file__button:hover, .wp-block-file .wp-block-file__button:focus, .wp-block-file .wp-block-file__button.has-focus {
	font-weight: var(--wp--custom--button--typography--font-weight);
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none;
}

.wp-block-table figcaption {
	font-size: var(--wp--custom--table--figcaption--typography--font-size);
	text-align: center;
}
.wp-block-table td, .wp-block-table th {
	border: 1px solid;
	padding: calc(0.5*var(--wp--custom--gap--vertical)) calc(0.5*var(--wp--custom--gap--horizontal));
}

.wp-block-video figcaption {
	margin: var(--wp--custom--video--caption--margin);
	text-align: var(--wp--custom--video--caption--text-align);
}

.wp-block-columns {
	margin-bottom: unset;
}

/* Post Meta */
.post-meta {
	row-gap: var(--wp--custom--gap--baseline) !important;
	border-top: 1px solid var(--wp--custom--color--border);
    padding-top: 1rem;
	border-bottom: 1px solid var(--wp--custom--color--border);
    padding-bottom: 1rem;
	margin-top: 3rem;
    margin-bottom: 3rem;
}
@media (max-width: 599px) {
	.post-meta {
    	justify-content: space-around !important;
	}
}
.post-meta .wp-block-post-author,
.post-meta .wp-block-post-date,
.post-meta .taxonomy-post_tag,
.post-meta .taxonomy-category {
	display: flex;
}
.wp-block-post-author__name {
    position: absolute;
	font-weight: 600;
}
.wp-block-post-author__byline {
    font-size: .75em !important;
    position: absolute;
    margin-top: 25px !important;
    background-image: url(svg/check-circle.svg);
    padding-left: 1.25rem;
    background-position: left;
    background-repeat: no-repeat;
	width: initial;
}
.post-meta .wp-block-post-author__name, .comment-author cite, .wp-block-comment-author-name {
    font-weight: bold;
}
.post-meta .wp-block-post-author img, .wp-block-post-author__avatar img {
    border-radius: 50%;
}
.post-meta .wp-block-post-date:before,
.post-meta .taxonomy-post_tag:before,
.post-meta .taxonomy-category:before,
.taxonomy-category.wp-block-post-terms:before,
.wp-block-post-date:before {
	align-self: center;
	content: '';
	display: inline-block;
	margin-right: calc(0.5 * var(--wp--custom--gap--baseline));
	height: 16px;
	width: 16px;
	mask-size: contain;
	-webkit-mask-size: contain;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	background-color: currentColor;
	margin-right: 0.5rem;
	vertical-align: middle;
}
.post-meta .wp-block-post-date:before, .wp-block-post-date:before {
	-webkit-mask-image: url(svg/calendar.svg);
	mask-image: url(svg/calendar.svg);
}
.post-meta .taxonomy-category:before, .taxonomy-category.wp-block-post-terms:before {
	-webkit-mask-image: url(svg/newspaper.svg);
	mask-image: url(svg/newspaper.svg);
}
.post-meta .taxonomy-post_tag:before {
	-webkit-mask-image: url(svg/post-tag.svg);
	mask-image: url(svg/post-tag.svg);
}

/* Custom Styles */
.wp-block-image.is-style-corners > img,
.wp-block-media-text.is-style-corners > figure.wp-block-media-text__media > img {
    border-radius: 8px;
}
.wp-block-media-text.is-style-rounded > figure.wp-block-media-text__media > img {
    border-radius: 50%;
} 
@media (min-width: 600px) {
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    	padding-left: 0;
	}
	.wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content {
    	padding-right: 0;
	}
}
@media (max-width: 599px) {
	.wp-block-post-content .alignfull > div:not(.alignfull) {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

/* Facts */
.facts {
    box-shadow: 0px 1px 24px rgb(131 131 131 / 20%);
    border-radius: 8px;
	border: 1px solid var(--wp--custom--facts--border--color);
}
.facts > .wp-block-column {
	padding: 1rem 0;
}
.facts > .wp-block-column:nth-of-type(2)  {
    border-left: 1px solid var(--wp--custom--color--border);
	border-right: 1px solid var(--wp--custom--color--border);
}
.facts > .wp-block-column > p {
    margin: 0.5rem 0;
}
.facts > .wp-block-column > p.has-huge-font-size {
    color: var(--wp--custom--heading--color--text);
}

/* Service */
.service > .wp-block-group:not(.has-background) {
    margin-top: -9rem;
}
.wp-block-columns.is-style-border-col > .wp-block-column {
	box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.08);
	border: 1px solid var(--wp--custom--color--border);
	backdrop-filter: blur(35px);
	border-radius: 8px;
	margin-bottom: 10px;
}
@media (max-width: 599px) {
	.service .wp-block-columns > .wp-block-column {
		margin: 1rem;
	}
}

/* Pricing */
.pricing .wp-block-columns > .wp-block-column {
	box-shadow: 0px 1px 5px 3px rgba(168, 123, 123, 0.06);
	border-radius: 16px;
	margin-bottom: 10px;
	border: 1px solid var(--wp--custom--color--border);
}
@media (max-width: 599px) {
	.pricing .wp-block-columns > .wp-block-column {
    	margin-top: 1rem;
		margin-bottom: 1rem;
	}
}
.pricing p.has-huge-font-size {
    margin-top: 0;
    margin-bottom: 0; 
	color: var(--wp--custom--heading--color--text);
}
.pricing p.has-huge-font-size > mark {
	font-size: var(--wp--preset--font-size--lead);
}
ul.is-style-check-list {
	margin-bottom: 2em;
    padding-left: 0;
}
ul.is-style-check-list > li {
	margin-bottom: 0.5rem;
    list-style: none;
    background: url(svg/check.svg) no-repeat;
    padding-left: 1.75rem;
    background-position: left 1px;
} 

/* Dark Feature CTA section */
.cta-dark.wp-block-columns {
	background-color: var(--wp--custom--feature-cta--color--background);
    color: var(--wp--custom--feature-cta--color--text);
    padding: 0;
	border-radius: 8px;
}
.cta-dark.wp-block-columns .wp-block-column.is-vertically-aligned-bottom .wp-block-image {
	display: flex;
    margin: 0;
}

/* Accordion, FAQ */
details {
    background: var(--wp--custom--color--background);
    padding: 1.5rem 2rem;
    border: 1px solid var(--wp--custom--color--border);
    border-radius: 8px;
}
details > summary {
	font-size: var(--wp--preset--font-size--lead);
    font-weight: bold;
    list-style: none;
    background-image: var(--wp--custom--details--background);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 2rem;
}
details[open] > summary {
	color: var(--wp--custom--color--primary);
	margin-bottom: 1rem;
	background-image: var(--wp--custom--details--close);
}
details > summary::-webkit-details-marker {
	background: none;
	color: transparent;
	width: 0;
	height: 0;
	margin-right: 0;
}

/* Mobile fixes */
@media (max-width: 599px) {
	footer .wp-block-columns > .wp-block-column {
    	padding: 1rem 0;
	}
}

/* Contact Form 7 */
.wpcf7-form > p > label {
	font-weight: bold;
}
@media (min-width: 600px) {
	.wpcf7-form > p {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.wpcf7-form > p:not(:nth-last-of-type(-n+3)) {
    	display: inline-block;
    	width: 49%;
	}
	.wpcf7-form > p:nth-last-of-type(-n+3) {
    	display: inline-block;
    	width: 98.5%;
	}
}
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="search"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="range"],
.wpcf7-form input[type="date"],
.wpcf7-form input[type="month"],
.wpcf7-form input[type="week"],
.wpcf7-form input[type="time"],
.wpcf7-form input[type="datetime"],
.wpcf7-form input[type="datetime-local"],
.wpcf7-form input[type="color"],
.wpcf7-form textarea {
	width: 100%;
}
.wpcf7 form .wpcf7-response-output {
    margin: 2em 0 1em;
    padding: 16px 24px;
	border-radius: 6px;
	font-weight: bold;
}
.wpcf7 form.init .wpcf7-response-output {
    display: none;
}
.wpcf7 form.sent .wpcf7-response-output {
    color: var(--wp--preset--color--secondary);
	background: rgba(33, 176, 123, 0.1);
}
.wpcf7 form.failed .wpcf7-response-output, .wpcf7 form.aborted .wpcf7-response-output,
.wpcf7 form.spam .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    color: var(--wp--custom--color--danger);
	background: rgba(240, 68, 68, 0.1);
}
.wpcf7-not-valid-tip {
    color: var(--wp--custom--color--danger);
    display: block;
	margin-top: 0.5rem;
	font-size: var(--wp--preset--font-size--small);
}
.wpcf7-form-control.wpcf7-not-valid {
    border-color: var(--wp--custom--color--danger);
}
.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

/* # sourceMappingURL=ponyfill.css.map */