<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"4.167%","bottom":"42px","top":"42px","left":"4.167%"}}}} -->
<main
  class="wp-block-group"
  style="
    padding-top: 42px;
    padding-right: 4.167%;
    padding-bottom: 42px;
    padding-left: 4.167%;
  "
>
  <!-- wp:query-title {"type":"archive"} /-->

  <!-- wp:template-part {"slug":"collections-grid","theme":"taina"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-full","tagName":"footer"} /-->
