<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:columns {"style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-columns">
  <!-- wp:column {"width":""} -->
  <div class="wp-block-column">
    <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"4.167%","bottom":"42px","top":"42px","left":"4.167%"}}}} -->
    <main
      class="wp-block-group"
      style="
        padding-top: 42px;
        padding-right: 4.167%;
        padding-bottom: 42px;
        padding-left: 4.167%;
      "
    >
      <!-- wp:query-title {"type":"archive"} /-->

      <!-- wp:template-part {"slug":"posts-list","theme":"taina"} /-->
    </main>
    <!-- /wp:group -->
  </div>
  <!-- /wp:column -->

  <!-- wp:column {"width":"426px","style":{"spacing":{"padding":{"top":"42px","right":"0px","bottom":"0px","left":"0px"}}}} -->
  <div
  class="wp-block-column"
  style="
    flex-basis: 426px;
    padding-top: 42px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
  >
  <!-- wp:template-part {"slug":"sidebar","tagName":"aside","theme":"taina"} /-->
</div>
<!-- /wp:column -->

  </div>
  <!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer-full","tagName":"footer"} /-->