<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0px","bottom":"0px","top":"0px","left":"0px"}}}} -->
<main
  class="wp-block-group"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>  
    <!-- wp:post-content {"layout":{"inherit":true,"contentSize":"750px","wideSize":"1100px"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-full","tagName":"footer"} /-->
