<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"24px"}},"layout":{"inherit":true}} -->
<main class="wp-block-group">
  <!-- wp:post-title {"level":1,"align":"wide"} /-->

  <!-- wp:group {"align":"wide","textColor":"primary","className": "post-meta-container","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"tiny"} -->
  <div
    class="wp-block-group post-meta-container alignwide has-primary-color has-text-color has-tiny-font-size"
  >
    <!-- wp:post-date /-->

    <!-- wp:post-author {"showAvatar":false, "style":{"spacing":{"padding": {"top": "10px", "right": "1.25em", "bottom": "10px", "left": "0.125em"}}}} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true,"contentSize":"750px","wideSize":"1100px"}} /-->

<!-- wp:pattern {"slug":"taina/post-author-box"} /-->

<!-- wp:pattern {"slug":"taina/post-categories-list"} /-->

<!-- wp:pattern {"slug":"taina/post-tags-list"} /-->

<!-- wp:template-part {"slug":"comments-section", "tagName": "section"} /-->

<!-- wp:template-part {"slug":"footer-full","tagName":"footer"} /-->
